<div ng-controller="addPolicySetCtr" class="content-height-fixer">
    <div layout="column" layout-align="start start" style="margin-bottom:64px;">
        <label class="new-policy-heading">1. Name your Policy Set.</label>
        <md-input-container class="md-block" style="margin-bottom:0px;">
            <label style="font-size:16px;">Name</label>
            <input style="font-size:16px;" name='policyName' md-autofocus ng-model="policy.name" required 
                   md-maxlength="100" ng-pattern="/^[a-zA-Z0-9 _.-]*$/"  ng-change="onNameChanged()"
                   >
            <div ng-messages="addPolicyForm.policyName.$error" role="alert">
                <div ng-message="required">This is required.</div>
                <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
                <div ng-message="md-maxlength">
                    Policy Set Name must be between 1 and 40 characters long.
                </div>
            </div>
        </md-input-container>
    </div>
    <div layout="column" ng-if="!sopTenant" layout-align="start start">
            <label class="new-policy-heading">2. Select a Tenant.</label>
            <div ng-show="selectedTenantObj.name" layout="row"  style="margin-top:24px;margin-bottom: 64px;">
                <label>
                {{selectedTenantObj.name}}
                 </label>
                <div style="margin-left: 10px" ng-click="callpopupTenats($event,selectedTenantObj.id)">
                    <md-icon class="edit-button-icon" >edit</md-icon>
                </div>  
            </div>
            
            <md-button style="margin-left: 0px !important;margin-top:24px; margin-bottom: 64px;" class="md-primary md-hue-3 addNewTypePolicy" 
                       ng-show="!selectedTenantObj"
                       ng-click="callpopupTenats($event)" id="securityPolicySetsTenantSelect">
                SELECT
            </md-button>
    </div>
    <div ng-if="sopTenant" layout="column" layout-align="start stretch">
            <label class="new-policy-heading" style="margin-bottom: 64px;">2. Tenant: {{selectedTenantObj.name}}</label>
    </div>
     <div layout="column" layout-align="start stretch">
        <label class="new-policy-heading"  style="margin-bottom: 20px;">3. Configure your policy set by adding policies</label>
            <md-table-container>
                <table md-table md-row-select ng-model="policyselected">
                    <thead md-head>
                        <tr md-row>
                            <th md-column>&nbsp;</th>
                            <th md-column>Policy Type</th>
                            <th md-column><span>Policy Name</span></th>
                            <th md-column><span></span></th>
                            <th md-column></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row 
                            ng-mouseenter="hover0 = true" 
                            ng-mouseleave="hover0 = false">
                            <td md-cell 
                                style="padding: 0 16px;width:100px;">
                                <span class="button-cluster"
                                      ng-class="{show : hover0}">
                                    <md-icon class="md-icon-button edit icon-18" 
                                             ng-hide="!policy.accessControlPolicy"
                                             ng-click="clearPolicy('accessControlPolicy')">clear
                                    </md-icon>
                                </span>
                                <span class="button-cluster"
                                      ng-class="{show : hover0}"
                                      ng-show="policy.accessControlPolicy" 
                                      style="cursor: pointer; margin-left: 10px"
                                      ng-click="callAccessControlPopup(null, aclDataRetrieved, accesscontrolpolicyList,$event, policy.accessControlPolicy.id)">
                                    <md-icon class="edit-button-icon icon-18" >edit</md-icon>
                                </span>  
                            </td>
                            <td md-cell>Access Control</td>
                            <td md-cell>
                                <span>
                                    <md-button style="margin-left: 0px !important" class="md-primary md-hue-3 addNewTypePolicy" 
                                               ng-hide="policy.accessControlPolicy"
                                               ng-disabled="!aclDataRetrieved" 
                                               ng-click="callAccessControlPopup(null, aclDataRetrieved, accesscontrolpolicyList)" id="accessControlPolicyAdd">
                                               <md-icon class="icon-18">add_circle_outline</md-icon>
                                        ADD
                                    </md-button>
                                    <div ng-show="policy.accessControlPolicy"  layout="row">
                                        <label>
                                        {{policy.accessControlPolicy.name}}
                                        </label>
                                    </div>
                                </span>
                            </td>
                            <td md-cell>&nbsp;</td>
                            <td md-cell>&nbsp;</td>
                        </tr>
                        <tr md-row 
                            ng-mouseenter="hover1 = true" 
                            ng-mouseleave="hover1 = false">
                            <td md-cell 
                                style="padding: 0 16px;width:100px;">
                                <span class="button-cluster"
                                      ng-class="{show : hover1}">
                                    <md-icon class="md-icon-button edit icon-18" 
                                             ng-class=""
                                             ng-hide="!policy.malwarePolicy"
                                             ng-click="clearPolicy('malwarePolicy')">
                                             clear
                                    </md-icon>
                                </span>
                                <span style="margin-left: 10px"
                                    class="button-cluster"
                                    ng-class="{show : hover1}"
                                    ng-show="policy.malwarePolicy.name"
                                    ng-click="callMalwarePopup(policy.malwarePolicy.id, malwareDataRetrieved, malwarepolicyList)">
                                    <md-icon class="edit-button-icon icon-18" >edit</md-icon>
                                </span>
                            </td>
                            <td md-cell>Malware</td>
                            <td md-cell >
                                <span>
                                    <md-button style="margin-left: 0px !important" class="md-primary md-hue-3 addNewTypePolicy" 
                                               ng-show="!policy.malwarePolicy"
                                               ng-disabled="!malwareDataRetrieved" 
                                               ng-click="callMalwarePopup(null, malwareDataRetrieved, malwarepolicyList)" id="malwareAdd">
                                        <md-icon class="icon-18">add_circle_outline</md-icon>
                                        ADD
                                    </md-button>
                                    <div ng-show="policy.malwarePolicy.name"  layout="row">
                                        <label>
                                        {{policy.malwarePolicy.name}}
                                        </label>
                                    </div>
                                </span>
                            </td>
                            <td md-cell>&nbsp;</td>
                            <td md-cell>&nbsp;</td>
                        </tr>
                        <tr md-row 
                            ng-mouseenter="hover2 = true" 
                            ng-mouseleave="hover2 = false">
                            <td md-cell 
                                style="padding: 0 16px;width:100px;">
                                <span class="button-cluster"
                                      ng-class="{show : hover2}">
                                    <md-icon class="md-icon-button edit icon-18" 
                                             ng-class=""
                                             ng-hide="!policy.threatPreventionPolicy"
                                             ng-click="clearPolicy('threatPreventionPolicy')">
                                             clear
                                    </md-icon>
                                </span>
                                <span style="margin-left: 10px"
                                    class="button-cluster"
                                    ng-class="{show : hover2}"
                                    ng-show="policy.threatPreventionPolicy.name"
                                    ng-click="callThreatDetectionPopup(policy.threatPreventionPolicy.id, threatDetectionDataRetrieved, threatpreventionpolicyList)">
                                    <md-icon class="edit-button-icon icon-18" >edit</md-icon>
                                </span>
                            </td>
                            <td md-cell>Threat Prevention</td>
                            <td md-cell >
                                <span>
                                    <md-button style="margin-left: 0px !important" class="md-primary md-hue-3 addNewTypePolicy" 
                                               ng-show="!policy.threatPreventionPolicy"
                                               ng-disabled="!threatDetectionDataRetrieved" 
                                               ng-click="callThreatDetectionPopup(null, threatDetectionDataRetrieved, threatpreventionpolicyList)" id="threatPreventionPolicyAdd">
                                        <md-icon class="icon-18">add_circle_outline</md-icon>
                                        ADD
                                    </md-button>
                                    <div ng-show="policy.threatPreventionPolicy.name"  layout="row">
                                        <label>
                                        {{policy.threatPreventionPolicy.name}}
                                        </label>
                                    </div>
                                </span>
                            </td>
                            <td md-cell>&nbsp;</td>
                            <td md-cell>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
    </div>    
    <md-divider style="margin-bottom:24px;"></md-divider>
    <div layout="column" layout-align="start start">
        <md-dialog-actions layout="row" layout-align="space-around">
            <span flex></span>
            <md-button class="md-accent md-hue-3 deployment-button" 
                       ng-click="cancel()">
                CANCEL
            </md-button>
                                                       <!--ng-disabled="disableAddButton"-->
            <md-button class="md-accent md-raised deployment-button" 
                       ng-click="addSecurityPolicy()" ng-disabled="disablAdd"
                       style="color: #FFFFFF;" >
                ADD &nbsp; 
                <md-progress-circular  ng-show="showSPSCreationProgress"  class="md-hue-1" md-diameter="15px"></md-progress-circular>
            </md-button>
        </md-dialog-actions>
    </div>
</div>
<style type="text/css">
table.md-table tbody.md-body>tr.md-row:hover {
    background-color: #f7f7f7 !important;
    cursor: pointer;
}
</style>