<div ui-view> 
    <form name="editPolicyForm" novalidate="true">
        <div layout="column" layout-align="start stretch" class="content-height-fixer admin-page">
            <div class="admin-page-policies-header add-policy-set policy-table-page">
                <md-content>
                    <md-toolbar layout="row" layout-align="space-between none" class="admin-toolbar">
                        <div style="font-size: 16px;">
                            <span class="policy-set-title-prev link"
                                  ui-sref="home.policy.policylist.securitypolicyset"
                                  style="cursor:pointer;"
                                  >{{ 'admin.policysets.heading' | translate}}</span>
                            <md-icon class="grey-icon" style="color: #6d6e71;opacity: 0.6;">keyboard_arrow_right</md-icon>
                            <span class="policy-set-title-curr">{{ 'admin.policysetdetails.heading' | translate}}</span>
                        </div>
                    </md-toolbar>
                    <section layout="row" class="edit-name-tenant">
                        <div layout="column" class="policy-header-details edit-name">
                            <span>
                                <div class="edit-heading">Policy Name</div>
                                <label ng-hide="editPolicyName" >{{policy.name}}</label>
                                <md-input-container 
                                    class="elem-width-small" 
                                    ng-show="editPolicyName"
                                     ng-if="is_update_policy"
                                    style="margin:0px; width: 80%;">
                                    <input name='policyName' ng-model="policy.name" required  style="font-size:16px;">
                                    <div ng-messages="editPolicyForm.policyName.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                                <span ng-if="is_update_policy">
                                    <md-icon class="icon-18 md-icon-button edit" 
                                             ng-hide="editPolicyName" 
                                             ng-click="setEditMode('editPolicyName', true)" id="editSpsNameIcon"
                                             style="opacity:0.6;">edit</md-icon>
                                    <md-icon class="icon-18 md-icon-button" 
                                             ng-show="editPolicyName"
                                             ng-click="updatePolicyName(policy.name)">
                                        done
                                    </md-icon>
                                </span>
                            </span>
                        </div>
                        <div layout="column" class=" policy-header-details edit-name-tenant">
                            <div class="edit-heading">Tenant</div>
                            <div class="tenant-selected">
                                <span>{{selectedTenantObj.name}} 
                                    <md-icon class="icon-18 material-icons" ng-if="is_update_policy"
                                    ng-click="editTenantPopUp($event,selectedTenantObj.id)" id="editSpsTenantIcon" style="opacity:0.6;">edit</md-icon>
                                </span>
                            </div>
                        </div>
                        <div layout="column" class="policy-header-details">
                              <div class="edit-heading">Created By</div>
                              <span>-</span>
                        </div>
                        <div layout="column" class="policy-header-details">
                              <div class="edit-heading">Last Updated</div>
                              <span>{{policy.modifiedDate}}</span>
                        </div>
                    </section>
                    <md-divider class="rule-divider"></md-divider>
                </md-content>
                <div flex></div>
                <md-content>
                    <div layout="column" layout-align="start stretch">
                        <label class="new-policy-heading">Policies</label>
                        <md-table-container>
                            <table md-table md-row-select ng-model="policyselected" class="sps-details-table">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column></th>
                                        <th md-column><span>Policy Type</span></th>
                                        <th md-column><span>Policy Name</span></th>
                                        <th md-column></th>
                                        <th md-column></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row 
                                        ng-mouseenter="hover0 = true" 
                                        ng-mouseleave="hover0 = false">
                                        <td md-cell 
                                            style="padding: 0 16px;width:100px;">
                                            <span class="button-cluster"
                                                  ng-class="{show : hover0}">
                                                <md-icon class="icon-18 md-icon-button edit " 
                                                         ng-hide="!policy.accessControlPolicyId"
                                                         ng-if="is_update_policy"
                                                         ng-click="clearPolicy('accessControlPolicyId')">clear
                                                </md-icon>
                                                <md-tooltip md-delay="250" md-direction="top">
                                                    Clear Policy
                                                </md-tooltip>
                                            </span>
                                            <span ng-show="policy.accessControlPolicyId"
                                                ng-if="is_update_policy"
                                                class="button-cluster"
                                                ng-class="{show : hover0}"
                                                style="cursor: pointer; margin-left: 10px"
                                                ng-click="callAccessControlPopup(policy.accessControlPolicyId, aclDataRetrieved, accesscontrolpolicyList,$event, policy.accessControlPolicyId)"
                                                id="spsAclDetailsIcon">
                                                <md-icon class="icon-18 edit-button-icon" >edit</md-icon>
                                            </span>
                                        </td>
                                        <td md-cell>Access Control</td>
                                        <td md-cell>
                                            <span>
                                                <md-button style="margin-left: 0px !important" class="md-primary md-hue-3 addNewTypePolicy" 
                                                           ng-hide="policy.accessControlPolicyId"
                                                            ng-if="is_update_policy"
                                                           ng-disabled="!aclDataRetrieved" 
                                                           ng-click="callAccessControlPopup(null, aclDataRetrieved, accesscontrolpolicyList)" id="spsAclDetailsAdd">
                                                           <md-icon class="icon-18">add_circle_outline</md-icon>
                                                    ADD
                                                </md-button>
                                                <div ng-show="policy.accessControlPolicyId"  layout="row">
                                                    <label>
                                                    {{accesscontrolpolicy.name}}
                                                    </label>
                                                </div>
                                            </span>
                                        </td>
                                        <td md-cell>&nbsp;</td>
                                        <td md-cell>&nbsp;</td>
                                    </tr>
                                    <tr md-row 
                                        ng-mouseenter="hover1 = true" 
                                        ng-mouseleave="hover1 = false">
                                        <td md-cell 
                                            style="padding: 0 16px;width:100px;">
                                            <span class="button-cluster"
                                                  ng-class="{show : hover1}">
                                                <md-icon ng-if="is_update_policy" class="md-icon-button edit icon-18" 
                                                         ng-class=""
                                                         ng-hide="!policy.malwarePolicyId"
                                                         ng-click="clearPolicy('malwarePolicyId')">clear
                                                </md-icon>
                                                <md-tooltip md-delay="250" md-direction="top">
                                                    Clear Policy
                                                </md-tooltip>
                                            </span>
                                            <span ng-show="policy.malwarePolicyId"
                                                class="button-cluster"
                                                ng-class="{show : hover1}"
                                                style="margin-left: 10px"
                                                ng-if="is_update_policy"
                                                ng-click="callMalwarePopup(policy.malwarePolicyId, malwareDataRetrieved, malwarepolicyList)"
                                                id="spsMalDetailsIcon">
                                                <md-icon class="edit-button-icon icon-18" >edit</md-icon>
                                            </span>
                                        </td>
                                        <td md-cell>Malware</td>
                                        <td md-cell >
                                            <span>
                                                <md-button ng-if="is_update_policy" style="margin-left: 0px !important" class="md-primary md-hue-3 addNewTypePolicy" 
                                                           ng-show="!policy.malwarePolicyId"
                                                           ng-disabled="!malwareDataRetrieved" 
                                                           ng-click="callMalwarePopup(null, malwareDataRetrieved, malwarepolicyList)" id="spsMalDetailsAdd">
                                                    <md-icon class="icon-18">add_circle_outline</md-icon>
                                                    ADD
                                                </md-button>
                                                <div ng-show="policy.malwarePolicyId"  layout="row">
                                                    <label>
                                                    {{malwarepolicy.name}}
                                                    </label> 
                                                </div>
                                            </span>
                                        </td>
                                        <td md-cell>&nbsp;</td>
                                        <td md-cell>&nbsp;</td>
                                    </tr>
                                    <tr md-row 
                                        ng-mouseenter="hover2 = true" 
                                        ng-mouseleave="hover2 = false">
                                        <td md-cell 
                                            style="padding: 0 16px;width:100px;">
                                            <span class="button-cluster"
                                                  ng-class="{show : hover2}">
                                                <md-icon ng-if="is_update_policy" class="md-icon-button edit icon-18" 
                                                         ng-class=""
                                                         ng-hide="!policy.threatPreventionPolicyId"
                                                         ng-click="clearPolicy('threatPreventionPolicyId')">clear
                                                </md-icon>
                                                <md-tooltip md-delay="250" md-direction="top">
                                                    Clear Policy
                                                </md-tooltip>
                                            </span>
                                            <span class="button-cluster"
                                                ng-class="{show : hover2}"
                                                ng-show="policy.threatPreventionPolicyId"
                                                ng-if="is_update_policy"
                                                style="margin-left: 10px"
                                                ng-click="callThreatDetectionPopup(policy.threatPreventionPolicyId, threatDetectionDataRetrieved, threatpreventionpolicyList)" 
                                                id="spsThreatDetailsIcon">
                                                <md-icon class="icon-18 edit-button-icon" >edit</md-icon>
                                            </span>
                                        </td>
                                        <td md-cell>Threat Prevention</td>
                                        <td md-cell >
                                            <span>
                                                <md-button ng-if="is_update_policy" style="margin-left: 0px !important" class="md-primary md-hue-3 addNewTypePolicy" 
                                                           ng-show="!policy.threatPreventionPolicyId"
                                                           ng-disabled="!threatDetectionDataRetrieved" 
                                                           ng-click="callThreatDetectionPopup(null, threatDetectionDataRetrieved, threatpreventionpolicyList)" id="spsThreatDetailsAdd">
                                                    <md-icon class="icon-18">add_circle_outline</md-icon>
                                                    ADD
                                                </md-button>
                                                <div ng-show="policy.threatPreventionPolicyId"  layout="row">
                                                    <label>
                                                    {{threatpreventionpolicy.name}}
                                                    </label>  
                                                </div>
                                            </span>
                                        </td>
                                        <td md-cell>&nbsp;</td>
                                        <td md-cell>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </div>
                </md-content>
            </div>
        </div>
    </form>
</div>
<style type="text/css">
table.sps-details-table.md-table.md-row-select td.md-cell:first-child {
   display: none;
}
</style>