<div layout="column" layout-align="start stretch" class="content-height-fixer admin-page admin-page-policies-list">
    <md-content style="height: 100%;">
        <md-tabs md-dynamic-height md-border-bottom md-selected="currentTab">
            <md-tab label="Access Control" id="accessControlTab" ui-sref="home.policy.policylist.accesscontrol">
                <div ui-view="accesscontrol" class="policy-view"></div>
            </md-tab>
            <md-tab label="Threat Prevention"  id="threatControlTab" ui-sref="home.policy.policylist.threatdetection">
                <div ui-view="threatdetection" class="policy-view"></div>
            </md-tab>
            <md-tab label="Malware Policy" id="malwareControlTab"  ui-sref="home.policy.policylist.malware" >
                <div ui-view="malware"  class="policy-view">
                </div>
            </md-tab>
            <md-tab label="Security Policy Sets" id="spsControlTab"  ui-sref="home.policy.policylist.securitypolicyset">
                <div ui-view="securitypolicyset" class="policy-view"></div>
            </md-tab>
            <md-tab label="Global Threat Configuration" id="gtcControlTab"  ui-sref="home.policy.policylist.globalthreat">
                <div ui-view="globalthreat"></div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>