<md-dialog aria-label="List dialog" class="threat-dialog">
    <md-dialog-content>

        <div layout="column">
            <div layout="row" class="dialog-header">
                <h3>Threat References for {{threatName}}</h3>
            </div>
            <div flex></div>
            <div class="search-container-box" layout="row" layout-align="space-between center">
                <div id="ip-config-dialog-network-count">
                    <div class='fullCheck' >
                        <span>{{items.length}} References<span>
                    </div>
		        </div>
                <!-- <md-input-container id="ip-config-dialog-search-input">
                    <input ng-model="networkName" type="text">                     
                </md-input-container> 
                <i class="material-icons dialog-search-icon">search</i>  -->
                <div class="search-div-host">
                    <search datalist='items' searchconfig='{listname:"items", searchkeylocale: "!", key: "type"}' showicon='true'></search>  
                </div>
                
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" class="ip-config-dialog-content nopadding">
        <div class="heading" layout="row" layout-align="start center">
            <div style="width: 120px;padding-left: 24px;">ID(Ref Link)</div>
            <div style="width: 150px;">Type</div>
            <div>URL</div>
        </div>
        <div class="datarepeatdiv" ng-repeat="item in items" layout="row" layout-align="space-between center">
            <div class="datadiv" layout="row" layout-align="start center">
                <div style="width: 120px;padding-left: 24px;color: #4a90e2">{{ item.id}}</div>
                <div style="width: 150px;">{{ item.type}}</div>
                <div>{{ item.URL}}</div>
            </div>
            <div class="openlink" layout="row" layout-align="end start" style="padding-right: 24px;">
                <a ng-href="{{item.URL}}" target="_blank"><md-icon style="font-size: 14px;margin: 8px 0 0 0;">open_in_new</md-icon></a>
            </div>
         </div>
        </div>
        <md-divider></md-divider>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-around">
            <span flex style="color: #4a90e2;font-size: 14px;margin: 10px 0 0 7px;">Open in new Window <md-icon style="font-size: 14px;margin: 8px 0 0 4px;">open_in_new</md-icon></span>
            <md-button class="md-accent md-hue-3 deployment-button" ng-click="cancelDialogue()">
                Close
            </md-button>
            <!-- <md-button class="md-accent md-raised deployment-button" ng-click="doneHosts()" style="color: #FFFFFF;">
                DESIGNATE
            </md-button> -->
    </md-dialog-actions>
</md-dialog></span>
<style type="text/css">
.heading{
    height: 56px;
    border-bottom: rgba(109, 110, 113, 0.2) solid 1px;    
}
.heading div{
    font-size: 13px;
    color: #6d6e71;
}
.datarepeatdiv{
    height: 48px;
    border-bottom: rgba(109, 110, 113, 0.2) solid 1px;
}
.nopadding{
    padding: 0px;
}
.datadiv{
    font-size: 14px;
}
</style>