.groups-button {
    margin-left: 0px;
    margin-right: 0px;
    padding: 12px 16px;
    color: #FFFFFF !important;
    font-size: 16px;
    text-transform: none;

    md-icon {
        color: #FFFFFF !important;
        margin-right: 5px;
        margin-top: -4px;
    }
}