.admin-page-syslogs-list {
    md-pagination-wrapper {
        margin-left: 24px;
    }
    md-tabs .md-tab {
        color: #4a90e2 !important;
    }
}

.syslog-table-page {
    margin: 24px;
    .admin-toolbar {
        padding: 4px 0px 20px 0px;
    }
    .admin-page-syslog-header {
        margin-top: 20px;
        .admin-policy-table-toolbar {
            height: 24px;
            background: #FFFFFF;
            font-family: Roboto;
            font-size: 20px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            color: #000000;
            .update-policy {
                width: 69px;
                height: 36px;
                border-radius: 2px;
                background-color: #4a90e2;
                span {
                    width: 37px;
                    height: 16px;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: 0.5px;
                    color: #ffffff
                }
            }
            .update-policy[disabled] {
                background-color: #4a90e2 !important;
                opacity: 0.38;
                color: #FFF !important;
            }
        }
    }
    .addNewSyslogProfile {
        width: 80px;
        height: 36px;
        border-radius: 2px;
        border: solid 1px #4a90e2;
        padding-right: 24px;
        margin-left: 24px !important;
        .material-icons {
            width: 18px;
            height: 18px;
            color: #4a90e2 !important;
        }
        span {
            color: #4a90e2 !important;
        }
    }
    .syslog-table-headings {
        margin-bottom: 20px;
    }
}

.add-new-policy {
    .admin-toolbar {
        padding: 4px 0px 20px 0px;
        font-weight: normal;
    }
    .new-policy-heading {
        height: 24px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        color: #000000;
        display: block;
        margin-bottom: 34px;
    }
    .new-policy-header{
        height: 24px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        color: #000000;
    }
    .select-tenant {
        label{
            height: 16px;
            font-family: Roboto;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            color: #6d6e71;
            margin-bottom:12px;
        }
        .select-tenant-button {
            width: 82px;
            height: 36px;
            border-radius: 2px;
            border: solid 1px #4a90e2;
            margin-bottom:18px;
            span {
                height: 18px;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.71;
                color: #4a90e2;
            }
        }
        .selected-tenant-name {          
            margin-bottom:18px;
        }
    }
}

.duplicate-policy {
    width: 356px;
    padding-right: 20px;
    height: 218px;
    border-radius: 2px;
    background-color: #ffffff;
    md-dialog-content {
        height: 100%;
        margin-left: 24px;    
    }
    .duplicate-policy-title {
        height: 24px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        color: #000000;
        margin-top: 20px;
    }
    .duplicate-policy-input {
        margin-top: 14px;
        padding-bottom: 0px;
        label {
            color: #4a90e2 !important;
        }
        label {
            width: 99px;
            font-family: Roboto;
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            color: #4a90e2;
        }
        input {
            border-color: #4a90e2 !important;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            color: #000000;
        }
    }
    .cancel-button {
        background: none;
        span {
            width: 57px;
            height: 16px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.5px;
            text-align: justify;
            color: #4a90e2;
        }
    }
    .duplicate-button {
        width: 110px;
        height: 36px;
        border-radius: 2px;
        background-color: #4a90e2;
        span {
            width: 78px;
            height: 16px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 0.5px;
            text-align: center;
            color: #ffffff;
        }
    }
    .clear-button {
        cursor: pointer;
    }
}

.policy-table-headings {
    margin-bottom: 20px;
    margin-top: 20px;
    .malware-engine {
        margin-left: 188px;
        height: 15px;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        color: #000000;
    }
    .action-threshold {
        margin-left: 752px;
        height: 15px;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        color: #000000;
    }
}
    .add-policy-set{
        .policy-set-title-prev{
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            color: #4a90e2;
        }
        .policy-set-title-curr{
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            color: #000000;
        }
/*        .md-input {
            border-color: #fff;
        }*/
    }


.add-profile-dialog {
    min-width: 1000px;
    max-height: 800px;
    max-width: 1000px;
    padding: 0px;
}

.add-recipient-dialog {
    min-width: 600px;
    max-height: 400px;
    max-width: 650px;
    padding: 0px;
}

.policy-title {
    color: #4a90e2;
    cursor: pointer;
}
