$font-stack:  Roboto, Helvetica, sans-serif;

/* base */
$black: #000;
$white: #FFF;

/* hues */

$light-grey-hue-1: #fbfbfb;
$light-grey-hue-2: #f7f7f7;
$light-grey-hue-3: #eeeeee;
$slate-grey: #6d6e71;

/* accent colours */

$maize: #f3c444;
$faded-orange: #f37864;
$tomato: #e74c3c;
$pinkish-red: #ee1c25;
$turquoise: #01bcb1;
$lipstick : #dd2c3c;

$dark-sky-blue : #4a90e2;
$coral : #ff4949;
$seaweed : #13ce66;
$light-grey-2 : #f7f7f7;