<!--SCREEN FOR ADDING DEPLOY SPEC-->
<md-dialog aria-label="Add User"  ng-cloak class="fullscreen-dialog">
    
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
                <h2>{{'admin.addUser.title'| translate}}</h2>
                <span flex></span>
                <md-button class="md-accent md-raised modal-done-button" ng-click = "addUser()" ng-disabled="!isFormValid()">
                    Add
                </md-button>
            </div>
        </md-toolbar>
    <md-dialog-content style="padding:0px;">
        <section layout="row" flex flex-offset="10">
            <md-content flex layout-padding 
                        layout="column" layout-align="start"
                        class="content-height-fixer">
                <section>
                    <div class='qs-header-text-container'>{{'admin.addUser.title'| translate}}
                        <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('admin_users_manageUsers_help')" style="padding-left:10px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                    </div>
                    <div class='quick-setup-form'>

                        <form name="userForm" novalidate="true">
                            <div layout-gt-sm="column">

                                <md-input-container class="md-block" >
                                    <label>{{user_login}}</label>
                                    <input name='login' md-autofocus ng-model="user.login" required 
                                           ng-pattern="/^[a-zA-Z0-9.-]*$/"
                                           md-maxlength="40"
                                           >
                                    <div ng-messages="userForm.login.$error" role="alert">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
                                        <div ng-message="md-maxlength">
                                            Login must be between 1 and 40 characters long.
                                        </div>
                                    </div>
                                </md-input-container>
                                 <md-input-container class="md-block" >
                                    <label>{{user_name}}</label>
                                    <input name='name' md-autofocus ng-model="user.name" required 
                                           ng-pattern="/^[a-zA-Z0-9.-]*$/"
                                           md-maxlength="40"
                                           >
                                    <div ng-messages="userForm.name.$error" role="alert">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
                                        <div ng-message="md-maxlength">
                                            Name must be between 1 and 40 characters long.
                                        </div>
                                    </div>
                                </md-input-container>
                                 <section layout="row">
                                    <md-input-container class="md-block" flex="50" >
                                        <label>{{auth_type}}</label>
                                        <md-select name='authType' ng-model="user.authType" required>
                                            <md-option ng-repeat="type in authentication.types" value="{{type.value}}">
                                                {{type.name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="userForm.authType.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <div layout="column" flex="50"></div>
                                </section>
                                <!-- </md-input-container> -->
                                <md-input-container class="md-block" ng-show="user.authType !== 'LOCAL'">
                                    <label>{{user_fqdn}}</label>
                                    <input name='userFqdn'  ng-model="user.userDN" required >
                                    <div ng-messages="userForm.userFqdn.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                                <section layout="row">
                                    <md-input-container class="md-block" flex="50" >
                                        <label>{{user_role}}</label>
                                        <md-select name='role' ng-model="user.role" required>
                                            <md-option ng-repeat="type in role.types" value="{{type.value}}">
                                                {{type.name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="userForm.role.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <div layout="column" flex="50"></div>
                                </section>
                                <section layout="row">
                                    <md-input-container class="md-block" >
                                        <label>{{user_password}}</label>
                                        <input type='{{pwdType}}' name='userPassword' ng-model="user.password" required >
                                        <div ng-messages="userForm.userPassword.$error" role="alert">
                                            <div ng-message='required'>
                                                This is required.
                                            </div>
                                        </div>                                  
                                    </md-input-container>
                                    <md-icon ng-click='togglePasswordType()' ng-show="pwdType==='password'" ng-disabled="((user.authType) && (!changedData))? true: setPreExistingUser" class="show-key">visibility</md-icon>
                                    <md-icon ng-click='togglePasswordType()' ng-show="pwdType === 'text'" ng-disabled="((user.authType) && (!changedData)) ? true : setPreExistingUser" class="show-key">visibility_off</md-icon>
                                </section>
                            </div>
                        </form>
                    </div>
                </section>
            </md-content>
            
            <!-- help panels [start] -->
   
    <helpcontainer contentid="active_help_id" excesscomponent="1.1" ></helpcontainer>

    <!-- help panels [end] -->
    
        </section>
    </md-dialog-content>
   
</md-dialog>
