<section layout="row" flex flex-offset="10">
<div layout="column" layout-align="start center" flex class="shieldx-updates">
    <div class="admin-page-component-header">
        Shieldx Updates<md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('admin_system_sx_updates_help')" style="float:right;" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
    </div>

    <md-divider class="elem-width-large"></md-divider>

    <section layout="column" class="single-col-component elem-width-large" ng-if="is_shieldx_upgrade">
        <!-- section layout="row" layout-align="space-between stretch"-->
            <div>
                <h3>Deployed Microservices and Software versions</h3>
            </div>
        <!--/section-->
        <md-content>
            <li ng-repeat="swversion in swversions">
                <label class="admin-page-component-label">{{swversion.microservice}}</label> <b>:</b> <label class="admin-page-component-label">{{swversion.swversion}}</label>
            </li>
        </md-content>
    </section>


    <section layout="column" class="single-col-component elem-width-large" ng-if="is_shieldx_upgrade">
        <!-- section layout="row" layout-align="space-between stretch"-->
        <div>
            <h3>Latest available software updates</h3>
        </div>
        <!--/section-->
        <section layout="row" layout-align="space-between stretch" ng-if="latetsswversions > 0">
            <md-content>
                <li ng-repeat="latestswversion in latetsswversions">
                    <label class="admin-page-component-label">{{latestswversion.microservice}}</label> <b>:</b> <label class="admin-page-component-label">{{latestswversion.swversion}}</label>
                </li>
            </md-content>
            <md-button class="md-accent md-raised qs-next update-software"
                       ng-click = "callUpgradeSoftware(); disableUpgradeSoftware = true;"
                       ng-disabled="disableUpgradeSoftware">
                Upgrade Software
            </md-button>
        </section>

        <div  ng-if="latetsswversions.length === 0" layout="row" class="no-latest-sw">
            <span class="add-no-latest-sw-text">Software is upto date</span>
        </div>
    </section>


    <section layout="column" class="single-col-component elem-width-large" ng-if="is_shieldx_upgrade">
        <md-content class="md-block elem-width-large">
            <md-checkbox
                    ng-model="swupgrade.deployhotfix"
                    aria-label="hfbuild">
                Deploy Hot fix build?
            </md-checkbox>
        </md-content>

        <div ng-show="swupgrade.deployhotfix">
            <md-input-container class="md-block">
                <label>Enter the Hotfix build version</label>
                <input name='hfbuild' ng-model='swupgrade.hotfix' required>
            </md-input-container>
        </div>
    </section>

    <section layout="row" class="single-col-component elem-width-large" layout-align="end end">
        <section layout="row" layout-align="space-between stretch">
            <label class="admin-page-component-label">
            </label>
            <md-button ng-if="swupgrade.deployhotfix" class="md-accent md-raised qs-next update-software"
                       ng-click = "deployHotfixBuild();  disableDeployPatch = true;"
                       ng-disabled="disableDeployPatch || !swupgrade.hotfix">
                Deploy Patch
            </md-button>
            <!--
            <md-button ng-if="!swupgrade.deployhotfix" class="md-accent md-raised qs-next update-software"
                       ng-click = "callUpgradeSoftware(); disableUpgradeSoftware = true;"
                       ng-disabled="disableUpgradeSoftware">
                Upgrade Software
            </md-button>
            -->
        </section>
    </section>

    <md-divider class="elem-width-large"></md-divider>
    <section layout="column"  class="single-col-component elem-width-large" ng-if="is_content_update">
        <section layout="row" layout-align="space-between stretch">
            <label class="admin-page-component-label">
                Content
            </label>
            <md-button  class="md-accent md-raised qs-next update-content" 
                       ng-click = "callUpgradeContent();  disableUpgradeContent = true;" 
                       ng-disabled="disableUpgradeContent">
                Update Content
            </md-button>
        </section>
    </section>

    <md-divider class="elem-width-large"></md-divider>
    <section layout="column"  class="single-col-component elem-width-large" ng-if="is_content_update">
        <section layout="row" layout-align="space-between stretch">
            <label class="admin-page-component-label">
                URL Filtering
            </label>
            <md-button class="md-accent md-raised qs-next update-content" 
                       ng-click = "callpopupToUploadUrlFilteringContent()">
                Import CSV File
            </md-button>         
        </section>
    </section>
    <section layout="column"  class="single-col-component elem-width-large" ng-if="is_content_update">
        <section layout="row" layout-align="end end">
            <md-button class="md-accent md-raised qs-next update-content" 
                       ng-click = "exportUrlContent()">
                Export CSV File
            </md-button>            
        </section>
    </section>

</div>
<helpcontainer contentid="active_help_id" ></helpcontainer>
</section> 