<section layout="row">
    <md-content flex layout-padding layout="column" class="content-height-fixer">
        <md-content flex layout-padding layout = 'row'  layout-align="center center">
            <button class="arrows prev md-icon-button md-primary md-button md-ink-ripple" type="button" ng-click="nextSlide()">
                <md-icon>keyboard_arrow_left</md-icon>
            <div class="md-ripple-container"></div>
            </button>
            <div layout-gt-sm="column" layout-align="center center" class="wizard-container">
                <div class="container slider">
                    <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
                        ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
                </div>
                <nav class="nav">
                    <div class="wrapper">
                        <ul class="dots">
                            <li class="dot" ng-repeat="slide in slides">
                                <span ng-class="{'active':isCurrentSlideIndex($index)}"
                                   ng-click="setCurrentSlideIndex($index);">{{slide.description}}</span></li>
                        </ul>
                    </div>
                </nav>
                <div ng-show="resumeWizard" style="color: #4a90e2;position: relative; top: 48px;"><span style="font-weight: 600;">Heads up!</span> You have an unfinished connector ({{infraName}}) setup saved. Would you like to resume setting up this connector?</div>
                <section layout="row" layout-align="center end" ng-hide="resumeWizard">
                    <md-button class="md-accent md-raised tomato-button start-button begin-setup-button" ng-click="startNew()">
                        Start
                    </md-button>
                </section>
                <section ng-show="resumeWizard" layout="row" layout-align="center end" style="width: 100%;position: relative;top: 50px;">
                    <md-button ng-click="startNew()" style="background: #ffffff; border: rgb(74,144,226) solid 1px; color: rgb(74,144,226);" flex="20">
                        Delete &amp; Start new
                    </md-button>
                    <md-button class="md-accent md-raised tomato-button" ng-click="resume()" flex="20">
                        Resume
                   </md-button>
                </section>
            </div>
            <button class="arrows next md-icon-button md-primary md-button md-ink-ripple" type="button" ng-click="prevSlide()">
                <md-icon>keyboard_arrow_right</md-icon>
            <div class="md-ripple-container"></div>
            </button>
        </md-content>
    </md-content>
    <div ng-if="showHelp">
    <helpcontainer contentid="active_help_id" excessComponent="1" ></helpcontainer>
   </div>

</section>