<div layout="column">
<quicksetupheader values='headerValues'></quicksetupheader>
<section layout="row" flex-offset="10" id="quick-setup-deployment-specification">
    <md-content flex layout-padding layout="column" class="content-height-fixer">
        <div class="qs-header-text-container">
            {{ 'wizardinfrastucture.main_header' | translate}} <md-icon class="icon-18 light-bulb" ng-click="helpButtonClicked('deploy_spec_title_help_wizard')" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
        </div> 
        
        <form name="deploymentForm" novalidate="true" class="deployment-form">
            <div layout-gt-sm="column">
                <md-input-container class="md-block elem-width-medium">
                    <label>Name this deployment specification</label>
                    <input 
                        autofocus
                        md-maxlength="40"
                        name='deploymentName' 
                        id="deploymentNameID"
                        ng-model="deployment.name" 
                        ng-pattern="/^[a-zA-Z0-9.-]*$/"
                        required>
                    <div ng-messages="deploymentForm.deploymentName.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                        <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>

                    </div>
                    <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('deploy_spec_naming_help_wizard')" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                </md-input-container>
                
                <md-input-container class="md-block elem-width-medium" ng-show="cloudType === 'OPENSTACK'">
                    <label>Region</label>
                    <input 
                        name='deploymentRegion' 
                        id="deploymentRegion"
                        md-maxlength ="40"
                        ng-model="deployment.region" required>
                        <!--ng-pattern="/^[a-zA-Z0-9.-\s]*$/"-->
                        
                    <div ng-messages="deploymentForm.deploymentRegion.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                        <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>
                    </div>
                </md-input-container>
                <section  ng-show="cloudType === 'OPENSTACK'">
                    <div class='wizard-main-heading' >Designate which Tenants ShieldX can use for this Deployment Specification. <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('deploy_spec_tenant_help_wizard')" style="padding-left:10px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon></div>
                    <md-button ng-show="!selectedTenants.name" class="md-accent md-raised deployment-button" ng-click = "callpopuptenants()">
                        <md-icon>add_circle_outline</md-icon> Designate Tenant
                    </md-button>
                    <div class='listHosts' layout="row" ng-show="selectedTenants.name">
                        <div class="store-content">{{selectedTenants.name}}</div> 

                        <md-button class="md-accent md-hue-3" ng-click='callpopuptenants()'>
                            <md-icon class="edit-button-icon">edit</md-icon>{{ 'wizard.ippool.edit' | translate }}
                        </md-button>
                    </div>
                    <!--<md-input-container class="md-block elem-width-medium" ng-show="cloudType === 'OPENSTACK'">
                        <label>Tenants</label>
                        <md-select name='deploymentTenants' ng-model="deployment.tenant" required>
                            <md-option ng-repeat="tenant in tenants" value="{{tenant.id}}">
                                {{tenant.name}}
                            </md-option>
                        </md-select>
                        <div class="errors" ng-messages="deploymentForm.deploymentTenants.$error" >
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>-->
                </section>
                
                <md-divider class="elem-width-large" style="margin-top: 32px;"></md-divider>
                
                <div class='wizard-main-heading' >{{deployment_where_host}}<md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('deploy_spec_hosts_help_wizard')" md-svg-src="images/Bulp.svg" style="padding-left:10px;">lightbulb</md-icon></div>              
                
                
                <section layout="column" class="dep-spec-col">
                    <section layout="row" class="elem-width-large">
                        <md-button ng-show="numberOfHosts <= 0" class="md-accent md-raised deployment-button" style="height: 48px; line-height: 1;" ng-click = "callpopuphost()" id="deploySpecsDHButton">
                            <md-icon class="icon-18">add_circle_outline</md-icon> Designate Hosts
                        </md-button>
                        <div flex="60"></div>
                    </section>
                    <!--<div class="numberHosts" ng-show="numberOfHosts > 0">Hosts ({{numberOfHosts}})</div>-->
                    <div ng-show="numberOfHosts > 0" layout="row" class="listHosts ">
                        <div class="store-content">
                            Hosts ({{numberOfHosts}})
                        </div>
                        <div layout="row" class="deployment-specc-hosts">
                           <md-button class="md-accent md-hue-3"  ng-click = "callpopuphost()">                              
                            <md-icon class="edit-button-icon" >edit</md-icon> EDIT 
                        </md-button>
                         <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('deploy_spec_hosts_popup_help_wizard')" style="padding-left:10px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon> 
                        </div>
                        
                      </div>
                    <div class='listHosts'>
                        <div ng-repeat="sel_host in selectedHosts">
                            {{sel_host.name}}
                        </div>
                    </div>
                </section>

                <md-divider class="elem-width-large" style="margin-top: 32px;"></md-divider>

                <div class='wizard-main-heading' >{{'wizardinfrastucture.deployment_store_text' | translate}}   
                    <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('deploy_spec_storage_help_wizard')" style="padding-left:10px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                </div> 

                
                <div class='listHosts storage-container'  layout="row">
                    <div class="store-content" >{{selectedStorages.name}} 
                    <md-button ng-hide="cloudType === 'OPENSTACK'" class="md-accent md-hue-3" ng-click='callpopupstorage()' id="storagEditIcon" >
                        <md-icon class="edit-button-icon">edit</md-icon>{{ 'wizard.ippool.edit' | translate }}

                    </md-button>
                    <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('deploy_spec_storage_popup_help_wizard')" style="padding-left:10px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                    </div> 
                </div>
            </div>
      </form>
      <section ng-if="cloudType == 'VMWARE'">
          <md-divider class="elem-width-large" style="margin: 18px 0;"></md-divider>
          <section layout="column">
              <label class="wizard-main-heading" style="margin-bottom: 24px;display: block;">Add VLAN Pool (optional) <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('deploy_spec_vlan_pool_help_wizard')" style="padding-left:10px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon></label>   
              
              <vlanpool vlan="newVlan" selectvlan="selectedVlan"  option="selectOption"  infraid ="cloudId" selectedoption="onOptionChanged(selectedOpt)" selectedvlan="onVlanSelected(selectedVal)"></vlanpool>
          </section>
      </section>
    </md-content>



    <!-- help panels [start] -->
   
     <helpcontainer contentid="active_help_id" ></helpcontainer>
   
    <!-- help panels [end] -->

</section>
</div>