<section layout="row">
	<md-chips ng-model="selectedItemsList" md-autocomplete-snap md-require-match="autocompleteRequireMatch" md-transform-chip="transformChip($chip)" md-on-add="filterGrid()" md-on-remove="filterGrid()" ng-show="isSearchFieldOpen" ng-class="{hidechips: hidechips === true}">
		<md-autocomplete
			md-selected-item="selectedItem"
			md-search-text="searchText"
			md-items="item in querySearch(searchText)"
			md-item-text="item.name"
			placeholder="Search"
			md-input-id="search-box{{boxprfix}}">
			<span md-highlight-text="ctrl.searchText">{{item._searchname}}</span>
		</md-autocomplete>
		<md-chip-template>
	        <span>
	        	<strong>{{$chip._searchname || $chip.name}}</strong>        	
	        </span>
	      </md-chip-template>
	</md-chips>
	<md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchFieldView()" ng-show="showicon">
		<md-tooltip md-delay="250" md-direction="bottom">
			{{customTooltip}}
		</md-tooltip>
		<md-icon>search</md-icon>
	</md-button>
</section>