<section layout="row" flex ng-show="showBreadCrumb() && !maximize" id="qs-stepper-container">
    <footer ng-include="'core/components/administration/quick-setup/breadcrumb/breadcrumbs.html'" flex></footer>
</section>
<section>
    <div ui-view></div>
</section>
<section layout="row" flex ng-show="showBreadCrumb()" id="qs-stepper-footer" style="position: fixed;
    bottom: 0;">
    <footer ng-include="'core/components/administration/quick-setup/breadcrumb/breadcrumbs-nav.html'" flex></footer>
</section>