<section layout="row" flex>
<div ui-view id="admin-infra-connector" class="admin-page" layout='row' layout-align="start stretch" style="width:100%;">
    <div class="left-panel content-height-fixer" flex layout="column" layout-align="space-between none">
        <md-toolbar layout="row" layout-align="space-between none" class="admin-toolbar">
            <div>
                Integrations<md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('admin_system_integrations_help')" style="margin-right:0px;margin-left:10px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select ng-model="selected">
                <thead md-head>
                    <tr md-row>
                        <th md-column></th>
                        <!--UPDATE THIS BLOCK FOR CUSTOM COLUMN HEADERS-->
                        <th md-column><span>Status</span></th>
                        <th md-column><span>Description</span></th>
                        <!--END-->
                    </tr>
                </thead>
                <tbody md-body>
                    <tr ng-mouseenter="hover = true" ng-mouseleave="hover = false"
                        ng-class="{setbggrey : hover || isAdornmentPanelOpen }">
                        <td md-cell ng-click="updateAdornmentPanel($event)">
                            <img src="images/FireEye_logo.png" style="margin: 0 0 0 22px; width:88px"/>
                        </td>
                        <td md-cell>
                <md-switch aria-label="" ng-if="is_integrations_update" ng-model="fireEyeDetails.enabled" ng-change="updateFireEye(fireEyeDetails)">
                    {{(fireEyeDetails.enabled === true) ? "Enabled&nbsp;" : "Disabled" }}
                </md-switch>
                </td>
                <td md-cell>
                    FireEye Malware Engine
                </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <div flex></div>
    </div>
    <div class="adornment-panel" flex="25" ng-show="isAdornmentPanelOpen">
        <md-toolbar layout='row' class="md-primary md-hue-3">
            <md-button class="md-icon-button md-primary md-hue-2" aria-label="close" ng-click="toggleAdornmentPanel()">
                <md-icon>close</md-icon>
            </md-button>
            <span>Information</span>
            <span style='position: absolute;right: 20px;margin-top:0px'>
                <md-button  class="md-icon-button md-primary md-hue-2" 
                           aria-label="edit" 
                           ng-if="is_integrations_update"
                           ng-click="enableEditFireData()" 
                           ng-show="!editFireEyeData">
                    <md-icon class="edit">edit</md-icon>
                </md-button>
                <md-button class="md-icon-button apply" 
                           aria-label="edit" 
                           ng-click="updateFireEye(newfireEyeDetails, true)"
                           ng-show="editFireEyeData" 
                           style='float:right;'>
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Apply
                    </md-tooltip>
                    <md-icon ng-show="editFireEyeData" 
                             class="md-icon-button" 
                             style="color : #fff; float:right;"
                             >
                        done
                    </md-icon>
                </md-button>
                <md-button class="md-icon-button" 
                           aria-label="discard" 
                           ng-show="editFireEyeData" 
                           style='float:right' 
                           ng-click="discardMiscChanges()">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Discard Changes
                    </md-tooltip>
                    <md-icon style="color : #fff;">clear</md-icon>
                </md-button> 
            </span>
        </md-toolbar>
        <md-content class="content" layout="column">
            <span class="section-header" style='margin-top:0px; margin-bottom:0px;'>IP Address</span>
            <span class="section-text" ng-show="!editFireEyeData"  style='margin-top:8px; margin-bottom:9px;'>
                {{fireEyeDetails.ip}}
            </span>
            <span style='height: 1px; opacity: 0.2; background-color: #6d6e71; margin-bottom:24px; ' ng-show="!editFireEyeData" ></span>

            <md-input-container class="md-block"  style='margin-top:0px; margin-bottom:0px;'  ng-show="editFireEyeData">
                <input name='fireEyeIp'  ng-model="newfireEyeDetails.ip" style="font-size: 16px">
            </md-input-container>

            <span class="section-header" style='margin-bottom:0px; margin-top:0px;'>Login</span>
            <span class="section-text" ng-show="!editFireEyeData" style='margin-top:8px; margin-bottom:9px;'>
                {{fireEyeDetails.username}}
            </span>
            <md-input-container class="md-block" style="margin-top:0px; margin-bottom:0px;" ng-show="editFireEyeData">
            <input name='fireEyeUsername'  ng-model="newfireEyeDetails.username" style="font-size: 16px">
            </md-input-container>
            <span style='height: 1px; opacity: 0.2; background-color: #6d6e71; margin-bottom:24px; ' ng-show="!editFireEyeData" ></span>

            <span class="section-header" style='margin-top:0px; margin-bottom:0px;'>Password</span>
            <span class="section-text" ng-show="!editFireEyeData" style='margin-top:8px; margin-bottom:9px;'>
                ******
            </span>
            <section layout="row" class="layout-row"  ng-show="editFireEyeData">
                <md-input-container style="margin:0px" >
                    <input 
                        type='{{pwdType}}'
                        name='fireEyePassword'
                        ng-model="newfireEyeDetails.password"
                        style="font-size: 16px">
                </md-input-container>
                <md-icon ng-click='togglePasswordType()' 
                         ng-show="pwdType === 'password'" 
                         style="margin: 18px -12px 0px 0px"
                         class="show-key">visibility</md-icon>
                <md-icon ng-click='togglePasswordType()' 
                         ng-show="pwdType === 'text'"
                         class="show-key"
                         style="margin-right: -12px"
                         >visibility_off</md-icon>
            </section>
            <span style='height: 1px; opacity: 0.2; background-color: #6d6e71; margin-bottom:24px; ' ng-show="!editFireEyeData" ></span>

            <span>
                <md-checkbox ng-model="fireEyeDetailsHttps" aria-label="Checkbox 1" disabled="true">
                    Enable HTTPS
                </md-checkbox>
            </span>
        </md-content>
    </div>
</div>
<helpcontainer contentid="active_help_id" ></helpcontainer>
</section>