<div layout="column" layout-align="start stretch" class="content-height-fixer  widget-page"  ng-controller="TopNAttackerResourceGroupsCtr" style="height: 100%; overflow-y: scroll;">
	<div class="drilldown-title" layout="row" layout-align="space-between none">
		<span>{{title}}</span>
		<md-button class="md-icon-button md-primary md-hue-3 export" aria-label="export"  ng-csv="tableData" csv-header="['App Id','Attacker', 'Attacker Ip', 'Attacker Resource Group','Victim','Victim IP','Victim Resource Group','Destination IP Address','Policy Name','Policy Type','Protocol Name','Security Policy Set Name','Sensor Response','Severity','Src IP Address','Src Port','Threat Name','Destination Port']"  filename="totalData.csv" field-separator="," decimal-separator=",">
            <md-tooltip md-delay="250" md-direction="bottom">
                Export
            </md-tooltip>
            <md-icon>system_update_alt</md-icon>
        </md-button>
	</div>
	<div class="select-interval-drildown" layout="row">
			<md-input-container>
	            <label>Time Interval </label>
	            <md-select ng-model="timeInterval" >
	                <md-option ng-repeat="opt in intervalOptions" ng-value="opt.value">
	                    <span>{{opt.text}}</span>
	                </md-option>
	            </md-select>
	        </md-input-container>
	        <div>
	        <md-button class="md-raised set-dridown-interval" ng-click="updateDirllDownInterval(timeInterval)">Set</md-button>
	        </div>
		</div>
		<div layout="column" layout-padding>
		
		<md-table-container>
			<table md-table md-row-select ng-model="selected"   md-progress="promise">
				<thead md-head md-on-reorder="onReorder">
					<tr md-row >
						<th  md-column md-order-by="appId">App Id</th>
						<th  md-column md-order-by="Attacker">Attacker</th>
						<th  md-column md-order-by="AttackerIp">Attacker IP</th>
						<th  md-column md-order-by="AttackerResourceGroup">Attacker Resource Group</th>
						<th  md-column md-order-by="Victim">Victim</th>
						<th  md-column md-order-by="VictimIp">Victim IP</th>
						<th  md-column md-order-by="VictimResourceGroup">Victim Resource Group</th>
						<th  md-column md-order-by="dstIpAddress">Destination IP Address</th>
						<th  md-column md-order-by="policyName">Policy Name</th>
						<th  md-column md-order-by="policyType">Policy Type</th>
						<th  md-column md-order-by="protocolName">Protocol Name</th>
						<th  md-column md-order-by="securityPolicySetName">Security Policy SetName</th>
						<th  md-column md-order-by="sensorResponse">Sensor Response</th>
						<th  md-column md-order-by="severity">Severity</th>
						<th  md-column md-order-by="srcIpAddress">Src IP Address</th>
						<th  md-column md-order-by="srcPort">Src Port</th>
						<th  md-column md-order-by="threatName">Threat Name</th>
						<th  md-column md-order-by="dstPort">Destination Port</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"appId"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"Attacker"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"AttackerIp"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"AttackerResourceGroup"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"Victim"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"VictimIp"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"VictimResourceGroup"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"dstIpAddress"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"policyName"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"policyType"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"protocolName"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"securityPolicySetName"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"sensorResponse"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"severity"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"srcIpAddress"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"srcPort"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"threatName"}' showicon='false' ></td>
						<td> <search datalist='tableData' searchconfig='{listname:"tableData", searchkeylocale: "!", key:"dstPort"}' showicon='false' ></td>
					</tr>
					<tr md-row md-auto-select md-select="data" md-select-id="name" ng-repeat="data in tableData | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false"  ng-class="{highlighted : data.active}">
						<td md-cell><span>{{data.appId}}</span></td>	
						<td md-cell >
							{{data.Attacker}}
						</td>
						<td md-cell><span>{{data.AttackerIp}}</span></td>
						<td md-cell><span>{{data.AttackerResourceGroup}}</span></td>
						<td md-cell><span>{{data.Victim}}</span></td>
						<td md-cell><span>{{data.VictimIp}}</span></td>
						<td md-cell><span>{{data.VictimResourceGroup}}</span></td>
						<td md-cell><span>{{data.dstIpAddress}}</span></td>
						<td md-cell><span>{{data.policyName}}</span></td>
						<td md-cell><span>{{data.policyType}}</span></td>
						<td md-cell><span>{{data.protocolName}}</span></td>
						<td md-cell><span>{{data.securityPolicySetName}}</span></td>
						<td md-cell><span>{{data.sensorResponse}}</span></td>
						<td md-cell><span>{{data.severity}}</span></td>
						<td md-cell><span>{{data.srcIpAddress}}</span></td>
						<td md-cell><span>{{data.srcPort}}</span></td>
						<td md-cell><span>{{ data.threatName.substring(0, 5)}}...{{data.threatName.substring(data.threatName.length -5 , data.threatName.length)}}  <md-tooltip md-direction="bottom">
                       {{data.threatName}}
                    </md-tooltip> <!-- {{data.threatName}} --></span></td>
						<td md-cell><span>{{data.dstPort}}</span></td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
		</div>
		<div flex></div>
		<div>
			<md-content layout="column" layout-align="start stretch" class="widget-footer">
				<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{(tableData.length)? tableData.length : 0 }}" md-page-select>
				</md-table-pagination>
			</md-content>
		</div>
</div>