<section    layout-fill ng-controller="listResourceGroupCtr" >

    <md-content layout="column">
        <section ng-show = "editableMode" >

            <div ng-repeat="eg in existingGroups" style="padding: 16px 24px; border-bottom: rgba(109,110,113,0.1) solid 1px;">
                <section ng-show="!eg.id">
                    <div lauout="row" layout-align="end center">
                        <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary" ng-click="deleteResourceGroup($event, eg)" aria-label="delete" style="float: right;
                                   font-size: 20px !important; margin-bottom: -32px; color: rgb(199, 199, 193);">
                            <md-tooltip md-delay="250" md-direction="bottom">
                                Delete Resource Group
                            </md-tooltip>
                            <md-icon style="font-size: 20px;">delete</md-icon>

                        </md-button>
                    </div>	
                    <form name='createGroupForm' novalidate="true" >
                        <md-input-container>
                            <label>Name new group</label>
                            <input 
                                autofocus
                                md-maxlength="40"
                                id="groupNameInput"
                                name='groupName' 
                                ng-model="eg.name" 
                                ng-pattern="/^[a-zA-Z0-9.-\s]*$/"
                                required>
                            <div ng-messages="createGroupForm.groupName.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                                <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>

                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>Select security control</label>
                            <md-select ng-model="eg.controlPolicy" md-container-class="policy-control">
                                <md-option ng-repeat="sc in securityPolicySet" ng-value="sc.id" ng-value="sc.id" style="border-bottom: rgba(109,110,113,0.1) solid 1px;">
                                    <div><span style="margin-right: 16px; color: #6d6e71;">{{sc.id}}</span><span>{{getSecurityPolicyDiscriptionFromName(sc.name)}}</span></div>
                                </md-option>

                            </md-select>
                        </md-input-container>
                    </form>
                    <section layout="column">
                        <div> 
                            <label style="margin: 16px; color: #6d6e71;">Tenant: {{activeTenant.name}}</label>
                        </div> 
                    </section>
                    <md-input-container>
                        <div>
                            <md-checkbox 
                                name='inlineResourceGroup' 
                                ng-if="inlineModeAvailable"
                                ng-model="eg.inline"  
                                aria-label="Inline" 
                                style="color: #6d6e71;">
                                Inline
                            </md-checkbox>
                        </div>
                    </md-input-container>
                </section>
                <section ng-show="eg.id">
                    <div layout="column">
                        <div style="font-size: 16px;line-height: 1.5;margin: 0 0 8px 0; font-weight: bold;">{{eg.name}}</div>
                        <div style="font-size: 14px;line-height: 1.43;color: #6d6e71;">{{eg.controlPolicy}}. {{getSecurityPolicyDescriptionFormID(eg.controlPolicy)}}</div>
                        <div> 
                            <section layout="column">
                                <div> 
                                    <label style="margin: 16px; color: #6d6e71;">Tenant: {{getTenantNameFromID(eg.tenant).name}}</label>
                                </div> 
                            </section>
                        </div> 
                    </div>
<!--                    <div layout="column" layout-align="start end">
                        <div layout="row" layout-align="end center">
                            <md-button ng-show="isViewStateAddOptionExistingResourceGroup()" class="md-accent md-icon-button" ng-click='addNetworksToGroup($event, eg)' style="padding: 0; min-width: 23px; min-height: 36px; width: 20px; height: 20px;" ng-disabled = "eg.getViewData('disableAdd')">
                                <md-icon>add_circle_outline</md-icon>
                            </md-button>
                            <span style="font-size: 16px;line-height: 1.5;color: #13ce66;">{{eg.memberList.length}}</span>
                        </div>
                        <div style="height:20px;">
                            <md-icon ng-show="isViewGrouped && show" class="group-eye" ng-click='showResourceGroup(eg)' ng-disabled = "eg.getViewData('disableEye')">visibility</md-icon>
                        </div>


                    </div>				-->


                </section>
            </div>  

        </section>
        <section ng-show = "!editableMode">

            <div ng-repeat="eg in existingGroups" ng-mouseenter="show = true" ng-mouseleave="show = false" layout="row" layout-align="space-between center" style="padding: 16px 24px; border-bottom: rgba(109,110,113,0.1) solid 1px;" class="{{eg.new? 'new-group': 'existing-group' }}">
                <div layout="column">
                    <div style="font-size: 16px;line-height: 1.5;margin: 0 0 8px 0; font-weight: bold;">{{eg.name}}</div>
                    <div style="font-size: 14px;line-height: 1.43;color: #6d6e71;">{{eg.controlPolicy}}. {{getSecurityPolicyDescriptionFormID(eg.controlPolicy)}}</div>
                    <div> 
                        <section layout="column">
                            <div> 
                                <label style="color: #6d6e71;">Tenant: {{getTenantNameFromID(eg.tenant).name}}</label>
                            </div> 
                        </section>
                        <section layout="column" ng-if="inlineModeAvailable && eg.inline">
                            <div> 
                                <label style="color: #6d6e71;">(Inline)</label>
                            </div> 
                        </section>
                    </div> 
                </div>
                <div layout="column" layout-align="start end">
                    <div layout="row" layout-align="end center">
                        <md-button ng-show="isViewStateAddOptionExistingResourceGroup()" class="md-accent md-icon-button" ng-click='addNetworksToGroup($event, eg)' style="padding: 0; min-width: 23px; min-height: 36px; width: 20px; height: 20px;" ng-disabled = "eg.getViewData('disableAdd')" ng-show="!eg.id">
                            <md-icon>add_circle_outline</md-icon>
                        </md-button>
                        <span style="font-size: 16px;line-height: 1.5;color: #13ce66;">{{eg.memberList.length}}</span>
                    </div>
                    <div style="height:20px;">
                        <md-icon ng-show="isViewGrouped && show" class="group-eye" ng-click='showResourceGroup(eg)' ng-disabled = "eg.getViewData('disableEye')">visibility</md-icon>
                    </div>


                </div>				

            </div>
        </section>	
    </md-content>
</section>