<div class="switch-tenant-confirmbox">	
    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="row" layout-align="start start" style="margin-bottom: 20px;">
                <div class="titleText">Do you want to switch Tenant? </div>
            </div>
            <div ng-cloak>
                <md-content>
                    If you switch tenants, the existing Rules associated with the data plane would get deleted.
                </md-content>
            </div>

        </div>
    </md-dialog-content>
    <md-divider></md-divider>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancelDialog()" style="color:#4a90e2;">Cancel</md-button>
        <md-button class="md-raised md-accent" ng-click="applyDialog()"  style="color:#fff;">Apply</md-button>
    </md-dialog-actions>
</div>