<div layout="column" flex-offset="10">

            <!--<section >-->
                <div 
                    ng-show="!showNetworks && !(cloudData.comingFrom === 'ADMINEDIT')" 
                    class='qs-header-text-container'>
                    {{'wizardinfrastucture.virtual_chassis.heading' | translate}}.
                    <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('virtual_chassis_title_help_wizard')" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                </div>
                <md-input-container 
                    class="elem-width-large"
                    ng-show="!showNetworks && !(cloudData.comingFrom === 'ADMINEDIT')">
                    <label>Data Plane Name</label>
                    <input
                        md-autofocus
                        md-maxlength="12"
                        name='virtualChassisName'
                        ng-model="virtualChassis.name"
                        ng-pattern="/^[a-zA-Z0-9]*$/"
                        required>
                    <div ng-messages="virtualChassisForm.virtualChassisName.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 12 characters long.</div>
                        <div ng-message="pattern">Only alphanumeric characters are allowed.</div>

                    </div>
                    <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('virtual_chassis_naming_help_wizard')"md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                </md-input-container>
                <md-input-container 
                    class="elem-width-medium vs-add-new"
                    ng-show="!showNetworks && !(cloudData.comingFrom === 'ADMINEDIT')">
                  <label style="margin-left:-36px">Infrastructure Connector</label>
                  <md-select name='infrastructure' ng-model="virtualChassis.infrastructureId" ng-change="showDeploymentSpecOptions()" required>
                      <md-option ng-repeat="cloud in clouds" value="{{cloud.id}}" >
                      {{cloud.name}}
                    </md-option>
                  </md-select>
                  <div ng-messages="virtualChassisForm.infrastructure.$error">
                        <div ng-message="required">This is required.</div>
                  </div>
                   <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('virtual_chassis_connector_help_wizard')" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                </md-input-container>
                <md-input-container 
                    class="elem-width-medium vs-add-new"
                    ng-show="!showNetworks && !(cloudData.comingFrom === 'ADMINEDIT')">
                  <label style="margin-left:-36px">Deployment Specification</label>
                  <md-select name='vcDeploySpec'ng-model="virtualChassis.deploymentSpec"
                             ng-disabled="deploymentSpecDataNotAvailable"
                             ng-change="setVchassisInitData()" 
                             required>
                    <md-option ng-repeat="spec in deploymentSpecs" value="{{spec.id}}">
                      {{spec.name}}
                    </md-option>
                  </md-select>
                  <div ng-messages="virtualChassisForm.vcDeploySpec.$error">
                        <div ng-message="required">This is required.</div>
                  </div>
                  <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('virtual_chassis_deploySpec_help_wizard')" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                </md-input-container>
                <md-input-container
                    class="elem-width-medium"
                    ng-show="!showNetworks && !(cloudData.comingFrom === 'ADMINEDIT')" layout="row">
                <!--<span flex></span>-->
                <md-button class="md-accent md-raised modal-done-button addSeurityGrpButton" 
                           ng-click = "addSerurityGroups()" 
                           ng-disabled="!enableNext" >
                    ADD SECURITY GROUPS 
                    <md-icon class="md-18 arrow">arrow_forward</md-icon>
                </md-button>
                  <md-icon class="light-bulb icon-18" style = "top: 22px; left: 270px;" ng-click=" helpButtonClicked('virtualchassis_security_groups_wizard')" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                </md-input-container>
              <!--</section>-->
            </div>