<div ui-view id="admin-infra-connector" class="admin-page" layout='row'>
    <div class="left-panel content-height-fixer" flex layout="column" layout-align="space-between none" style="margin:0 24px;">
        <md-toolbar layout="row" layout-align="space-between center" class="admin-toolbar" style="padding:0;">
            <div>
                {{ 'admin.virtualChassis.heading' | translate}}
            </div>
            <div class="control-tray" layout="row">
                <md-button ng-disabled="!vChassisDataFetched" class="md-icon-button md-primary md-hue-3" aria-label="refresh" 
                           ng-click="clearVChassisListFromSession()">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Refresh Data
                    </md-tooltip>
                    <md-icon>cached</md-icon>
                </md-button>
                <md-button ng-show="is_create_vchassis" ng-disabled="!vChassisDataFetched" class="md-icon-button md-primary md-hue-3"
                           aria-label="add"
                           ng-click="callpopupToVirtualChassis()"
                           >
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Add New
                    </md-tooltip>
                    <md-icon>add_circle_outline</md-icon>
                </md-button>
                <!-- <md-button class="md-icon-button md-primary md-hue-3 import"
                           aria-label="import"
                           ng-disabled="true">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Import
                    </md-tooltip>
                    <md-icon>system_update_alt</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary md-hue-3 export"
                           aria-label="export"
                           ng-disabled="true">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Export
                    </md-tooltip>
                    <md-icon>system_update_alt</md-icon>
                </md-button> -->
                <md-button class="md-icon-button md-primary md-hue-3"
                           aria-label="search"
                           ng-disabled="!vChassisDataFetched"
                           ng-click="toggleSearchBar($event)">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Search
                    </md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>
                
            </div>

        </md-toolbar>
        <md-table-container ng-if="promise">
            <table md-table md-row-select ng-model="selected" md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column></th>
                        
                        <!--UPDATE THIS BLOCK FOR CUSTOM COLUMN HEADERS-->
                        <th md-column><span>Name</span></th>
                        
                        <!--<th md-column><span>Description</span></th>-->
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Infrastructure</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Deployment Spec</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Groups</span></th>
                        <!--END-->
                    </tr>
                    <tr class="searchbar" ng-show="isSearchBarOpen">
                        <td></td>
                        
                        <td><search datalist='vChassisObj' searchconfig='{listname:"vChassisObj", searchkeylocale: "!", key: "name"}' showicon='false'></search></td>                        
                        <td ng-class="{hidecol : isAdornmentPanelOpen}"><search datalist='vChassisObj' searchconfig='{listname:"vChassisObj", searchkeylocale: "!.infra", key: "name"}' showicon='false'></search></td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}" ><search  datalist='vChassisObj' searchconfig='{listname:"vChassisObj", searchkeylocale: "!.deploySpec", key: "name"}' showicon='false'></search></td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}"><!--<search datalist='vChassisObj' searchconfig='{listname:"vChassisObj", searchkeylocale: "!.resourceGroup", key: "length"}' showicon='false'></search>--></td>
                    </tr>
                </thead>
                <tbody md-body ng-show='vChassisObj.length > 0'>
                    
                    <tr md-row md-auto-select md-select="virtualChassisId" md-select-id="name" ng-repeat="virtualChassisId in vChassisObj | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                        <td md-cell class="button-cluster-vc" >
                            <span class="edit-delete-buttons" ng-class="{
                                        show : hover
                                    }" >
                                <md-button class="md-icon-button md-primary md-hue-3" aria-label="info" ng-click="updateAdornmentPanel($event, virtualChassisId)" ng-disabled="!vChassisDataFetched">
                                    <md-tooltip md-delay="250" md-direction="bottom">
                                        Information
                                    </md-tooltip>
                                    <md-icon class="icon-18">info_outline</md-icon>
                                </md-button>
                                <md-button  ng-if="is_delete_vchassis" class="md-icon-button md-primary md-hue-3" aria-label="info"  ng-click='deleteVirtualChassis(virtualChassisId)' ng-disabled="!vChassisDataFetched">
                                    <md-tooltip md-delay="250" md-direction="bottom">
                                        Delete
                                    </md-tooltip>
                                    <md-icon class="icon-18">delete</md-icon>
                                </md-button> 
                         </span>
                
                <!--<md-button class="md-icon-button md-primary md-hue-3" aria-label="refresh">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Reload
                    </md-tooltip>
                    <md-icon>refresh</md-icon>
                </md-button>-->
                <md-button  ng-if="is_check_vchassis" class="deploy_btn" ng-click='deployVirtualChassis(virtualChassisId)' ng-disabled="!vChassisDataFetched">
                                Deploy</md-button>
                    <md-button ng-if="is_deploy_vchassis" class="deploy_btn" ng-click='reDeployVirtualChassis(virtualChassisId)'
                                        ng-disabled="!vChassisDataFetched">
                                ReDeploy
                    </md-button>
                </td>
                
                <td md-cell><span>{{virtualChassisId.name}}</span></td>
                
                <!--UPDATE THIS BLOCK FOR CUSTOM COLUMN CELLS-->
<!--                <td md-cell>
                    <span ng-show="showStatus(virtualChassisId.status, 'Deployed')">
                        <svg height="8" width="8"><circle cx="4" cy="4" r="4" fill="#01bcb1" /></svg>
                    </span>
                    <span ng-show="showStatus(virtualChassisId.status, 'Not Deployed')">
                        <svg height="8" width="8"><circle cx="4" cy="4" r="4" fill="#dd2c3c" /></svg>
                    </span>
                    <span ng-show="showStatus(virtualChassisId.status, 'Refreshing')">
                        <md-icon>refresh</md-icon>
                    </span>
                    <span style="margin: 0px 0 0 6px;">{{virtualChassisId.status}}</span>
                </td>-->
                <!--<td md-cell><span>{{virtualChassisId.descr}}</span></td>-->
                <td md-cell ng-class="{
                            hidecol : isAdornmentPanelOpen}"><span>{{virtualChassisId.infra.name}}</span></td>
                <td md-cell ng-class="{
                            hidecol : isAdornmentPanelOpen
                        }"><span>{{virtualChassisId.deploySpec.name}}</span></td>	
                <td md-cell ng-class="{
                            hidecol : isAdornmentPanelOpen
                        }">
                    <!--<span> {{ virtualChassisId.networksInAssignedResourceGroup.length }}</span>-->
                        <span> {{ virtualChassisId.resourceGroup.length }}</span>
                    </td>
                <!--END--> 		
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <div flex></div>
        <md-content layout="row" layout-align="space-between none" class="admin-footer">
            <!-- <section class="download-file"><md-icon class="md-18">file_download</md-icon>Download Import Template</section> -->
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{(vChassisObj.length) ? vChassisObj.length : 0 }}" md-page-select>
            </md-table-pagination>
        </md-content>
    </div>
    <div class="adornment-panel" flex="25" ng-show="isAdornmentPanelOpen">
        <md-toolbar layout='row' class="md-primary md-hue-3">
            <md-button class="md-icon-button md-primary md-hue-2" aria-label="close" ng-click="toggleAdornmentPanel()">
                <md-icon>close</md-icon>
            </md-button>
            <span>Information</span>
        </md-toolbar>
        <md-subheader class="sub-header">
            Details
            <md-icon ng-show = "is_update_vchassis && !editMiscState" class="edit" ng-click="editMiscInfraData()">edit</md-icon>
            <md-button class="md-icon-button apply" 
                       aria-label="edit" 
                       ng-click="submitMiscInfraData(adornmentData)" 
                       ng-show="editMiscState" 
                       style='float:right;  margin-top: -12px;'>
                <md-tooltip md-delay="250" md-direction="bottom">
                    Apply
                </md-tooltip>
                <md-icon ng-show="editMiscState" class="md-icon-button" 
                         ng-click=""
                         style='float:right;'>
                    done
                </md-icon>
            </md-button>
            <md-button class="md-icon-button" 
                       aria-label="discard" 
                       ng-show="editMiscState" 
                       style='float:right; margin-top: -12px;' 
                       ng-click="discardMiscChanges()">
                <md-tooltip md-delay="250" md-direction="bottom">
                    Discard Changes
                </md-tooltip>
                <md-icon>clear</md-icon>
            </md-button> 
        </md-subheader>
        <md-content class="content" layout="column" ng-show="!editMiscState" style="padding: 0px 0 16px 0;">
            <span class="section-header" style="padding: 0 24px;">Name</span>
            <span class="section-text" style="padding: 0 24px;">{{adornmentData.name}}</span>

            <span class="section-header" style="padding: 0 24px;">Infrastructure</span>
            <!-- <span class="section-text">{{adornmentData.cloudData.name}}</span> -->
            <v-accordion id="accordionInfraConnVC" control="accordionInfraConnVC" class="vAccordion--rightPanel" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
                <v-pane id="{{ ::data.id }}" ng-repeat="data in infraAccordionData" expanded="data.isExpanded">
                    <v-pane-header id="{{ ::data.id }}-header" aria-controls="{{ ::data.id }}-header">
                        <h5 class="section-text" style="font-weight: normal; padding: 0 24px;"> {{ ::data.header }} <md-icon style="float: right;" class="arrow-down">keyboard_arrow_down</md-icon> <md-icon style="float: right; display:none;" class="arrow-up">keyboard_arrow_up</md-icon></h5> 
                    </v-pane-header>
                    <v-pane-content id="{{ ::data.id }}-content" aria-labelledby="{{ ::data.id }}-header" style="background: #fbfbfb; padding: 0 24px;">
                        <p>{{ ::data.content }}</p>

                        <v-accordion id="nestedInfraData" ng-if="data.subData">
                            <v-pane id="{{ ::nestedData.id }}" ng-repeat="nestedData in data.subData" ng-disabled="nestedData.isDisabled">
                                <v-pane-header id="{{ ::nestedData.id }}-header" aria-controls="{{ ::nestedData.id }}-header">
                                    <span class="section-header" ng-if="nestedData.headerAddOn">{{ ::nestedData.headerAddOn }}</span>
                                    <h5 class="section-text" style="font-weight: normal;">{{ ::nestedData.header }} </h5>
                                </v-pane-header>
                                <v-pane-content id="{{ ::nestedData.id }}-content" aria-labelledby="{{ ::nestedData.id }}-content">
                                    <p>{{ ::nestedData.content }}</p>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </v-pane-content>
                </v-pane>
            </v-accordion>
            
            <span class="section-header" style="padding: 0 24px;">Deployment Specification</span>
            <div>
                <a ui-sref="home.deploymentSpecificationById({deploySpecId: deploymentSpecs.id})" class="link-to">
                    <div layout="row" layout-align="space-between none" style="padding: 0 24px;">
                        <span> {{deploymentSpecs.name}} </span>
                        <md-icon>keyboard_arrow_right</md-icon>
                    </div>
                </a>
            </div>
            
        </md-content>
        <md-content class="content" layout="column" ng-show="editMiscState">
            <form name="virtualChassisForm" novalidate="true">
                <span class="section-header">Name</span>
                <span class="section-text">{{adornmentData.name}}</span>
                <span class="section-header">Infrastructure</span>
                <span class="section-text">{{adornmentData.infra.name}}</span>

<!--                vChassis Name and infra cannot be changed
                    <md-input-container class="md-block" flex-gt-sm>
                        <span class="section-header">Name</span>
                        <input 
                            md-maxlength="12"
                            name='virtualChassisName'
                            ng-model="adornmentData.name"
                            ng-pattern="/^[a-zA-Z0-9.-\s]*$/"
                            required>
                        <div ng-messages="virtualChassisForm.virtualChassisName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 12 characters long.</div>
                            <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>
                        </div>
                    </md-input-container>
                    <span class="section-header">Infrastructure</span>
                    <md-input-container class="md-block" flex-gt-sm>
                      <md-select ng-model="adornmentData.infrastructureId" ng-change="setDeploymentSpecData()">
                          <md-option ng-repeat="cloud in clouds" value="{{cloud.id}}" >
                          {{cloud.name}}
                        </md-option>
                      </md-select>
                    </md-input-container>            -->
                    <span class="section-header">Deployment Specification</span>
                    <md-input-container class="md-block" flex-gt-sm>
                      <md-select ng-model="adornmentData.deploymentSpecId" aria-label="deploymentSpecId">
                          <md-option ng-repeat="deploymentSpec in adornmentData.deploySpecList" value="{{deploymentSpec.id}}" ng-selected="deploymentSpec.id == deploymentSpecs.id" >
                          {{deploymentSpec.name}}
                        </md-option>
                      </md-select>
                    </md-input-container>

            </form>
        </md-content>
        <md-subheader class="sub-header">
            Groups 
             <md-icon ng-show="is_update_vchassis" ng-show="!editNetworkData" class="edit" ng-click="callpopupToEditResourceGroup($event, adornmentData)">edit</md-icon> 
        </md-subheader>
        <md-content class="content" layout="column">
            <!--<span class="section-text"
                  ng-repeat = "group in adornmentData.resourceGroup">
                {{group.name}}
            </span>-->
            <div ng-repeat="group in adornmentData.resourceGroup" class="list">
                <!-- <a  class="link-to" ui-sref="home.resourceGroupById({rgId: group.id})"> -->
                    <div layout="row" layout-align="space-between none">
                        <span> {{group.name}} </span>
                       <!--  <md-icon>keyboard_arrow_right</md-icon> -->
                    </div>
               <!--  </a> -->
            </div>
        </md-content>
       <!-- <md-content class="content" layout="column">
            <span class="section-text"
                  ng-repeat = "network in adornmentData.networksInAssignedResourceGroup"
                  ng-show="!editNetworkData">
                {{network.name}}
            </span>
        </md-content>-->
    </div>
</div>
