<md-dialog aria-label="Configure Backup"  ng-cloak class="fullscreen-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>Import Re-Signing Certificate</h2>
            <span flex></span>
            <!--
            <md-button class="md-accent md-raised modal-done-button" ng-disabled="poolForm.$invalid" ng-click = "done()">
                Add
            </md-button>
            -->
        </div>
    </md-toolbar>

    <!--
    <div layout="column" layout-align="start center" class="content-height-fixer backup-restore">
    <div class="admin-page-component-header">
        Backup / Restore
    </div>
    -->

    <md-dialog-content style="padding:0px;">
        <section class="elem-width-large" layout="row" style="margin: 0 auto;"> 

            <form name='resigningCertImportForm' class="resigning-cert-import-form">
                <div class="animate-if elem-width-large">
                    <section layout="row" layout-align="space-between stretch">
                        <md-input-container class="single-col-component elem-width-large">
                            <label>Tenant</label>
                            <md-select name='tenant' ng-model="resingingkeys.tenantId" ng-change="" required>
                                <md-option ng-repeat="tenant in tenants" value="{{tenant.id}}" >
                                    {{tenant.name + " (" + tenant.cloudName + ")"}}
                                </md-option>
                            </md-select>
                            <div ng-messages="resigningCertImportForm.tenant.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </section>

                    <!-- 
                    <section layout="row" layout-align="space-between stretch">
                        <md-input-container class="md-block elem-width-medium">
                            <label>Connection Type</label>
                            <md-select name='connection' ng-model="resingingkeys.connectionType" required>
                                <md-option ng-repeat="connection in connectionType.connections" value="{{connection.value}}">
                                    {{connection.name}}
                                </md-option>
                            </md-select>
                            <div ng-messages="resigningCertImportForm.connType.$error" role="alert">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>                            
                    </section>           
                    -->

                    <section layout="row" layout-align="space-between stretch" style="padding-bottom: 20px;">
                        <label class="uploadbutton single-col-component elem-width-large"
                               style="position:relative; padding-bottom: 9px"
                               >
                            <div class="button" ng-show="resingingkeys.tenantId">Browse</div>
                            <div class="button" ng-show="!resingingkeys.tenantId" 
                                 style="background-color: #4a90e2; opacity: 0.38;">
                                Browse
                            </div>
                            <div class='input-file-text'>{{fileInputText}}</div>
                            <input 
                                class="input-file" 
                                type="file" 
                                file-model="resigningCertFile" 
                                aria-label="Resigning keys"
                                ng-disabled="!resingingkeys.tenantId"
                                onchange="angular.element(this).scope().fileNameChanged(this)"
                                />
                        </label>
                    </section>

                    <section layout="row" layout-align="space-between stretch">
                        <label>&nbsp;</label>
                        <md-button class="md-accent upload-ssl-keys-buttom md-raised modal-done-button md-button md-ink-ripple fullRowButton" 
                                   ng-click = "importResigningKeys()"
                                   ng-disabled="!resigningCertFile">
                            Import
                        </md-button>
                    </section>
                </div>
            </form>
        </section>
    
    </md-dialog-content>

</md-dialog>