<!--div layout="column" layout-align="start center" class="content-height-fixer upload-ssl-keys">
    <div class="sslkeys-page-component-header">
        Upload SSL Keys for Tenant
    </div>
-->

<md-dialog aria-label="Configure Inbound Keys"  ng-cloak class="fullscreen-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>Upload SSL Keys for Tenant</h2>
            <span flex></span>
        </div>
    </md-toolbar>    

    <md-dialog-content style="padding:10px;">
        <section class="elem-width-large" layout="row" style="margin: 0 auto;"> 
            <form name='uploadSslKeyForTenant' class="upload-ssl-keys-form">

                <section layout="row" layout-align="space-between stretch">
                    <md-input-container class="single-col-component elem-width-large">
                        <label class="admin-page-component-label">Tenant</label>
                        <md-select name='tenant' ng-model="tenantId" ng-change="" required>
                            <md-option ng-repeat="tenant in tenants" value="{{tenant.id}}" >
                                {{tenant.name + " (" + tenant.cloudName + ")"}}
                            </md-option>
                        </md-select>
                        <div ng-messages="uploadSslKeyForTenant.tenant.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </section>
                <!--
                <div>
                    <b>Note:</b>You can import upto 1000 certificate files at the same time as long as they use the same passphrase.{{admin.ssldecryption.inboundkeys.note | translate}}
                </div>
                -->
                <div flex="25"></div>

                <section layout="row" layout-align="space-between stretch" style="padding-bottom: 20px;">
                    <label class="uploadbutton single-col-component elem-width-large"
                           style="position:relative; padding-bottom: 9px"
                           >
                        <div class="button" ng-show="tenantId">Browse</div>
                        <div class="button" ng-show="!tenantId" 
                             style="background-color: #4a90e2; opacity: 0.38;">
                            Browse
                        </div>
                        <div class='input-file-text'>{{fileInputText}}</div>
                        <input 
                            class="input-file" 
                            type="file" 
                            file-model="sslKeyFile" 
                            aria-label="SSL keys"                        
                            onchange="angular.element(this).scope().fileNameChanged(this)"
                            />
                    </label>
                </section>

                <!-- 
                <section layout="row">
                    <md-input-container class="md-block elem-width-large">
                        <label>Passphrase</label>
                        <input type='{{pwdType}}' name='password' ng-model="password" required >                
                        <div ng-messages="uploadSslKeyForTenant.password.$error" role="alert">
                            <div ng-message='required'>
                                This is required.
                            </div>
                        </div>                                  
                    </md-input-container>
                    <md-icon ng-click='togglePasswordType()' ng-show="pwdType==='password'" class="show-key">visibility</md-icon>
                    <md-icon ng-click='togglePasswordType()' ng-show="pwdType === 'text'" class="show-key">visibility_off</md-icon>
                </section>
                -->

                <section layout="row" layout-align="space-between stretch">
                    <label>&nbsp;</label>
                    <md-button class="md-accent upload-ssl-keys-buttom md-raised modal-done-button md-button md-ink-ripple fullRowButton" 
                               ng-click = "uploadSSLKeys()">
                               <!-- ng-disabled="!sslKeyFile"-->
                        Update
                    </md-button>
                </section>
            </form>
        </section>
    
    </md-dialog-content>

</md-dialog>