<div id="dashboard-config">	
	<md-toolbar layout="row" layout-align="start center" style="background: #fff !important;">
		<span style="margin: 0 0 0 24px; color: #000;">Configure {{dashboardName}}</span>
	    <md-button class="md-icon-button" ng-click="editDashboardTitle($event, dashboardName)" style="margin-top: 7px;">
	    	<md-icon style="font-size: 16px !important; color: #6d6e71;">edit</md-icon>
	    </md-button>	    
    </md-toolbar>
	<md-dialog-content>
		<div class="dashboard-config-filter" layout="row" layout-align="space-between center">
			<div class="show-selected" layout="row" style="font-size: 16px;">
				<div ng-click="showAll($event)" style="margin: 0 24px 0 0; cursor: pointer; color: #4a90e2;">View All ({{totalCount}})</div>  
				<div ng-click="showSelected($event)" style="cursor: pointer;">View Selected ({{selected.length}})</div>
			</div>
			<div class="show-filter-options">
				
					<md-select ng-model="categoryFilter" placeholder="Category" class="md-no-underline select-style">
						<md-option ng-value="">All Categories</md-option>
						<md-option ng-repeat="elem in categoriesList" ng-value="elem.name">{{elem.name}}</md-option>
					</md-select>
				
			</div>
		</div>
		<div class="md-dialog-content">
			<md-table-container>
				<table md-table md-row-select multiple ng-model="selected">
					<thead md-head>
						<tr md-row class="widgetTableHead">
							<th md-column>
								<md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
				                </md-checkbox>
                			</th>
							<th md-column>Widget</th>
							<th md-column>Type</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-select="item" md-select-id="value" md-auto-select ng-repeat="item in items | filter : categoryFilter" class="dashboard-config-list">
							<td md-cell>{{item.title}}</td>
							<td md-cell>{{item.chartType}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" layout-align="space-between center">
		<span>{{selected.length}} selected</span>
		<span>
			<md-button ng-click="cancelDialog()" class="md-accent">Cancel</md-button>
			<md-button class="md-raised md-accent" ng-click="applyDialog()" style="color: #fff !important;">Configure</md-button>
		</span>
	</md-dialog-actions>
</div>