<div class="analyalis-table">
    <form  ng-cloak>
        <div layout="row">
	        <p>Selected Day: </p>
	        <md-radio-group ng-model="dateSelected" layout="row">
	            <md-radio-button value="Today" class="md-primary">Today</md-radio-button>
	            <md-radio-button value="YesterDay">YesterDay </md-radio-button>
	        </md-radio-group>
       </div>
       <div>
        	<div layout="row">
		       	<mdp-date-picker mdp-disabled="switchTo3D" mdp-placeholder="Start Date" ng-model="eventFilterModel.startDate"></mdp-date-picker>
		        <mdp-time-picker mdp-disabled="switchTo3D" mdp-placeholder="Start Time" ng-model="eventFilterModel.startTime"></mdp-time-picker>
		    </div>
		    <div layout="row">
	        	<mdp-date-picker mdp-disabled="switchTo3D" mdp-placeholder="End Date" ng-model="eventFilterModel.endDate"></mdp-date-picker>
	        	<mdp-time-picker  mdp-disabled="switchTo3D" mdp-placeholder="End Time" ng-model="eventFilterModel.endTime"></mdp-time-picker>
	       </div>
	    </div>
	    <div layout="row">
	    	<p>Selected Card Type: </p>
	        <md-radio-group ng-model="cardTypeSelected" layout="row">
	            <md-radio-button  ng-repeat="val in cardType" value="{{val.type}}" class="md-primary">{{val.value}}</md-radio-button>
	        </md-radio-group>
	    </div>
	    <div>
	    	<md-button flex="5" class="md-raised md-accent" style="margin: 0; border-radius: 0px; width: 100%; color: #fff;" ng-click="showGraph($event)">Apply</md-button>
	    </div>
    </form>
</div>
