<div ui-view class="light-theme" id="dashboard-page">

	<md-progress-linear md-mode="indeterminate" ng-show="refreshing"></md-progress-linear>

	<md-toolbar id="fullscreen-toolbar" style="display:none;" >
		<div id="left" style="float: left; margin: 0 0 0 34px;">
			<img src="{{logoURL}}" alt="logo" style="float: left; height: 32px; margin: 16px;" />
			<span style="float: left; line-height: 32px; font-size: 20px; margin: 16px 0 0 0; text-transform: uppercase;">{{tabs[selectedIndex].title}}</span>
		</div>
		<div id="right" style="float: right; font-size: 16px; color: #6d6e71; line-height: 1.6; margin: 20px 34px 0 0; ">Press <span style=" border: #6d6e71 solid 1px; padding: 2px 8px; margin: 0 5px; border-radius: 2px;">Esc</span> to exit fullscreen</div>
	</md-toolbar>
	
	<span id="dashboard-config-cog" style="width: 50px; position: absolute; right: 0px; z-index: 2;" ng-hide="drillDownConfig.ready">
		<md-menu>
			<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Settings" style="height: 48px; ">
				<md-icon>settings</md-icon>
			</md-button>
			<md-menu-content width="4" id="dashboard-menu">
				<md-menu-item>
					<md-button ng-click="addTab($event)">		            	
		                <span>Add Dashboard</span>
		            </md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button ng-click="configureTab($event, selectedIndex)">		            	
		                <span>Configure Dashboard</span>
		            </md-button>
				</md-menu-item>
				<md-divider></md-divider>
				<span class="group-header">Layout</span>
				<md-menu-item id="db-config-1-col" class="config-selected">
					<md-button ng-click="switchLayout($event,1)">		            	
		                <span>1 Column</span><md-icon>done</md-icon>
		            </md-button>
				</md-menu-item>
				<md-menu-item id="db-config-2-col">
					<md-button ng-click="switchLayout($event,2)">		            	
		                <span>2 Columns</span><md-icon>done</md-icon>
		            </md-button>
				</md-menu-item>
				<md-menu-item id="db-config-3-col">
					<md-button ng-click="switchLayout($event,3)">		            	
		                <span>3 Columns</span><md-icon>done</md-icon>
		            </md-button>
				</md-menu-item>
				<md-divider></md-divider>
				<span class="group-header">Theme</span>
				<md-menu-item id="db-config-light" class="config-selected">
					<md-button ng-click="toggleTheme($event, 'LIGHT')">		            	
		                <span>Light Theme</span><md-icon>done</md-icon>
		            </md-button>
				</md-menu-item>
				<md-menu-item id="db-config-dark">
					<md-button ng-click="toggleTheme($event, 'DARK')">		            	
		                <span>Dark Theme</span><md-icon>done</md-icon>
		            </md-button>
				</md-menu-item>
				<md-divider></md-divider>
				<md-menu-item>
					<md-button ng-click="toggleFullScreen($event)">		            	
		                <span>Full Screen</span>
		            </md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</span>
	<md-tabs md-dynamic-height md-selected="selectedIndex" md-border-bottom id="shieldx-dashboard"  ng-hide="drillDownConfig.ready">

		<md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" directiv >
			<md-tab-label>
				<section layout="row" layout-align="space-between center">
					<span>{{tab.title}}</span>
					<md-icon class="close-tab" ng-click="removeTab(tab, $event)">close</md-icon>
					</span>
				</section>
			</md-tab-label>
			<md-tab-body>
		        <div class="demo-tab tab-{{$index}}" style="padding: 25px; text-align: center;">
		          		
		          	<div class="alert-widgets-container" layout="row" layout-align="space-around center" >
		          		<div widget="alert.widgetName" id="{{alert.id}}" ng-repeat="alert in tab.alerts" layout="column" layout-align="space-around center" class="alert-widgets" >

		          		</div>
		          	</div>
		          	<div gridster="gridsterOpts">
					    <ul>
					        <li gridster-item="item" ng-repeat="item in tab.dashboardItems" style="border: solid 1px rgba(109, 110, 113, 0.2);">
					        	<div widget="item.content.widgetName" layout="column" layout-align="space-around center" id="{{item.id}}" > 
						        	<md-toolbar layout="row" layout-align="space-between center" class="dashboard-toolbar">
						        		<div class="widget-title"></div>
						        		<div class="widget-button-controls" layout="row">
							        		<!-- <md-button class="md-icon-button"><md-icon>keyboard_arrow_up</md-icon></md-button>
							        		<md-button class="md-icon-button"><md-icon>keyboard_arrow_down</md-icon></md-button> -->
							        		<md-button class="md-icon-button" ng-click="pauseRefreshToggle($event, item)">
							        			<md-icon ng-show="item.refresh">pause</md-icon>
							        			<md-icon ng-hide="item.refresh">play_arrow</md-icon>
							        		</md-button>
							        		<md-button class="md-icon-button" ng-click="removeWidget($event, item)"><md-icon>close</md-icon></md-button>
							        	</div>
						        	</md-toolbar>
						        	<section class="widget-options  options-to-set" layout="row" layout-align="start center">
						        		<form name="nvalueForm" layout="row" layout-align="start center">
						        		<div ng-repeat="option in item.content.options" layout="column" layout-align="start start" class="option-to-select">
						        		    <div ng-if="option.label == 'Time Interval'"  class="select-options" layout="row">
							        			<label>{{option.label}}</label>
							        			<md-select ng-model="item.content.interval" class="md-no-underline select-style">
							        				<md-option ng-repeat="op in option.options" ng-value="op.value">{{op.text}}</md-option>
							        			</md-select>
						        			</div>

						        			<div ng-if="option.label != 'Time Interval'" layout="row" class="select-options">
							        			<label>{{option.label}}</label>
							        			<md-select ng-model="item.content.otheroption" class="md-no-underline select-style">
							        				<md-option ng-repeat="op in option.options" ng-value="op.value">{{op.text}}</md-option>
							        			</md-select>
						        			</div>

						        		</div>
						        		<div  layout="row" layout-align="start start" ng-if="item.content.widgetName.indexOf('TopN') > -1" class="set-n-value">
							        		<div class="n-value-to-select" layout="row" layout-align="start center">
							        			<label class="n-value-label">N</label>
								        		<md-input-container>
								        			<input type="text" name="naval" ng-model="item.content.nValue" ng-maxlength="2" ng-pattern="/^[0-9]*$/" aria-label="N value">
								        			<div ng-messages="nvalueForm.naval.$error" role="alert">
                                                        
                                                        <div ng-message="pattern">Only numerics are allowed.</div>
                                                    </div>
								        		</md-input-container>
								        		
							        		</div>
							        		
						        		</div>
						        		</form>
						        		<div>
						        		    <!--
							        		<md-button class="md-raised md-primary set-button" ng-click="selectedNavlue($event, item,interval ,nValue)">SET</md-button>
							        		-->
							        	</div>
						        	</section>
					        	</div>
					        </li>
					    </ul>
					</div>	          	
		        </div>
	        </md-tab-body>
	    </md-tab>

	</md-tabs>
	<div ng-if="drillDownConfig.ready" style="height: 100%" class="content-height-fixer">
		<drilldowncontainer widgetname="drillDownConfig.widgetname" drilldowndata="drillDownConfig.drilldowndata"></drilldowncontainer>
	</div>
	<section layout="row" ng-hide="!createDashboard" layout-align="center center" style="min-height:{{setMessageHeight()}}">
		<span ng-if="noTenantAvaliable">You cannot setup dashboard as you don't have infrastructure connecters configured yet </span>
		<span ng-if="addDashboard">You don't have any dashboard added. <span style="color: #4a90e2; cursor:pointer;" ng-click='addTab($event)'> Add a dashboard.</span></span>
	</section>
</div>
