;<section ng-controller="monitorNetworksRightPanelCtr"    layout="column"  class="vs-security-groups">
    <md-toolbar layout="row" layout-align="space-between none">
        <span>{{wizardnetworkmap_rightpanel_header}}  <md-icon class="light-bulb" ng-click=" helpButtonClicked('virtualchassis_popup_securitygroups_wizard')">lightbulb_outline</md-icon> </span>
        <!--<md-button class="md-icon-button md-primary md-hue-3" aria-label="help"><md-icon>help_outline</md-icon></md-button>-->
        <div  ng-show="!isViewStateInitialScreenNoResourceGroup()">
            <md-button class="md-icon-button md-primary md-hue-3"  ng-show = "!editableMode && isGroupExits()" ng-click="editResourceGroup()">
                <md-icon style="font-size: 20px;">edit</md-icon>
            </md-button>
            <md-button   ng-show = "editableMode" class="md-accent" ng-click="applyResourceGroupChanges()" style="font-weight: bold;">Done</md-button>
        </div>
    </md-toolbar>

    <md-divider> </md-divider>

    <md-content  class="right-panel-height-fixer security-content"  layout="column" >
        <div layout="column" layout-align="center center" class="empty-select-text" ng-show="isViewStateInitialScreenNoResourceGroup()" style="
             min-height: 500px;">
            <span>No networks grouped yet.</span>                        
        </div>
        <div layout="column" ng-show="isViewStateAddNewResourceGroup()">
            <section ng-controller="newResourcegroupCtr">
                <section ng-show="!editableMode" style="padding: 16px 38px; border-bottom: rgba(109,110,113,0.1) solid 1px;">

                    <span style="font-size: 16px;">Add selected to New security group <md-icon class="light-bulb" ng-click=" helpButtonClicked('virtualchassis_securitygroups_wizard')">lightbulb_outline</md-icon></span>
                    <form name='createGroupForm' novalidate="true">

                        <md-input-container>
                            <label>Name new group</label>
                            <input autofocus id="groupNameInput" md-maxlength="20" name='groupName' ng-model="newResourceGroups.name" ng-pattern="/^[a-zA-Z0-9.-\s]*$/" required>
                            <div ng-messages="createGroupForm.groupName.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                                <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>
                            </div>

                        </md-input-container>

                        <md-input-container>
                            <label>Select security control</label>
                            <md-select ng-model="newResourceGroups.controlPolicy" md-container-class="policy-control">
                                <md-option ng-repeat="sc in securityPolicySet" ng-value="sc.id" style="border-bottom: rgba(109,110,113,0.1) solid 1px;">
                                    <div><span style="margin-right: 16px; color: #6d6e71;">{{sc.id}}</span><span>{{getSecurityPolicyDiscriptionFromName(sc.name)}}</span></div>
                                </md-option>
                            </md-select>
                            <md-icon class="light-bulb" ng-click=" helpButtonClicked('virtualchassis_bindingseccontrols_wizard')">lightbulb_outline</md-icon> 
                        </md-input-container>
                        <md-input-container>
                            <div> 
                                <label style="color: #6d6e71;">Tenant: {{activeTenant.name}}</label>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <div>
                                <md-checkbox 
                                    name='inlineResourceGroup' 
                                    ng-if="inlineModeAvailable"
                                    ng-model="newResourceGroups.inline"  
                                    aria-label="Inline" 
                                    style="color: #6d6e71;">
                                    Inline
                                </md-checkbox>
                            </div>
                            </md-input-container>
                    </form>
                    <section layout="row" layout-align="end center">
                        <md-button  ng-click="cancelNewResourceGroup()" class=" md-accent md-hue-3">Cancel</md-button>
                        <md-button ng-click="createNewResourceGroup()" ng-disabled="disableCreateGroup" class=" md-accent md-raised" style="padding: 0 20px; color: #FFFFFF;">Add Group</md-button>
                    </section>
                    <md-divider> </md-divider>
                </section>

                <div ng-include="'core/components/screenComponents/networkView/list-resourcegroup.html'"  layout="row"></div>   
            </section>                        
        </div>
        <div layout="column"  ng-show="isViewStateListAllResourceGroup()" >
            <div ng-include="'core/components/screenComponents/networkView/list-resourcegroup.html'" layout="row"></div>                       
        </div>
        <div layout="column"  ng-show="isViewStateAddOptionExistingResourceGroup()">
            <section ng-show="!editableMode" layout="column" layout-align="center stretch">
                <md-button class="md-accent " ng-click='showAddNewGroupScreen($event)' style="border: rgb(243,120,100) solid 1px;padding: 5px 0;">
                    <md-icon>add_circle_outline</md-icon> ADD SELECTED TO NEW GROUP 
                </md-button>
                <div layout="column" layout-align="center center"style="font-size: 14px; margin: 24px 0px; color:#6d6e71;" layout-align="center center">or add to existing group</div>
                <md-divider> </md-divider>
            </section> 

            <div ng-include="'core/components/screenComponents/networkView/list-resourcegroup.html'" layout="row"></div>                        
        </div>     
    </md-content>
</section>