<div class="more-filter-popup">	
    <md-dialog-content>
		<div class="md-dialog-content">
			<div layout="row" layout-align="start start" style="margin-bottom: 20px;">
				<div class="titleText">Predefined Filters</div>
			</div>
			<!-- <div layout="row" layout-align="space-between center" style="height:48px;" class="info-text">
				<div>
					Groups not assigned to a virtual chassis
				</div>
			</div> -->
			<div ng-cloak>
			  <md-content>
			    <md-tabs md-dynamic-height md-border-bottom>
			      <md-tab>
			      	<md-tab-label layout="row" layout-align="center center">
			      		<div><md-icon style="font-size:15px;margin-top: 7px;">sort_by_alpha</md-icon>A-Z</div>
			      	</md-tab-label>
			        <md-tab-body>
			          <div layout="row" layout-align="start center" style="margin:20px 0;">
			          	<div style="font-size: 15px;color:#6d6e71;">
			          		Each of these filters selects for display networks and workloads whose names begin with the respective letter.
			          	</div>
			          </div>
			          <div layout="row" layout-align="start center" style="margin-bottom:24px;color:#000;">
			          	<div>A-Z</div>
			          </div>
			          <div class="row" layout-align="start center" style="margin-bottom:48px;"">
			          	<div>
			          		<md-button ng-repeat="letter in alphabet track by $index " class="md-button filterbuttons" style="border-radius:15px;" ng-click="toggle(letter.toLowerCase(),'alphanumeric')" ng-class="{active:checkexists(letter.toLowerCase(),'alphanumeric') }">
			          		 {{letter}} ({{getCounter(letter.toLowerCase())}})
			          		 <md-icon ng-show="!checkexists(letter.toLowerCase(),'alphanumeric')">add_circle_outline</md-icon>
			          		 <md-icon style="color:#fff;" ng-show="checkexists(letter.toLowerCase(),'alphanumeric')">remove_circle_outline</md-icon>
			          		 </md-button>
			          	</div>
			          </div>
			          <div layout="row" layout-align="start center" style="margin-bottom:24px;color:#000;">
			          	<div>0-9</div>
			          </div>
			          <div class="row" layout-align="start center" style="margin-bottom:48px;"">
			          	<div>
			          		<md-button ng-repeat="number in [0,1,2,3,4,5,6,7,8,9] track by $index " class="md-button filterbuttons" style="border-radius:15px;" ng-click="toggle(number.toString(),'alphanumeric')" ng-class="{active:checkexists(number.toString(),'alphanumeric') }">
			          		 {{number}} ({{getCounter(number.toString())}})
			          		 <md-icon ng-show="!checkexists(number.toString(),'alphanumeric')">add_circle_outline</md-icon>
			          		 <md-icon style="color:#fff;" ng-show="checkexists(number.toString(),'alphanumeric')">remove_circle_outline</md-icon>
			          		 </md-button>
			          	</div>
			          </div>
			        </md-tab-body>
			      </md-tab>
			      <md-tab>
			     	<md-tab-label  layout="row" layout-align="center center">
			      		<div><md-icon style="font-size:15px;margin-top: 7px;">settings_applications</md-icon>APPIDs</div>
			      	</md-tab-label>
			        <md-tab-body>
			          <div layout="row" layout-align="start center" style="margin:24px 0;color:#000;">
			          	<div>Workloads Applications</div>
			          </div>
			          <div class="row" layout-align="start center" style="margin-bottom:48px;"">
			          	<div>
			          		<md-button ng-repeat="item in availableApp track by $index " class="md-button filterbuttons" style="border-radius:15px;" ng-click="toggle(item.id,'appname')" ng-class="{active:checkexists(item.id,'appname') }">
			          		 {{item.name}} 
			          		 <md-icon ng-show="!checkexists(item.id,'appname')">add_circle_outline</md-icon>
			          		 <md-icon style="color:#fff;" ng-show="checkexists(item.id,'appname')">remove_circle_outline</md-icon>
			          		 </md-button>
			          	</div>
			          </div>
			        </md-tab-body>
			      </md-tab>
			      <md-tab>
			      	<md-tab-label  layout="row" layout-align="center center">
			      		<div><md-icon style="font-size:15px;margin-top: 7px;">settings_system_daydream</md-icon>OS</div>
			      	</md-tab-label>
			        <md-tab-body>
			          <div layout="row" layout-align="start center" style="margin:24px 0;color:#000;">
			          	<div>Workloads OS</div>
			          </div>
			          <div class="row" layout-align="start center" style="margin-bottom:48px;"">
			          	<div>
			          		<md-button ng-repeat="item in availableOS track by $index " class="md-button filterbuttons" style="border-radius:15px;" ng-click="toggle(item.id,'os')" ng-class="{active:checkexists(item.id,'os') }">
			          		 {{item.name}} 
			          		 <md-icon ng-show="!checkexists(item.id,'os')">add_circle_outline</md-icon>
			          		 <md-icon style="color:#fff;" ng-show="checkexists(item.id,'os')">remove_circle_outline</md-icon>
			          		 </md-button>
			          	</div>
			          </div>
			        </md-tab-body>
			      </md-tab>
			    </md-tabs>
			  </md-content>
			</div>
			
		</div>
	</md-dialog-content>
	<md-divider></md-divider>
	<md-dialog-actions layout="row">
		<md-button ng-click="cancelDialog()" style="color:#4a90e2;">Cancel</md-button>
		<md-button class="md-raised md-accent" ng-click="applyDialog()"  style="color:#fff;">Apply</md-button>
	</md-dialog-actions>
</div>