<section layout="column" class="policy-acl-dir-table "> <!-- policy-table-page -->
    <div layout="row" layout-align="space-between center"  style="height:64px;">
        <div ng-show="!dataInSateParams">
            <span class="new-policy-heading" style="margin-bottom: 0;">3. Add rules</span>
        </div>
        <div ng-show="dataInSateParams">
             <span class="new-policy-heading">Rules</span>
        </div>
        <div>
        <!-- <md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchBar($event)">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Search
                    </md-tooltip>
                    <md-icon>search</md-icon>
                </md-button> -->
        <md-button ng-show="is_update_policy" class="md-primary addNewTypePolicy" aria-label="add" ng-click='callToAddNewAclRule($event,"","","add_mode")'>
            <md-icon class="icon-18">add_circle_outline</md-icon> Add Rule
        </md-button>
        </div>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-disabled="totaldata !== undefined"></md-progress-linear>
    <md-table-container>
        <table md-table md-row-select ng-model="policiesList"  >
                <thead md-head>
                <tr md-row>
                    <th md-column></th>
                    <!-- UPDATE THIS BLOCK FOR CUSTOM COLUMN HEADERS -->
                    <th md-column><span>Enabled</span></th>
                    <th md-column><span>Order</span></th>
                    <th md-column><span>Rule Name</span></th>
                    <th md-column><span>Description</span></th>
                    <!-- <th md-column><span>Cidrs</span></th> -->
                    <!-- <th md-column flex="10"><span>Save to File</span></th> -->
                    <th md-column class="server-objs-cidrs"><span>Client Object Groups</span></th>
                    <th md-column><span>AppID</span></th>
                    <th md-column><span>L4 Protocol </span></th>
                    <th md-column><span>Port#/Range</span></th>
                    <!-- <th md-column><span>LOG</span></th> -->
                    <th md-column><span>Action</span></th>
                    <th md-column><span>TLS Inspection</span></th>
                    <!-- <th md-column><span>Created By</span></th> -->
                    <!-- <th md-column><span>Last Updated</span></th> -->
                    <!-- END -->
                </tr>
                <tr class="searchbar" ng-show="isSearchBarOpen">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td  class="serach-acl-rule"><search datalist='content' searchconfig='{listname:"content", searchkeylocale: "!", key: "name"}' showicon='false'></search></td>
                        <td class="serach-acl-rule"> <search datalist='content' searchconfig='{listname:"content", searchkeylocale: "!", key: "description"}' showicon='false'></search></td>
                        <td class="serach-acl-rule"> <!-- <search datalist='content' searchconfig='{listname:"content", searchkeylocale: "!", key: "destinationCidrs"}' showicon='false'></search> --></td>
                        <td class="serach-acl-rule"><!-- <search datalist='content' searchconfig='{listname:"content", searchkeylocale: "!", key: "destinationCidrs"}' showicon='false'></search> --></td>
                        <td class="serach-acl-rule"><!-- <search datalist='content' searchconfig='{listname:"content", searchkeylocale: "!", key: "destinationCidrs"}' showicon='false'></search> --></td>
                        <td class="serach-acl-rule"><!-- <search datalist='content' searchconfig='{listname:"content", searchkeylocale: "!", key: "destinationCidrs"}' showicon='false'></search> --></td>
                        <td class="serach-acl-rule"><!-- <search datalist='content' searchconfig='{listname:"content", searchkeylocale: "!", key: "action"}' showicon='false'></search> --></td>
                        <td class="serach-acl-rule" ><!-- <search datalist='content' searchconfig='{listname:"content", searchkeylocale: "!", key: ""}' showicon='false'></search> --></td>
                        <td class="serach-acl-rule"><!-- <search datalist='content' searchconfig='{listname:"content", searchkeylocale: "!", key: ""}' showicon='false'></search> --></td>
                      
                </tr> 
            </thead>
            <tbody md-body id="updateAclRowcontent">
                <tr md-row md-auto-select md-select="connection" class="{{connection.name}}" md-select-id="name" ng-repeat="(key,connection) in content" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-class="{highlighted : connection.active}" id="{{connection.orderNum}}" >
                <td md-cell class="button-cluster" ng-class="{show : hover}" layout="row" style="width: 100%;padding-left:8px;">
                        <md-icon  ng-show="is_update_policy" class="icon-18 ng-scope prsedence-icon {{connection.name}}" id="handle"  ng-mousedown="onMouseDown($event)" style="padding: 12px 0px 8px 0px;margin-left:0;margin-right:16px;" md-svg-src="images/ic-grab.svg">select_all</md-icon>
                        <!-- {{connection.name}} -->
                        <md-button  ng-hide="connection.name === 'ImplicitDenyAll' || !is_update_policy " ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="delete" ng-click='deleteAclPolicy(connection)'>
                            <md-tooltip md-delay="0" md-direction="bottom">
                                Delete Connection
                            </md-tooltip>
                            <md-icon class="icon-18">delete</md-icon>
                        </md-button>
                        <md-button ng-hide="connection.name === 'ImplicitDenyAll' || !is_update_policy " ng-disabled="promiseCompleted " class="md-icon-button md-primary md-hue-3" aria-label="refresh" ng-click='callToAddNewAclRule($event,connection,key,"edit_mode")'>
                            <md-tooltip md-delay="0" md-direction="bottom">Edit Policy
                            </md-tooltip>
                            <md-icon class="icon-18">edit</md-icon>
                        </md-button>
                    </td>
                    <td md-cell><md-checkbox  name = "enabled" ng-model="connection.enabled" aria-label="Brand Name"  ng-disabled="!is_update_policy" style="padding: 6px;"></md-checkbox></td>
                    <td md-cell><span >{{connection.orderNum}}</span>
               <!--      <span ng-show="connection.editOrderNumber" class="order-input-field">
                        <md-input-container>
                        <input ng-model="connection.orderNum" aria-label="connection.orderNum" ng-change="chnageOrderInACLTabel(connection.orderNum,key)">
                      </md-input-container></span> -->
                    </td>
                    <td md-cell> <span ng-show="connection.newRule === true" class="new-policy-added">new</span> <span>{{connection.name | limitTo: 10}}{{connection.name.length > 10 ? '...' : ''}} <md-tooltip md-direction="bottom">
                       {{connection.name}}
                    </md-tooltip></span></td>
                    <td md-cell><span ng-show="connection.description !== '' ">{{connection.description | limitTo: 10}}{{connection.description.length > 10 ? '...' : ''}}
                        <md-tooltip md-direction="bottom">
                       {{connection.description}}
                    </md-tooltip>
                    </span> <span ng-show="connection.description === ''">Any</span></td>
                    <!-- <td md-cell>{{connection.destinationCidrs}}</td> -->
                    <td md-cell>
                     <!-- </span> 
                    <span ng-show="connection.destinationCidrs === '' " ng-repeat="(key,data) in connection.resourcegroupNames  | limitTo: 2">{{data}}<span ng-hide="key === connection.resourcegroupNames.length-1">,</span></span> -->
                    <span ng-show="connection.resourcegroupNames.length > 0 "><span  ng-repeat="(key,data) in connection.resourcegroupNames  | limitTo: 2">{{data}}<span ng-hide="key === connection.resourcegroupNames.length-1">,</span></span>

                    <span class="policy-title" ng-show="connection.resourcegroupNames.length > 2" ng-click="showMoreItemPopUp($event,connection.resourcegroupNames,'Client Object Groups')">+{{connection.resourcegroupNames.length-2}}</span> </span>

                    <span ng-show="connection.resourcegroupNames.length === 0 || connection.resourcegroupNames === ''  ">Any</span></td>
                    <td md-cell><span ng-show="connection.destinationApps !== '' " ng-init=" dataApps = connection.destinationApps.split(',')"><span ng-repeat="(key,data) in dataApps | limitTo: 2"> {{data}}<span ng-hide="key === dataApps.length-1">,</span></span>
                        <span class="policy-title" ng-show="dataApps.length > 2" ng-click="showMoreItemPopUp($event,dataApps,'AppIDs')">+{{dataApps.length-2}}</span>
                    </span> <span ng-show="connection.destinationApps === '' || connection.destinationApps === null "> Any</span> </td>
                    <td md-cell><span ng-show="connection.destinationProtocol !== ''  ">{{connection.destinationProtocol}}</span> <span ng-show="connection.destinationProtocol === '' || connection.destinationProtocol === null ">Any</span></td>
                    <td md-cell><span ng-show="connection.destinationPortRanges !== '' " ng-init="dataRanges = connection.destinationPortRanges.split(',') "> 
                    <span ng-repeat="(key,range) in dataRanges  | limitTo: 2"">{{range}}<span ng-hide="key === dataRanges.length-1">,</span></span>
                     <span class="policy-title" ng-show="dataRanges.length > 2" ng-click="showMoreItemPopUp($event,dataRanges,'Port#/Range')">+{{dataRanges.length-2}}</span>
                    </span> <span ng-show="connection.destinationPortRanges === '' ">Any</span> <!-- {{connection.destinationPortRanges}} --></td>
                    <!-- <td md-cell></td> -->
                    <td md-cell>{{connection.action}}</td>
                    <td md-cell><md-checkbox  name = "enabledTLS" ng-model="connection.enableTLSInspection" aria-label="Brand Name"  ng-disabled="!is_update_policy" style="padding: 6px;"></md-checkbox></td>
                    <!-- <td md-cell><span>-</span></td> -->
                    <!-- <td md-cell><span>{{connection.modifiedDate}}</span></td> -->
                    <!-- END -->
                </tr>
            </tbody>
           
        </table>

        <div  ng-show="content === undefined" layout="row" layout-align="center center" class="no-rule-strip">
            <span>You don’t have any rules set up <span class="add-rule-text"ng-click='callToAddNewAclRule($event)'>add a rule</span></span>
        </div>
    </md-table-container>
</section>
