<md-dialog id= "event-grid-table" aria-label="ACL update policy" ng-cloak class=" content-height-fixer fullscreen-dialog" style="height: 100%;">
 <md-toolbar id="toolbar">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>Event Data</h2>
            <span flex></span>
            <md-button class="md-icon-button md-primary md-hue-3 export" aria-label="export"  ng-csv="eventData" csv-header="['Start Time', 'Severirty', 'Source resource group','Destination resource group','Source IP Address','Destination IP Address','Source Machine Name','Destination Machine Name','policy Name','Threat Name','Malware Name']"  filename="eventData.csv" field-separator="," decimal-separator=",">
            <md-tooltip md-delay="250" md-direction="bottom">
                Export
            </md-tooltip>
            <md-icon>system_update_alt</md-icon>
           </md-button>
        </div>

    </md-toolbar>

    <!-- <md-dialog-content  layout="column"  style="height:92%; "> -->
  <div layout="column" layout-padding >
    <section>
        <label style="margin: 1px; font-size: 12px;">Time Interval</label>
        <div style="margin-top: 5px;"><span style="padding-right: 9px;">{{startTime}}</span>to<span style="padding-left: 9px;">{{endTime}}</span></div>
    </section>
    <md-table-container>
      <table md-table md-row-select multiple ng-model="selected">
        <thead md-head md-order="query.order" md-on-reorder="onReorder">
          <tr md-row>
            <th md-column md-order-by="startTime">Start Time</th>      
            <th md-column md-order-by="severirty">Severirty</th>
            <th md-column md-order-by="srcResourceGroup">Source resource group</th>
            <th md-column md-order-by="dstResourceGroup">Destination resource group</th>
            <th md-column md-order-by="srcIpAddress">Source IP Address</th>
            <th md-column md-order-by="dstIpAddress">Destination IP Address</th>
            <th md-column md-order-by="dstMachineName">Destination Machine Name</th>
            <th md-column md-order-by="srcMachineName">Source Machine Name</th>
             <th md-column md-order-by="policyName">Policy Name</th>
             <th md-column md-order-by="threatName">Threat Name</th>
              <th md-column md-order-by="fileTag">Malware Name</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr>
            <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"startTime"}' showicon='false' ></td>
            <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"severirty"}' showicon='false' ></td>
            <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"srcResourceGroup"}' showicon='false' ></td>
            <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"dstResourceGroup"}' showicon='false' ></td>
            <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"srcIpAddress"}' showicon='false' ></td>
            <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"dstIpAddress"}' showicon='false' ></td>
            <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"dstMachineName"}' showicon='false' ></td>
            <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"srcMachineName"}' showicon='false' ></td>
            <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"policyName"}' showicon='false' ></td>
             <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"threatName"}' showicon='false' ></td>
             <td> <search datalist='eventData' searchconfig='{listname:"eventData", searchkeylocale: "!", key:"fileTag"}' showicon='false' ></td>
          </tr>
          <tr md-row md-auto-select md-select="items" md-select-id="name" ng-repeat="items in eventData | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false"  ng-class="{highlighted : items.active}">
            <td md-cell>{{items.startTime}}</td>
            <td md-cell>{{items.severirty}}</td>
            <td md-cell>{{items.srcResourceGroup}}</td>
            <td md-cell>{{items.dstResourceGroup}}</td>
            <td md-cell>{{items.srcIpAddress}}</td>
            <td md-cell>{{items.dstIpAddress}}</td>
            <td md-cell>{{items.dstMachineName}}</td>
            <td md-cell>{{items.srcMachineName}}</td>
            <td md-cell>{{items.policyName}}</td>
            <td md-cell>{{items.threatName}}</td>
            <td md-cell>{{items.fileTag}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
   <!-- </md-dialog-content> -->
    <div flex> </div>
    <div>
      <md-content id="pagination" layout="column" layout-align="start stretch" class="widget-footer">
        <md-table-pagination id="inner-pagination" md-limit="query.limit" md-page="query.page" md-total="{{(eventData.length)? eventData.length : 0 }}" md-page-select>
        </md-table-pagination>
      </md-content>
    </div>
   
   
</md-dialog>
