<md-progress-linear md-mode="indeterminate" ng-show="networkInfo.length === 0"></md-progress-linear>
<div ng-show="allNetworksFetched!==undefined ? !allNetworksFetched:false">
    <div layout="column" layout-align="center center" class="content-height-fixer">
        <div><md-icon aria-label="Done" class="check-circle-green">check_circle</md-icon></div>
        <div style="font-size:34px; text-align: center;">No networks available <br/>or <br/>All networks grouped for tenant</div>
    </div>
</div>
<div style="width: 100%;margin:12px 14px 14px 24px;">
  <div ng-show="!groupednet.length" layout="row" layout-align="start center" style="color:#4a90e2;font-size:12px;margin-bottom:12px;cursor:pointer;">
    <div ng-click="toggleAllNetworks(1)" ng-show="networkInfo.length">
      Select All
    </div>
    <div ng-click="toggleAllNetworks(2)" ng-show="selectedNetworks.length" style="margin-left:12px;">
      Clear All
    </div>
  </div>
  <div ng-show="!groupednet.length">
    <div ng-repeat='network in networkInfo' style="width: 164px; float: left; margin: 5px 10px 5px 0;" ng-hide="network.faded || network.hideForZoom" ng-class="{selected:existsNetwork(network)}"  layout="column">
        <div class ="network nofocus" ng-click="toggle({val: network, type: 'NETWORK'})">
          
            <div layout="column" layout-align="space-around center" >
                <div class="nw-tag-container" layout="row" layout-align="start center" 
                     style="position: relative;padding-left: 8px;top: 8px; min-width:100%; opacity:{{network.faded ? '0.2' : '1'}}; height:10px;">

                    <span ng-show='{{network.isManagement}}' style="padding-right: 10px;">
                        <md-tooltip md-delay="0">
                            Management Network
                        </md-tooltip>
                        <md-icon>traffic</md-icon>
                    </span>
                    <span ng-show='{{network.isBackplane}}'>
                        <md-tooltip md-delay="0">
                            Backplane Network
                        </md-tooltip>
                        <md-icon md-svg-src="images/ic_lorry.svg">ic_lorry</md-icon>
                    </span>      <!-- -->
                </div>
                <div >
                    <div style="z-index: -1; height: 72px; width: 72px;" ng-show="sandboxMode">
                        <svg height="74" width="74">
                         <circle cx="37" cy="37" r="34" 
                              stroke="{{getStrokeColor(network)}}" 
                              stroke-width="2" 
                              stroke-dasharray="{{ network.resourceGroupName ? '' : '5,5' }}"
                              fill = "white"
                              stroke-opacity="{{network.faded ? '0.2' : '1'}}"/>
                        <!-- <path ng-attr-d="{{describeArc(37, 37, 34, 0,getPercentage(network) ) }}" fill="none" stroke="#13ce66" stroke-width="4" /> -->
                        <text x="50%" y="50%" text-anchor="middle" stroke-width="1px" font-size="14" fill="rgba(151, 151, 151, 1)">
                            {{getVMcountText(network.workloads)}}
                        </text>
                        <text x="50%" y="65%" text-anchor="middle" stroke-width="1px"  font-size="10" fill="rgba(151, 151, 151, .6)">
                            VMs
                        </text>
                        </svg>
                    </div>
                    <div style="z-index: -1; height: 72px; width: 72px;" ng-show="!sandboxMode">
                        <svg height="74" width="74">
                         <circle cx="37" cy="37" r="34" 
                              stroke="{{getStrokeColor(network)}}" 
                              stroke-width="2" 
                              stroke-dasharray="{{ network.resourceGroupId ? '' : '5,5' }}"
                              fill = "white"
                              stroke-opacity="{{network.faded ? '0.2' : '1'}}"/>
                        <text x="50%" y="50%" text-anchor="middle" stroke-width="1px" font-size="14" fill="rgba(151, 151, 151, 1)">
                            {{getVMcountText(network.workloads)}}
                        </text>
                        <text x="50%" y="65%" text-anchor="middle" stroke-width="1px"  font-size="10" fill="rgba(151, 151, 151, .6)">
                            VMs
                        </text>
                        </svg>
                    </div>
                    <div style="margin-top: -72px; height: 72px; width: 72px; opacity:{{network.faded ? '0.2' : '1'}}">
    <!--                    <md-checkbox aria-label="Checkbox" 
                                     class="md-checkbox md-accent nw-selector" 
                                     ng-checked="existsNetwork(network)" 
                                     ng-click="toggle({networkval: network})"
                        </md-checkbox>-->
                                     <!--ng-hide="{{network.resourceGroupName}}">-->
                    </div>            
                </div>
               <!-- <md-checkbox ng-hide="true" aria-label="Checkbox" 
                                   class="md-checkbox md-accent nw-selector" 
                                   ng-checked="existsNetwork(network)" 
                >
                </md-checkbox> -->
                
                <md-menu>
                 <div id='{{network.name}}' class="nw-name" ng-click="$mdOpenMenu($event)"> <md-tooltip md-delay="0" md-direction="bottom">
                          {{network.name}}
                 </md-tooltip>
                {{network.name.length>15?(network.name.substring(0,7) + "..." + network.name.substring(network.name.length-7,network.name.length)):network.name}}
                <md-icon>arrow_drop_down</md-icon></div>
                 <md-menu-content width="4">
                  <md-menu-item><md-button ng-click="showObjectDetails({val: network, type: 'NETWORK'})">Show Network Attributes</md-button></md-menu-item>
                  <md-menu-item><md-button ng-click="toggle({val: network, type: 'NETWORK'})">Create rule based on this network</md-button></md-menu-item>
                  <md-menu-item><md-button ng-click="selectAllWorkloads(network)">Select all workloads on this network</md-button></md-menu-item>
                 </md-menu-content>
                </md-menu>
            </div>
        </div>

        <div ng-hide="!showWorkload || !network.workloads.length > 0" layout="column" layout-align="center center" style="padding: 7px; border: solid 1px rgba(151, 151, 151, 0.2); margin-bottom: 50px;">
          <div ng-repeat="items in network.workloads" style="margin:7px; width: 100%;" ng-mouseenter="showDiv=!showDiv" ng-mouseleave="showDiv=!showDiv" ng-init="showDiv=false" ng-show="!items.faded">

              <md-tooltip md-direction="top">{{items.name}}</md-tooltip>
              <svg height="38" width="94" ng-click="toggle({val: items, type: 'WORKLOAD'})" class="nofocus" ng-show="sandboxMode">
                <circle cx="75" cy="19" r="12" stroke="{{ getStrokeColor(network,items) }}" stroke-width="2" stroke-dasharray="{{ (items.resourceGroupName || $parent.network.resourceGroupName) ? '' : '5,5' }}" fill="none"  />
                <circle cx="75" cy="19" r="17" stroke="#4990e2" stroke-width="2" fill="none" ng-show="existsWorkload(items)" />
              </svg>
              <svg height="38" width="94" ng-click="toggle({val: items, type: 'WORKLOAD'})" class="nofocus" ng-show="!sandboxMode">
                <circle cx="75" cy="19" r="12" stroke="{{ getStrokeColor(network,items) }}" stroke-width="2" stroke-dasharray="{{ (items.resourceGroupId || $parent.network.resourceGroupId) ? '' : '5,5' }}" fill="none" />
                <circle cx="75" cy="19" r="17" stroke="#4990e2" stroke-width="2" fill="none" ng-show="existsWorkload(items)" />
              </svg>
              <md-menu>
               <md-icon style="margin: -30px 0px 0 0;" ng-show="showDiv" ng-click="$mdOpenMenu($event)">arrow_drop_down</md-icon> <!-- showDiv -->
               <md-menu-content width="4">
                <md-menu-item><md-button ng-click="showObjectDetails({val: items, type: 'WORKLOAD'})">View Object Attributes</md-button></md-menu-item>
                <md-menu-item><md-button ng-click="toggle({val: items, type: 'WORKLOAD'})">Create rule based on this workload</md-button></md-menu-item>
               </md-menu-content>
              </md-menu>
              

          </div>
        </div>
    </div>
  </div>
  <div ng-show="groupednet.length && networkInfo.length !== 0">
    <div ng-repeat="singlegroup in groupednet" style="clear:both;margin-bottom:24px;">
      <div style="font-size:14px;color:#000;">{{singlegroup.groupInfo.name}}<span style="color:#6d6e71">({{singlegroup.totalWorkloads}})</span></div>
      <div ng-repeat='network in singlegroup.networks' style="width: 164px; float: left; margin: 5px;" ng-hide="network.faded || network.hideForZoom" ng-class="{selected:existsNetwork(network)}"  layout="column">
          <div class ="network nofocus" ng-click="toggle({val: network, type: 'NETWORK'})">
            
              <div layout="column" layout-align="space-around center" >
                  <div class="nw-tag-container" layout="row" layout-align="start center" 
                       style="position: relative;padding-left: 8px;top: 8px; min-width:100%; opacity:{{network.faded ? '0.2' : '1'}}; height:10px;">
                      <span ng-show='{{network.isManagement}}' style="padding-right: 10px;">
                          <md-tooltip md-delay="0">
                              Management Network
                          </md-tooltip>
                          <md-icon>traffic</md-icon>
                      </span>
                      <span ng-show='{{network.isBackplane}}'>
                          <md-tooltip md-delay="0">
                              Backplane Network
                          </md-tooltip>
                          <md-icon md-svg-src="images/ic_lorry.svg">ic_lorry</md-icon>
                      </span>
                  </div>
                  <div >
                      <div style="z-index: -1; height: 72px; width: 72px;" ng-show="sandboxMode">
                          <svg height="74" width="74">
                           <circle cx="37" cy="37" r="34" 
                                stroke="{{getStrokeColor(network)}}" 
                                stroke-width="2" 
                                stroke-dasharray="{{ network.resourceGroupName ? '' : '5,5' }}"
                                fill = "white"
                                stroke-opacity="{{network.faded ? '0.2' : '1'}}"/>
                          <!-- <path ng-attr-d="{{describeArc(37, 37, 34, 0,getPercentage(network) ) }}" fill="none" stroke="#13ce66" stroke-width="4" /> -->
                          <text x="50%" y="50%" text-anchor="middle" stroke-width="1px" font-size="14" fill="rgba(151, 151, 151, 1)">
                              {{getVMcountText(network.workloads)}}
                          </text>
                          <text x="50%" y="65%" text-anchor="middle" stroke-width="1px"  font-size="10" fill="rgba(151, 151, 151, .6)">
                              VMs
                          </text>
                          </svg>
                      </div>
                      <div style="z-index: -1; height: 72px; width: 72px;" ng-show="!sandboxMode">
                          <svg height="74" width="74">
                           <circle cx="37" cy="37" r="34" 
                                stroke="{{getStrokeColor(network)}}" 
                                stroke-width="2" 
                                stroke-dasharray="{{ network.resourceGroupName ? '' : '5,5' }}"
                                fill = "white"
                                stroke-opacity="{{network.faded ? '0.2' : '1'}}"/>
                          <text x="50%" y="50%" text-anchor="middle" stroke-width="1px" font-size="14" fill="rgba(151, 151, 151, 1)">
                              {{getVMcountText(network.workloads)}}
                          </text>
                          <text x="50%" y="65%" text-anchor="middle" stroke-width="1px"  font-size="10" fill="rgba(151, 151, 151, .6)">
                              VMs
                          </text>
                          </svg>
                      </div>
                      <div style="margin-top: -72px; height: 72px; width: 72px; opacity:{{network.faded ? '0.2' : '1'}}">
      <!--                    <md-checkbox aria-label="Checkbox" 
                                       class="md-checkbox md-accent nw-selector" 
                                       ng-checked="existsNetwork(network)" 
                                       ng-click="toggle({networkval: network})"
                          </md-checkbox>-->
                                       <!--ng-hide="{{network.resourceGroupName}}">-->
                      </div>            
                  </div>
                 <!-- <md-checkbox ng-hide="true" aria-label="Checkbox" 
                                     class="md-checkbox md-accent nw-selector" 
                                     ng-checked="existsNetwork(network)" 
                  >
                  </md-checkbox> -->
                  
                  <md-menu>
                   <div id='{{network.name}}' class="nw-name" ng-click="$mdOpenMenu($event)"> <md-tooltip md-delay="0" md-direction="bottom">
                            {{network.name}}
                   </md-tooltip>
                  {{network.name.length>15?(network.name.substring(0,7) + "..." + network.name.substring(network.name.length-7,network.name.length)):network.name}}
                  <md-icon>arrow_drop_down</md-icon></div>
                   <md-menu-content width="4">
                    <md-menu-item><md-button ng-click="showObjectDetails({val: network, type: 'NETWORK'})">Show Network Attributes</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="toggle({val: network, type: 'NETWORK'})">Create rule based on this network</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="selectAllWorkloads(network)">Select all workloads on this network</md-button></md-menu-item>
                   </md-menu-content>
                  </md-menu>
              </div>
          </div>


      </div>
    </div>
  </div>
</div>


