<md-dialog aria-label="Info of File Type" class="info-file-type">
    <md-dialog-content layout="column" >
        <!--  <md-content > -->
        <div class="info-policy-type-title">
           MS Office File Types Extracted
        </div>
       <!--  <div class="policy-type-info-details" layout="row" > -->
        <div class="policy-type-info-details"  layout="column" layout-align="space-around start">
            <span>PDF – pdf.</span>
            <span>EXE – dosexec, ELF.</span>
            <span>MSOFFICE – msword, rtf, ms-excel, presentation, spreadsheet, word processing document.</span>
            <span>COMPRESSED – ms-cab, archive, gzip, lzip, lzma, rar, tar, zip.</span>
            <span>JAR – java-archive, java-pack200, java-applet</span>
        </div>
       <!--  <md-list flex>
        <md-subheader class="md-no-sticky">MS Office File Types Extracted</md-subheader>
            <md-list-item class="md-3-line"  ng-click="null">
              <div class="md-list-item-text" layout="column">
                <span>!!{“applica)on/x:dosexec”,!fileTypeEXE},</span>
              </div>
            </md-list-item>
            <md-list-item class="md-3-line"  ng-click="null">
              <div class="md-list-item-text" layout="column">
                <span>!!{“applica)on/msword”,!fileTypeMSOFFICE},</span>
              </div>
            </md-list-item>
            <md-list-item class="md-3-line"  ng-click="null">
              <div class="md-list-item-text" layout="column">
                <span>!!{“text/rO”,fileTypeMSOFFICE},</span>
              </div>
            </md-list-item>
             <md-list-item class="md-3-line"  ng-click="null">
              <div class="md-list-item-text" layout="column">
                <span>!!{“applica)on/vnd.ms:excel”,!fileTypeMSOFFICE},</span>
              </div>
            </md-list-item>
            <md-list-item class="md-3-line"  ng-click="null">
              <div class="md-list-item-text" layout="column">
                <span>!!{“applica)on/vnd.openxmlformats:officedocument.presenta)onml.presenta)on”,!fileTypeMSOFFICE},</span>
              </div>
            </md-list-item>
            <md-list-item class="md-3-line"  ng-click="null">
              <div class="md-list-item-text" layout="column">
                <span>!!{“applica)on/vnd.openxmlformats:officedocument.spreadsheetml.sheet”,!fileTypeMSOFFICE},</span>
              </div>
            </md-list-item>
            <md-list-item class="md-3-line"  ng-click="null">
              <div class="md-list-item-text" layout="column">
                <span>!!{“applica)on vnd.openxmlformats:officedocument.wordprocessingml.document”,!fileTypeMSOFFICE}</span>
              </div>
            </md-list-item>
        </md-list> -->
       <!--  <span>
            !!{“applica)on/x:dosexec”,!fileTypeEXE}, !!{“applica)on/msword”,!fileTypeMSOFFICE}, !!{“text/rO”,fileTypeMSOFFICE}, !!{“applica)on/vnd.ms:excel”,!fileTypeMSOFFICE}, !!{“applica)on/vnd.openxmlformats:officedocument.presenta)onml.presenta)on”,!fileTypeMSOFFICE}, !!{“applica)on/vnd.openxmlformats:officedocument.spreadsheetml.sheet”,!fileTypeMSOFFICE}, !!{“applica)on vnd.openxmlformats:officedocument.wordprocessingml.document”,!fileTypeMSOFFICE},
        </span> -->

        <!-- </div> -->
        <!-- </md-content> -->
    </md-dialog-content>
    <md-dialog-actions layout="row" >
        <div layout="row" layout-align="end end">
            <md-button class="md-accent button"  ng-click="cancelTypeInfoDialogue()">Done</md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
