<section layout="column" class="policy-threshold-table">
 <md-progress-linear md-mode="indeterminate" ng-disabled="content !== undefined"> </md-progress-linear>
    <md-table-container>
        <table md-table md-row-select ng-model="policiesList" >
            <thead md-head>
                <tr md-row>
                    <th md-column>File Type</th>
                    <!-- UPDATE THIS BLOCK FOR CUSTOM COLUMN HEADERS -->
                    <th md-column><span>Black/White list</span></th>
                    <th md-column><span>FireEye</span></th>
                    <th md-column style="width: 40%;"></th>
                    <th md-column><span>Block </span></th>
                    <th md-column><span>Alert</span></th>
                    <!-- <th md-column flex="10"><span>Save to File</span></th> -->
                    <th md-column><span>Add to Blacklist</span></th>
                    <!-- END -->
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-auto-select md-select="connection" md-select-id="name" ng-repeat="connection in content track by $index" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-class="{highlighted : connection.active}">
                    <!-- ng-init="brand{{$index}} = {{connection.sendToWBList}};indexvalue = brand{{$index}}" -->
                    <td md-cell style="width: 20%;">
                        <span>{{connection.fileType}}</span>
                        <span class="info-file-type-button">
                            <md-button  class="md-icon-button md-primary md-hue-3" aria-label="info" ng-click="infoRegardingFileType($event,connection.fileType,connection)">
                                <md-tooltip md-delay="0" md-direction="bottom">
                                    Information
                                </md-tooltip>
                                <md-icon>info_outline</md-icon>
                            </md-button>
                        </span>
                    </td>
                    <!-- UPDATE THIS BLOCK FOR CUSTOM COLUMN CELLS -->
                    <td md-cell>
                        <md-checkbox name="brand{{$index}}" ng-model="connection.sendToWBList" aria-label="Brand Name" ng-disabled="!is_update_policy"></md-checkbox>
                    </td>
                    <td md-cell>
                        <md-checkbox id="fireEye{{$index}}" name="fireEye{{$index}}" ng-model="connection.sendToFireEyeEngine" aria-label="Fire Eye" ng-disabled="!is_update_policy"></md-checkbox>
                    </td>
                    <td md-cell style="width: 40%;"></td>
                    <!--<td md-cell><span>{{connection.descr}}</span></td>-->
                    <td md-cell class="select-malware-action-list">
                        <md-select placeholder="Select" ng-model="connection.blockingThreshold" ng-change="updatedMalwarePolicyRow(connection,$event)" ng-disabled="!is_update_policy">
                            <md-option ng-repeat="(index,item) in ['HIGH', 'MEDIUM', 'LOW', 'CLEAN'] track by $index" ng-selected="item == connection.blockingThreshold" class="policy-table-option" ng-value="item">
                                <span><md-icon class="brightness" ng-class="item">brightness_1</md-icon>{{item}}</span>
                            </md-option>
                            <!--  {{connection.blockingThreshold}} -->
                        </md-select>
                        <!-- <span>{{connection.blockingThreshold}}</span> -->
                    </td>
                    <td md-cell class="select-malware-action-list">
                        <md-select placeholder="Select" ng-model="connection.alertingThreshold" ng-change="updatedMalwarePolicyRow(connection,$event)" ng-disabled="!is_update_policy">
                            <md-option ng-repeat="(index,item) in ['HIGH', 'MEDIUM', 'LOW', 'CLEAN'] track by $index" ng-selected="item == connection.alertingThreshold" class="policy-table-option" ng-value="item">
                                <span><md-icon class="brightness" ng-class="item">brightness_1</md-icon>{{item}}</span>
                            </md-option>
                        </md-select>
                        <!-- <span>{{connection.alertingThreshold}}</span> --></td>
                    <!--        <td md-cell> </td> -->
                    <td md-cell class="select-malware-action-list">
                        <md-select placeholder="Select" ng-model="connection.blackListingThreshold" ng-change="updatedMalwarePolicyRow(connection,$event)" ng-disabled="!is_update_policy">
                            <md-option ng-repeat="(index,item) in ['HIGH', 'MEDIUM', 'LOW', 'CLEAN'] track by $index" ng-selected="item == connection.blackListingThreshold" class="policy-table-option" ng-value="item">
                                <span><md-icon class="brightness" ng-class="item">brightness_1</md-icon>{{item}}</span>
                            </md-option>
                        </md-select>
                        <!-- <span>{{connection.blackListingThreshold}}</span> -->
                    </td>
                    <!-- END -->
                </tr>
            </tbody>
        </table>
    </md-table-container>
</section>
