    
<section class="page-wrap"> 
 <section class="left-section">
       <img  src="images/landingpage-logo.png" class="logo"></section>
 </section>
 <section class="right-section">
    
     <md-content  class="md-padding form" >
     <label class="login_label">Login</label> 
     <div class="login-error" ng-show="showAuthError">{{errorMesage}}</div> 
     <form name="authenticateUserForm"  novalidate="true" class="login-details-form" layout="column" layout-align="center center">
      <md-input-container class="elem-width-medium">                        
        <label>UserName</label>
        <input name='userName'  ng-model="userInfo.name"  autofocus  >
        <div ng-messages="authenticateUserForm.userName.$error">
            <div ng-message="required">This is required.</div>
        </div>
     </md-input-container>
     <section layout="row" class="passwordfield">
     <md-input-container class="elem-width-medium">                        
            <label>Password</label>
            <input name='password' type="{{pwdType}}" ng-model="userInfo.password"   ng-keyup="onPasswordFieldKeyup($event)">
            <div ng-messages="authenticateUserForm.password.$error" >
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
          <md-icon ng-click='togglePasswordType()' class="show-password" 
          ng-show="pwdType==='password'">visibility</md-icon>
          <md-icon ng-click='togglePasswordType()' class="show-password" 
          ng-show="pwdType==='text'">visibility_off</md-icon>
         </section>
       </form>
      <div layout="row" layout-align="center stretch" >
       <md-button class="md-accent md-raised" ng-click = "signinUser()" style="width:100%; color: white;" >Log in</md-button> 
    </div>
    </md-content>
    <section class="copyright" style="color:#6d6e71">
    {{ 'landingpage.copyright_text_part_1' | translate}} <!-- <a href="#" ng-click="showPrivacyMessage($event)"> -->{{ 'landingpage.copyright_text_part_2' | translate}} <!-- </a > --> {{ 'landingpage.copyright_text_part_3' | translate}} <!-- <a href="#" ng-click="showTermMessage($event)">  -->{{ 'landingpage.copyright_text_part_4' | translate}} <!-- </a> -->
    </section>

 </section>
      
<section >
    
     

