<div layout="column" layout-align="start stretch" class="content-height-fixer  widget-page"  ng-controller="IOPCtr" style="height: 100%; overflow-y: scroll;">
		<!-- <div class="select-interval-drildown" layout="row">
			<md-input-container>
	            <label>Select Interval </label>
	            <md-select ng-model="timeInterval" >
	                <md-option ng-repeat="opt in intervalOptions" ng-value="opt.value">
	                    <span>{{opt.text}}</span>
	                </md-option>
	            </md-select>
	        </md-input-container>
	        <div>
	        <md-button class="md-accent md-raised set-dridown-interval" ng-click="updateDirllDownInterval(timeInterval)">Set</md-button>
	        </div>
		</div> -->
		<!-- {{tableData}} -->
		<div layout="column"  layout-padding >
			<div class="drilldown-title" layout="row" layout-align="space-between none">
				<span>{{title}}</span>
				<md-button class="md-icon-button md-primary md-hue-3 export" aria-label="export"  ng-csv="csvData" csv-header="['stage', 'App ID', 'Date', 'Time', 'Dest Ip Address','Dest Port','iop Detection Id','iop Threat Name','Protocol','Protocol Name','Source Ip Address','Sorce Port','Threat Name']"  filename="totalData.csv" field-separator="," decimal-separator=",">
		            <md-tooltip md-delay="250" md-direction="bottom">
		                Export
		            </md-tooltip>
		            <md-icon>system_update_alt</md-icon>
		        </md-button>
		</div>
		<md-table-container>
			<table md-table md-row-select ng-model="selected"   md-progress="promise" ng-repeat="rowData in tableData | orderBy:'stage' " class="iop-satges">
				<thead md-head >
					<tr md-row class="stage-header">
						<th md-column > <div class="stage{{rowData.stage}}"></div>Stage{{rowData.stage}} </th>
						<!-- <th md-column >Pie Chart</th> -->
						<th  md-column>App ID</th>
						<th  md-column>Date</th>
						<th  md-column>Time</th>
						<th  md-column>Destination IP</th>
						<th  md-column>Destination Port</th>
						<th  md-column>IOP Detection Id</th>
						<!--<th  md-column>IOP HOP</th> -->
						<th  md-column>IOP Threat Name</th>
						<!-- <th  md-column>IOP Rule Id</th> -->
						<th  md-column>Protocol</th>
						<th  md-column>Protocol Name</th>
						<th  md-column>Source IP</th>
						<th  md-column>Source Port</th>
						<th  md-column>Threat Name</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row md-auto-select md-select="data" md-select-id="name" ng-repeat="data in rowData.val | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false"  ng-class="{highlighted : data.active}">
						<td></td>
						<!-- <td></td> -->
						<td md-cell>{{data.appId}} </td>
						<td md-cell>{{data.iopThreatTimeStamp | date:'dd/MM/yyyy'}} </td>
						<td md-cell>{{data.iopThreatTimeStamp | date:'HH:mm '}} </td>
						<td md-cell>{{data.dstIpAddress}}</td>
						<td md-cell><span>{{data.dstPort}}</span></td>
                         <td md-cell><span>{{ data.iopDetectionId.substring(0, 5)}}...{{data.iopDetectionId.substring(data.iopDetectionId.length -5 , data.iopDetectionId.length)}}  <md-tooltip md-direction="bottom">
                       {{data.iopDetectionId}}
                    </md-tooltip></span></td>
                        <!--<td md-cell><span>{{data.iopHop}}</span></td> -->
                        <td md-cell><span>{{data.iopThreatName}}</span></td>
                        <!-- <td md-cell><span>{{data.iopRuleId}}</span></td> -->
                        <td md-cell><span>{{data.protocol}}</span></td>
                        <td md-cell><span>{{data.protocolName}}</span></td>
                        <td md-cell><span>{{data.srcIpAddress}}</span></td>
                        <td md-cell><span>{{data.srcPort}}</span></td>
                        <td md-cell><span>{{data.threatName}}</span></td>

					</tr>
				</tbody>
			</table>
		</md-table-container>
	</div>
	<!-- div flex> </div> -->
	<!-- 	<div>
			<md-content layout="column" layout-align="start stretch" class="widget-footer">
				<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{(tableData.length)? tableData.length : 0 }}" md-page-select>
				</md-table-pagination>
			</md-content>
		</div> -->
</div>