<md-dialog aria-label="List dialog" ng-cloak>
<md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>Edit IP Ranges</h2> <span flex></span>
            <md-button class="md-accent md-raised modal-done-button" ng-click="updateIPPoolRange()"> Done </md-button>
        </div>
    </md-toolbar>
<md-dialog-content style="height: 450px;max-height: 450px; overflow-y: auto;">
   <section layout="column" ng-controller="editIPRangeCtr" layout-margin>
    <form name="projectForm">
    <section layout="row" layout-align="space-between center" class="elem-width-large">
        <section layout="row" layout-align="space-between center" class="elem-width-medium">
            <md-input-container class="md-block elem-width-small">
                <label>{{ 'wizard.ippool.range_start' | translate }}</label>
                
                <input  name="rangeStart" md-maxlength="20" ng-model="ipRangeRows[0].rangeStartValue" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-keydown="startIpRangeKeyDown($event,ipRangeRows[0])" ng-change="startIpRangeKeyDown($event,ipRangeRows[0])" ng-disabled="!ipRangeRows[0].rangeStartEnableState"/>
                <div ng-messages="projectForm.rangeStart.$error" role="alert" >
                    <div ng-message-exp="required"> This is required. </div>
                    <div ng-message-exp="max-length"> The start range has to be less than 20 characters long.. </div>
                    <div ng-message="pattern">Not a valid IP format</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block elem-width-small">
                <label>{{ 'wizard.ippool.range_end' | translate }}</label>
                <input  name="rangeEnd" md-maxlength="20" ng-model="ipRangeRows[0].rangeEndtValue" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/"  ng-keydown="endIPRangeKeyDown($event,ipRangeRows[0])" ng-change="endIPRangeKeyDown($event,ipRangeRows[0])"  ng-disabled="!ipRangeRows[0].rangeEndEnableState"/>
                <div ng-messages="projectForm.rangeEnd.$error" role="alert" >
                    <div ng-message-exp="['required']"> This is required. </div>
                    <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
                    <div ng-message="pattern">Not a valid IP format</div>
                </div>
            </md-input-container>
        </section>
        <section layout="row" layout-align="start center">
            <div class="ip-pool-range-or-style"> or </div>
            <md-input-container class="md-block elem-width-small">
                <label>{{ 'wizard.ippool.cidr' | translate }}</label>
                <input cidrvalidation name="rangeEnd" md-maxlength="20" ng-model="ipRangeRows[0].cidrValue" ng-pattern="/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$/" ng-keydown="cidrIPRangeKeyDown($event,ipRangeRows[0])" ng-change="cidrIPRangeKeyDown($event,ipRangeRows[0])"  ng-disabled="!ipRangeRows[0].rangeCIDREnableState"/>
                <div ng-messages="projectForm.rangeEnd.$error" role="alert" >
                    <div ng-message="invalidcidr">Invalid CIDR format</div>
                    <div ng-message-exp="['required']"> This is required. </div>
                    <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
                    <div ng-message="pattern">Not a valid CIDR format</div>
                </div>
            </md-input-container>
        </section>
    </section>
    <section  ng-repeat="(key, iprange)  in ipRangeRows">
        <section ng-if="key > 0" layout="row">
            <section layout="row" layout-align="space-between center" class="elem-width-large">
                <section layout="row" layout-align="space-between center" class="elem-width-medium">
                    <md-input-container class="md-block elem-width-small">
                        <label>{{ 'wizard.ippool.range_start' | translate }}</label>
                        <input  name="rangeStart{{key}}"  md-maxlength="20" ng-model="iprange.rangeStartValue" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-disabled="!iprange.rangeEndEnableState" ng-keydown="startIpRangeKeyDown($event,iprange)" ng-change="startIpRangeKeyDown($event,iprange)"/>
                        <div ng-messages="createRangeStartMessage(projectForm, key)" role="alert">
                            <div ng-message-exp="required"> This is required. </div>
                            <div ng-message-exp="max-length"> The start range has to be less than 20 characters long.. </div>
                            <div ng-message="pattern">Not a valid IP format</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block elem-width-small">
                        <label>{{ 'wizard.ippool.range_end' | translate }}</label>
                        <input  name="rangeEnd{{key}}" md-maxlength="20" ng-model="iprange.rangeEndtValue" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-disabled="!iprange.rangeEndEnableState" ng-keydown="endIPRangeKeyDown($event,iprange)" ng-change="endIPRangeKeyDown($event,iprange)" />
                        <div ng-messages="createRangeEndtMessage(projectForm, key)"  role="alert">
                            <div ng-message-exp="['required']"> This is required. </div>
                            <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
                            <div ng-message="pattern">Not a valid IP format</div>
                        </div>
                    </md-input-container>
                </section>

                <section layout="row" layout-align="start center">
                    <div class="ip-pool-range-or-style"> or </div>
                    <md-input-container class="md-block elem-width-small">
                        <label>{{ 'wizard.ippool.cidr' | translate }}</label>
                        <input  cidrvalidation name="cidr{{key}}" md-maxlength="20" ng-model="iprange.cidrValue" ng-pattern="/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$/" ng-disabled="!iprange.rangeCIDREnableState"  ng-keydown="cidrIPRangeKeyDown($event,iprange)" ng-change="cidrIPRangeKeyDown($event,iprange)" />
                        <div ng-messages="createCIDRMessage(projectForm, key)" role="alert">
                            <div ng-message="invalidcidr">Invalid CIDR format</div> 
                            <div ng-message-exp="['required']"> This is required. </div>
                            <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
                            <div ng-message="pattern">Not a valid IP format</div>
                        </div>
                    </md-input-container>
                </section>
            </section>

            <md-button class="md-icon-button md-primary md-hue-3" ng-click="deleteIPPool($event,iprange,key)" aria-label="delete" style="margin: auto 5px;">
                <md-tooltip md-delay="250" md-direction="bottom"> Delete IP Pool Row </md-tooltip>
                <md-icon style="font-size: 16px;">delete</md-icon>
            </md-button>
        </section>    
    </section>
    
    <section>
        <md-button class="md-accent" aria-label="add" ng-click="addNewIPRangeRow($event)" flex="40" style="text-transform: none;">
            <md-icon style="font-size: 16px; height: 14px; width: 14px; min-height: 14px; max-height: 14px; margin-top: -4px;">add_circle_outline</md-icon> Add another range or CIDR 
        </md-button>
        <div flex="60"></div>
    </section>
 </form>   
</section>  
</md-dialog-content>

</md-dialog>