<div ui-view id="admin-infra-connector" class="admin-page" layout='row' layout-align="start stretch">
	<div class="left-panel content-height-fixer" flex layout="column" layout-align="space-between none" style="margin:0 24px;">
        <md-toolbar layout="row" layout-align="space-between center" class="admin-toolbar" style="padding:0;">
            
			<div>
				{{ 'admin.ippool.heading' | translate}}
			</div>
            
			<div class="control-tray" layout="row">
                                <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="refresh" 
                                           ng-click="clearIpPoolListFromSession()">
                                    <md-tooltip md-delay="250" md-direction="bottom">
                                            Refresh Data
                                    </md-tooltip>
                                    <md-icon>cached</md-icon>
                                </md-button>
				<md-button ng-if="is_create_ippool" ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="add" ng-click="showNewIPPoolDialogbox($event)">
					<md-tooltip md-delay="250" md-direction="bottom">
						Add New
					</md-tooltip>
					<md-icon>add_circle_outline</md-icon>
				</md-button>
				<!-- <md-button class="md-icon-button md-primary md-hue-3 import" aria-label="import" ng-disabled="true">
					<md-tooltip md-delay="250" md-direction="bottom">
						Import
					</md-tooltip>
					<md-icon>system_update_alt</md-icon>
				</md-button>
				<md-button class="md-icon-button md-primary md-hue-3 export" aria-label="export" ng-disabled="true">
					<md-tooltip md-delay="250" md-direction="bottom">
						Export
					</md-tooltip>
					<md-icon>system_update_alt</md-icon>
				</md-button> -->
				<md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchBar($event)">
					<md-tooltip md-delay="250" md-direction="bottom">
						Search
					</md-tooltip>
					<md-icon>search</md-icon>
				</md-button>
				<!-- <search datalist='ipPoolsRows' searchconfig='{listname:"ipPoolsRows", searchkeylocale: "!"}' showicon='false'></search> -->
				
			</div>

		</md-toolbar>
        
		<md-table-container>
			<table md-table md-row-select ng-model="selected"   md-progress="promise">
				<thead md-head>
					<tr md-row>
						<th md-column></th>
						<!-- UPDATE THIS BLOCK FOR CUSTOM COLUMN HEADERS -->
						<th md-column><span>Infrastructure Connector</span></th>
						<th md-column><span>Name</span></th>
						<!--<th md-column><span>Description</span></th>-->
						<th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Ranges</span>    </th>
						                        
                         <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Default Gateway</span></th>
                        
                         <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Netmask</span></th>
						<!-- END -->
					</tr>
				</thead>
				<tbody md-body>
					<tr class="searchbar" ng-show="isSearchBarOpen">
						<td></td>
						<td><search datalist='ipPoolsRows' searchconfig='{listname:"ipPoolsRows", searchkeylocale: "!", key: "infraName"}' showicon='false'></search></td>
						<td><search datalist='ipPoolsRows' searchconfig='{listname:"ipPoolsRows", searchkeylocale: "!", key: "name"}' showicon='false'></search></td>
						<td ng-class="{hidecol : isAdornmentPanelOpen}"><search datalist='ipPoolsRows' searchconfig='{listname:"ipPoolsRows", searchkeylocale: "!", key: "ranges"}' showicon='false'></search></td>
						<td ng-class="{hidecol : isAdornmentPanelOpen}"><search datalist='ipPoolsRows' searchconfig='{listname:"ipPoolsRows", searchkeylocale: "!", key: "gateway"}' showicon='false'></search></td>
						<td ng-class="{hidecol : isAdornmentPanelOpen}"><search datalist='ipPoolsRows' searchconfig='{listname:"ipPoolsRows", searchkeylocale: "!", key: "mask"}' showicon='false'></search></td>
					</tr>
					<tr md-row md-auto-select md-select="ippoolRow" md-select-id="name" ng-repeat="ippoolRow in ipPoolsRows | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false"  ng-class="{highlighted : ippoolRow.active}">
						<td md-cell class="button-cluster" ng-class="{show : hover}">
							<md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="info" ng-click="updateAdornmentPanel($event,ippoolRow)">
								<md-tooltip md-delay="250" md-direction="bottom">
									Information
								</md-tooltip>
								<md-icon class="icon-18">info_outline</md-icon>
							</md-button>
							<md-button ng-if="is_delete_ippool" ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" ng-click="deleteIPPool($event,ippoolRow)" aria-label="delete">
								<md-tooltip md-delay="250" md-direction="bottom">
									Delete IP Pool
								</md-tooltip>
								<md-icon class="icon-18">delete</md-icon>
							</md-button>
							
						</td>
						<!-- UPDATE THIS BLOCK FOR CUSTOM COLUMN CELLS -->
						
						<td md-cell><span>{{ippoolRow.infraName}}</span></td>
						<td md-cell><span>{{ippoolRow.name}}</span></td>
						<td md-cell ng-class="{hidecol : isAdornmentPanelOpen}">
							<span> {{ippoolRow.ranges}} <span ng-if="ippoolRow.showMore" class='more-text'> {{ippoolRow.moreRange}} </span> </span>
						</td>
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{ippoolRow.gateway}}</span></td>	
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{ippoolRow.mask}}</span></td>	
						<!-- END -->		
					</tr>
				</tbody>
			</table>
		</md-table-container>
		<div flex></div>
		<md-content layout="row" layout-align="space-between none" class="admin-footer">
			<!-- <section class="download-file"><md-icon class="md-18">file_download</md-icon>Download Import Template</section> -->
			<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ipPoolsRows.length}}" md-page-select>
			</md-table-pagination>
		</md-content>
	</div>
	<div class="adornment-panel" flex="25" ng-show="isAdornmentPanelOpen" >
		<md-toolbar layout='row' class="md-primary md-hue-3">
			<md-button class="md-icon-button md-primary md-hue-2" aria-label="close" ng-click="toggleAdornmentPanel()">
				<md-icon>close</md-icon>
			</md-button>
			<span>Information</span>
		</md-toolbar>
		<div ng-include="'core/components/administration/ip-pools/ip-pools-right-hand-panel.html'"></div>
	</div>
</div>