<div ui-view class="content-height-fixer">
	<section id="events" layout="row" layout-align="space-between stretch" style="height: 100%;"> 
		<section id="canvas" flex> 
			<md-toolbar id="canvas-toolbar" layout="row" layout-align="space-between center">
				<div>
					<md-button class="md-icon-button" ng-show="switchTo3D" ng-click="closeLandscapeExplorer($event)">
						<md-icon style="color: #6d6e71;">keyboard_backspace</md-icon>
					</md-button>
					<span style="margin: 0 0 0 24px;">Event Data Correlation</span> 
				</div>
				<div style="margin: 0 24px 0 0;" ng-hide="switchTo3D">
					<md-button class="md-icon-button" id="node-cursor" ng-show="filterApplyed">
						<md-icon md-svg-src="images/cursor-arrow-1.svg">cursor</md-icon>
					</md-button>
					<md-button class="md-icon-button" id="node-marquee-selector" ng-show="filterApplyed">
						<md-icon md-svg-src="images/selector.svg">selector</md-icon>
					</md-button>
				</div>
				<div style="margin: 0 24px 0 0; font-size: 14px;" ng-show="switchTo3D">
					<div id="unselect-3D-values" style="margin: 0 16px 0 0; float:left; cursor: pointer; display: none;" ng-click="clearLabels($event)">Unselect All</div>

					<div id="show-3D-labels" style="margin: 0 16px 0 0; float:left; cursor: pointer;" ng-click="toggle3DLabels($event)"> <md-icon md-svg-src="images/show-labels.svg" style="min-width: 14px; min-height: 14px; height: 14px; width: 14px; margin-right: 8px;">show-labels</md-icon> Show Labels</div>
					<div  ng-click="showGrid($event)" id="show-3D-table" style="float:left; cursor: pointer;"> <md-icon md-svg-src="images/table.svg" style="min-width: 14px; min-height: 14px; height: 14px; width: 14px;  margin-right: 8px;">table</md-icon> Display Grid</div>

				</div>
			</md-toolbar>
			<div id="events-grid" ng-show="!switchTo3D && filterApplyed">
				
				<div id="row-1">
					<div id="events-x-axis">
						<div class="events-x-axis-data" style="display:none;" >
							<div class="events-x-axis-data-label">{{yAxisLable.text}}</div>
							<div class="events-x-axis-data-key"></div>
						</div>
					</div>
					<div id="events-container"></div>
				</div>
				<div id="row-2">
					<div id="events-block"></div>
					<div id="events-y-axis">
						<div class="events-y-axis-data" style="display:none;">
							<div class="events-y-axis-data-label">{{xAxisLable.text}}</div>
							<div class="events-y-axis-data-key"></div>
						</div>
					</div>
				</div>
			</div>
			<div id="events-container-3D" style="height: 100%; width: 100%;" ng-show="switchTo3D && filterApplyed"></div>

			<div layout="column" layout-align="center center" ng-show="!filterApplyed" style="width: 100%; height: 100%;">
				<div layout="column" layout-align="center center">
					<md-icon md-svg-src="images/Bulp.svg">bulb</md-icon>
			    	<div style="color:#fff; margin: 16px 0 0 0;">Use filters to select the events you want to analyze</div>
			    </div>
			</div>
			
		</section>
		<section id="control-panel"  flex="25" style="height:100%;">
		    <md-tabs  md-border-bottom md-stretch-tabs="always" style="min-height: 100%;" id="events-tabs">
				<md-tab label="Event Filters">
					<div ng-include src="'core/components/analysis/events-filters.html'"></div>
				</md-tab>
				<md-tab label="Graph Attributes"> 
				     <div ng-include src="'core/components/analysis/graph-attributes.html'"></div>
				</md-tab>
			</md-tabs>
			
			<section id="landscape-explorer" layout="column">
				<section layout="row" layout-align="end start">
					<md-button lass="md-icon-button md-hue-2" ng-click="closeLandscapeExplorer($event)"><md-icon>close</md-icon></md-button>
				</section>
				<section layout="column" layout-align="start center">
					<div style="margin: 36px 0 16px 0;"><md-icon md-svg-src="images/Bulp.svg">bulb</md-icon></div>
					<div style="font-size: 16px; color: #ffffff; line-height: 1.5; font-weight: 500; margin: 0 0 16px 0;">Explore selected area in…</div>
					<md-button class="md-raised md-accent" style="padding: 0 14px; color: #fff;" ng-click="toggle3D($event)"><md-icon style="margin: 0 20px 0 0; color: #fff;">3d_rotation</md-icon>DATA LANDSCAPE</md-button>
					<div style="margin: 32px 0 0 0; font-size: 14px;">
						<span style="opacity: 0.6; color: #ffffff; margin: 0 5px 0 0;">Or display area’s</span>
						<span ng-click="showGrid($event)" style="color: #4a90e2; cursor: pointer;"><md-icon style="color: #4a90e2;font-size: 16px; margin: 5px 0 0px 0px;">border_all</md-icon>Event Data</span></div>
				</section>
			</section>
			
		</section>
	</section>
	<div id="events-page-mask" layout="cloumn" layout-align="center center" style="display:none;"> 
		<md-progress-circular md-mode="indeterminate" class="md-accent" md-diameter="60"></md-progress-circular>
	</div>
</div>