<div id="events-filters" ng-controller="eventsFilterCtr"> <!-- set this height to md-tab-content-->
	<div style="overflow-y: scroll; overflow-x: hidden;" id="filter-form">
		<section id="time-interval" class="filter-sections" layout="column">
			<div class="section-title">TIME INTERVAL</div>
			<div layout="row">
		       	<mdp-date-picker mdp-disabled="switchTo3D" mdp-placeholder="Start Date" ng-model="eventFilterModel.startDate"></mdp-date-picker>
		        <mdp-time-picker mdp-disabled="switchTo3D" mdp-placeholder="Start Time" ng-model="eventFilterModel.startTime"></mdp-time-picker>
		    </div>
		    <div layout="row">
	        	<mdp-date-picker mdp-disabled="switchTo3D" mdp-placeholder="End Date" ng-model="eventFilterModel.endDate"></mdp-date-picker>
	        	<mdp-time-picker  mdp-disabled="switchTo3D" mdp-placeholder="End Time" ng-model="eventFilterModel.endTime"></mdp-time-picker>
	        </div>
		</section>
		<section id="event-types" class="filter-sections" layout="column">
			<div class="section-title">Event Types</div>
			<md-radio-group ng-disabled="switchTo3D" ng-model="eventFilterModel.eventTypeSelected" ng-click="onEventTypeSelectionChanged()">
				<md-radio-button  ng-disabled="switchTo3D" ng-value="eventType.value" class="md-primary" ng-repeat="eventType in eventFilterModel.eventTypes" style="color: #fff;">{{eventType.text}}</md-radio-button>	
			</md-radio-group>
		</section>
		<section id="severity" class="filter-sections" layout="column" ng-show="eventFilterModel.eventTypeSelected == 'THREAT_PREVENTION'">
			<div class="section-title">Severity</div>
			<md-checkbox  ng-disabled="switchTo3D" ng-model="item.selected" aria-label="item.label" ng-repeat="item in eventFilterModel.severity">
	          	<div style="background:{{item.color}}; width: 8px; height: 8px; border-radius: 50%; margin: 5px;float: left;"></div>
	          	<div style="float: left; color: #fff; margin-left: 8px;">{{item.label}}</div>
	        </md-checkbox>
	       
		</section>
		
		<section id="attacker" class="filter-sections" layout="column">
			<div class="section-title">Attacker Or Source</div>
			<md-input-container>
				<md-select  ng-disabled="switchTo3D" ng-model="eventFilterModel.source.selectedSourceType" placeholder="Select">
					<md-option ng-repeat="item in eventFilterModel.attacker" ng-value="item.value">
						{{item.text}}
					</md-option>
				</md-select>
			</md-input-container>
			<section>
			   <section layout="column" ng-show="eventFilterModel.source.selectedSourceType == 'RG'">
			    <md-radio-group ng-model="eventFilterModel.source.rgselection" layout="row" >
			    	<md-radio-button ng-disabled="switchTo3D" ng-value="groupType.value" class="md-primary" ng-repeat="groupType in eventFilterModel.groupType" style="color: #fff;">{{groupType.text}}</md-radio-button>	
				 </md-radio-group>

			     <section style="padding-top: 30px;" ng-show="eventFilterModel.source.rgselection == 'selGR'">
				     <md-button ng-disabled="switchTo3D" class="md-raised md-accent"  ng-click="selectResourceGroupSource($event)" ng-show="eventFilterModel.source.selectedGroups.length == 0" style="color:#ffffff">Select</md-button>

				     <section layout="row" layout-align="space-between center" ng-show="eventFilterModel.source.selectedGroups.length > 0">
				         <section>
					        <div ng-if="o < 3 " ng-repeat="(o, values) in  eventFilterModel.source.selectedGroups" >
					      	{{values}}
					        </div>
					        <a style="color: #4a90e2;"ng-show="eventFilterModel.source.selectedGroups.length > 3" ng-click="showMore($event,eventFilterModel.source.selectedGroups)">+ {{eventFilterModel.source.selectedGroups.length -3 }} more</a>
				         </section>
				          <section >
						     <md-icon  class="edit" style="color:#ffffff;cursor: pointer" ng-click="selectResourceGroupSource($event)">
			                    edit
			                </md-icon>
		                 </section>
				     </section>
			      </section>
			      <section ng-show="eventFilterModel.source.rgselection == 'selQR'">
			        <md-input-container style="width: 100%;">
						<md-select ng-disabled="switchTo3D" style="width: 100%;" ng-model="eventFilterModel.source.querySelection" placeholder="Select">
							<md-option ng-repeat="item in eventFilterModel.matchingCondition" ng-value="item.value">
								{{item.text}}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container style="width: 100%;">
					    <label style="color:#a7a7a7; font-size: 16px;">Name</label>
						<input  style="color: white; border-color: white; font-size: 16px;" md-maxlength="40"
                                name='login' 
                                ng-model="eventFilterModel.source.queryResorceGroup">
					</md-input-container>

                  </section>
			   </section>
			   <section ng-show="eventFilterModel.source.selectedSourceType == 'VM'">
			      <md-input-container style="width: 100%;">
						<md-select ng-disabled="switchTo3D" style="width: 100%;" ng-model="eventFilterModel.source.vmSelection" placeholder="Select">
							<md-option ng-repeat="item in eventFilterModel.matchingCondition" ng-value="item.value">
								{{item.text}}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container style="width: 100%;">
					    <label style="color:#a7a7a7; font-size: 16px;">Name</label>
						<input  style="color: white; border-color: white; font-size: 16px;" md-maxlength="40"
                                name='login' 
                                ng-model="eventFilterModel.source.selectedVMS" >
					</md-input-container>
			   </section>
		</section>
		</section>

		<section id="target" class="filter-sections" layout="column">
			<div class="section-title">Target or Destination</div>
			<md-input-container>
				<md-select  ng-disabled="switchTo3D" ng-model="eventFilterModel.destination.selectedDestinationType" placeholder="Select">
					<md-option ng-repeat="item in eventFilterModel.attacker" ng-value="item.value">
						{{item.text}}
					</md-option>
				</md-select>
			</md-input-container>
			<section>
			   <section layout="column" ng-show="eventFilterModel.destination.selectedDestinationType == 'RG'">
			    <md-radio-group ng-model="eventFilterModel.destination.rgselection" layout="row" >
			    	<md-radio-button ng-disabled="switchTo3D" ng-value="groupType.value" class="md-primary" ng-repeat="groupType in eventFilterModel.groupType" style="color: #fff;">{{groupType.text}}</md-radio-button>	
				 </md-radio-group>

			     <section style="padding-top: 30px;" ng-show="eventFilterModel.destination.rgselection == 'selGR'">
				     <md-button ng-disabled="switchTo3D" style="color:#ffffff" class="md-raised md-accent"  ng-click="selectResourceGroupDestination($event)" ng-show="eventFilterModel.destination.selectedGroups.length == 0">Select</md-button>

				     <section layout="row" layout-align="space-between center" ng-show="eventFilterModel.destination.selectedGroups.length > 0">
				         <section>
					        <div ng-if="o < 3 " ng-repeat="(o, values) in  eventFilterModel.destination.selectedGroups" >
					      	{{values}}
					        </div>
					        <a ng-show="eventFilterModel.destination.selectedGroups.length > 3" ng-click="showMore($event,eventFilterModel.destination.selectedGroups)">+ {{eventFilterModel.destination.selectedGroups.length -3 }} more</a>
				         </section>
				          <section >
						     <md-icon  class="edit" style="color:#ffffff; cursor: pointer"ng-click="selectResourceGroupDestination($event)">
			                    edit
			                </md-icon>
		                 </section>
				     </section>
			      </section>
			      <section ng-show="eventFilterModel.destination.rgselection == 'selQR'">
			        <md-input-container>
						<md-select ng-disabled="switchTo3D" style="width: 331px;" ng-model="eventFilterModel.destination.querySelection" placeholder="Select">
							<md-option ng-repeat="item in eventFilterModel.matchingCondition" ng-value="item.value">
								{{item.text}}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container style="width: 100%;">
					    <label style="color:#a7a7a7; font-size: 16px;">Name</label>
						<input  style="color: white; border-color: white; font-size: 16px;" md-maxlength="40"
                                name='login' 
                                ng-model="eventFilterModel.destination.queryResorceGroup" 
                                >
					</md-input-container>

                  </section>
			   </section>
			   <section ng-show="eventFilterModel.destination.selectedDestinationType == 'VM'">
			      <md-input-container style="width: 100%;">
					<md-select ng-disabled="switchTo3D" style="width: 100%;" ng-model="eventFilterModel.destination.vmSelection" placeholder="Select">
							<md-option ng-repeat="item in eventFilterModel.matchingCondition" ng-value="item.value">
								{{item.text}}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container style="width: 100%;">
					    <label style="color:#a7a7a7; font-size: 16px;">Name</label>
						<input  style="color: white; border-color: white; font-size: 16px;"
                                name='login' 
                                ng-model="eventFilterModel.destination.selectedVMS" 
                                >
					</md-input-container>
			   </section>
		  </section>
		</section>
		<section id="action" class="filter-sections" ng-show="(eventFilterModel.eventTypeSelected == 'THREAT_PREVENTION') || (eventFilterModel.eventTypeSelected == 'ACCESS_CONTROL')" layout="column" style="padding-bottom: 24px;">
			<div class="section-title">Action</div>
			<div ng-show="eventFilterModel.eventTypeSelected !== 'ACCESS_CONTROL'">
				<md-radio-group ng-model="eventFilterModel.actionSelected" >
					<md-radio-button ng-disabled="switchTo3D" ng-value="item.value" class="md-primary"  aria-label="item.text" ng-repeat="item in eventFilterModel.actions" style="color: #fff;">{{item.text}}</md-radio-button>	
				</md-radio-group>
			</div>
			<div layout="column" ng-show="eventFilterModel.eventTypeSelected == 'ACCESS_CONTROL'">
				<md-checkbox md-no-ink ng-model="item.selected" ng-value="item.value" ng-repeat="item in eventFilterModel.actions">
				 {{item.text}}
				</md-checkbox>
			</div>
			
		</section>
	</div>
	<md-button id="apply-button" ng-disabled="switchTo3D || (eventFilterModel.startDate === null || eventFilterModel.startTime === null || eventFilterModel.endDate === null || eventFilterModel.endTime === null) " class="md-raised md-accent" style="margin: 0; border-radius: 0px; width: 100%; color: #fff;" ng-click="showGraph($event)">Apply</md-button>
</div>