<div id="graph-attributes" ng-controller="graphAttributesFilterCtr" style="background: black;">
		<div style="padding-top: 65%;margin-right: 50px;">
			<md-radio-group ng-model="dateSelected" layout="column">
	                    <md-radio-button value="Today" class="md-primary">
	                    	<div style="background-color:rgb(31, 119, 180);height: 14px;    width: 15px;margin-top: 3px;" class="color-legend-ie-fix"></div>{{dataarrya[0].value}}
	                    </md-radio-button>
	                    <md-radio-button value="YesterDay">
	                    <div style="background-color:rgb(174, 199, 232);height: 14px;    width: 15px;margin-top: 3px;" class="color-legend-ie-fix"></div>{{dataarrya[1].value}}
	                     </md-radio-button>
	                    <md-radio-button value="YesterDay">
	                    	<div style="background-color:rgb(255, 127, 14);height: 14px;    width: 15px;margin-top: 3px;" class="color-legend-ie-fix"></div>
	                    {{dataarrya[2].value}} </md-radio-button>
	        </md-radio-group>
        </div>
	<!-- <section id="axis-filters" class="filter-sections" layout="column">
	
		<md-input-container>
			<label>X Axis</label>
			<md-select ng-disabled="switchTo3D" ng-model="graphAttributeModel.xAxisSelected">
				<md-option ng-repeat="item in graphAttributeModel.xAxis" ng-value="item.value">
					{{item.text}}
				</md-option>
			</md-select>
		</md-input-container>
        	<md-input-container>
			<label>Y Axis</label>
			<md-select ng-disabled="switchTo3D" ng-model="graphAttributeModel.yAxisSelected">
				<md-option ng-repeat="item in graphAttributeModel.yAxis" ng-value="item.value">
					{{item.text}}
				</md-option>
			</md-select>
		</md-input-container>

		<md-input-container>
			<label>Color</label>
			<md-select ng-disabled="switchTo3D" ng-model="graphAttributeModel.colorSelected">
				<md-option ng-repeat="colorItem in graphAttributeModel.colorItems" ng-value="colorItem.value">
					{{colorItem.text}}
				</md-option>
			</md-select>
		</md-input-container>

		<div id="color-legend">
			<div ng-repeat="color in colorLegend[graphAttributeModel.colorSelected]" style="height: 40px;">
				<div ng-style="{'background-color': color.color}" class="color-legend-ie-fix"></div>
				<span style="float:left; font-size: 14px; line-height: 40px;">{{color.text}}</span>
			</div>
		</div>
	</section> -->
	
	<div id="navigator"></div>
</div>