<md-dialog id="event-dialog" aria-label="List dialog" class="ip-host-dialog">
    <md-dialog-content>

        <div layout="column">
            <div layout="row" class="dialog-header">
                <h3>Select Resource Groups</h3>
            </div>
            <div flex></div>
            <div class="search-container-box" layout="row" layout-align="space-between center">
                <div id="ip-config-dialog-network-count">
                <div class='fullCheck' >
                    <md-checkbox aria-label="Select All"
                                 ng-checked="isChecked()"
                                 md-indeterminate="isIndeterminate()"
                                 ng-click="toggleAll()">
                        Select All <span ng-show='no_of_hosts'>({{no_of_rgs}})<span>
                    </md-checkbox>
                </div>
        </div>
                <!-- <md-input-container id="ip-config-dialog-search-input">
                    <input ng-model="networkName" type="text">                     
                </md-input-container> 
                <i class="material-icons dialog-search-icon">search</i>  -->
                <div class="search-div-host">
                    <search style="color: white;" datalist='items' methodbridge="itemChangedBridge" searchconfig='{listname:"items", searchkeylocale: "!",key: "name"}' showicon='true'></search>  
                </div>
                
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" class="ip-config-dialog-content">
         <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular ng-hide="!host_activated" class="md-accent" md-diameter="40"></md-progress-circular>
                </div>
                <div class="demo-select-all-checkboxes" ng-repeat="item in items" layout="column">
                    <md-checkbox  ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                        {{item.name}}
                    </md-checkbox>
         </div>
        </div>
        <md-divider></md-divider>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-around">
            <span class="action-counter" flex>{{no_of_selected_hosts}} <span ng-show="no_of_selected_hosts >= 0 "> selected</span></span>
            <md-button class="md-accent md-hue-3 deployment-button" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-accent md-raised deployment-button" ng-click="selectGroups()" style="color: #FFFFFF;" id="adminDSButtonDesignate">
                Select
            </md-button>
    </md-dialog-actions>
</md-dialog>