<!--SCREEN FOR ADDING DEPLOY SPEC-->
<md-dialog aria-label="Add Data Plane"  ng-cloak class="fullscreen-dialog">
    <form name='virtualChassisForm'>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
                <h2 ng-show="formType !== 'Edit'">{{'wizardinfrastucture.virtual_chassis.heading'| translate}}</h2>
                <h2 ng-show="formType === 'Edit'">{{'wizardinfrastucture.virtual_chassis.edit_heading'| translate}}</h2>
                <span flex></span>
                <span ng-show="infraLoaded">
                <md-button class="md-accent md-raised modal-done-button" 
                           ng-click = "addVirtualChassis(); disableAdd = true;" 
                           ng-disabled="disableAdd" 
                           ng-show="showNetworks">{{(formType === 'Edit') ? "Save" : formType}}
                    &nbsp;<md-progress-circular 
                        ng-show="creationInProgress" 
                        class="md-hue-4" md-diameter="15px">
                    </md-progress-circular>
                </md-button>
                <span>
            </div>
        </md-toolbar>
        <md-dialog-content style="padding:0px;">
            <section layout="row" flex >
                <md-content flex layout-padding 
                            layout="column" layout-align="start start " 
                            style="overflow-x: hidden">
                    <div ui-view="addchassiscontainer" style="width:100%;height:100%" ></div>
                    <div class='qs-toast toaster-off'>
                        <md-content class="progress" layout="row" layout-align="space-between center" style='display:none;'>
                            <div layout="row" layout-align="start center">
                                <md-progress-circular md-mode="indeterminate" md-diameter="18"></md-progress-circular>
                                <div layout="column" class="text-container">
                                    <span class="header">Create Infrastructure Connector</span>
                                    <span class="sub-header">This should take only a few minutes max...</span>
                                </div>
                            </div>
                        </md-content>
                        <md-content class="success" layout="row" layout-align="space-between center" style='display:none;'>
                            <div layout="row" layout-align="start center">
                                <md-icon>done</md-icon>
                                <div layout="column" class="text-container">
                                    <span class="header">Infrastructure Connector Created</span>
                                    <span class="sub-header">Click NEXT to proceed with the Quick Setup</span>
                                </div>
                            </div>
                        </md-content>
                        <md-content class="fail" layout="row" layout-align="space-between center" style='display:none;'>
                            <div layout="row" layout-align="start center">
                                <md-icon>warning</md-icon>
                                <div layout="column" class="text-container">
                                    <span class="header">Infrastructure Connector Failed</span>
                                    <span class="sub-header">Please verify the information you provided and try again</span>
                                </div>
                            </div>
                        </md-content>
                    </div>
                    <!--</div>-->
                </md-content>
                <helpcontainer contentid="active_help_id" ng-hide="hideHelp" excesscomponent="1"></helpcontainer>
            </section>
            <div flex="auto"></div>
        </md-dialog-content>
    </form>
</md-dialog>
