<!--SCREEN FOR ADDING DEPLOY SPEC-->
<md-dialog aria-label="Add Data Plane"  ng-cloak class="fullscreen-dialog">
    <form name='virtualChassisForm'>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
                           <h2 >{{'wizardinfrastucture.virtual_chassis.edit_heading'| translate}}</h2>
                <span flex></span>
                <md-button class="md-accent md-raised modal-done-button" 
                           ng-click = "updateVirtualChassis(); disableAdd = true;" 
                           ng-disabled="disableAdd" 
                           ng-show="showNetworks">Save
                    &nbsp;<md-progress-circular 
                        ng-show="creationInProgress" 
                        class="md-hue-4" md-diameter="15px">
                    </md-progress-circular>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="padding:0px;">
        <securityorchestration  
            cloudid="cloudid"
            fixheight="60"
            backplanenetworkid = "backPlaneNetworkId"
            managmentnetworkid = "mgmtNetworkId"
            rules="resourceGroupArray"
            configinfo="OSRuleConfig"
            vchassisid="chassisId"
            virtualchassisdata="virtualChassisData"
            vcname = "cloudData.vChassis.name"
            >
       </securityorchestration>
        </md-dialog-content>
    </form>
</md-dialog>
