<!--SCREEN FOR ADDING DEPLOY SPEC-->
<md-dialog aria-label="Add Infrastructure Connector"  ng-cloak class="fullscreen-dialog">
    
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
                <h2>{{'admin.addinfra.title'| translate}}</h2>
                <span flex></span>
                <md-button class="md-accent md-raised modal-done-button" ng-click = "addInfra()" ng-disabled="!isFormValid()">
                    Add
                </md-button>
            </div>
        </md-toolbar>
    <md-dialog-content style="padding:0px;">
        <section layout="row" flex flex-offset="10">
            <md-content flex layout-padding 
                        layout="column" layout-align="start"
                        class="content-height-fixer">
                <section>
                    <div class='qs-header-text-container'>{{'admin.addinfra.title'| translate}}
                        <md-icon class="light-bulb  icon-18" ng-click="helpButtonClicked('infra_type_help_wizard')" md-svg-src="images/Bulp.svg">lightbulb_outline</md-icon>
                    </div>
                    <div class='quick-setup-form'>

                        <!-- <div class='wizard-main-heading'> {{infrastructure_heading}} </div> -->
                        <!-- <div class='wizard-sub-heading'> {{infrastructure_subheading}}</div> -->
                        <form name="infrastructureForm" novalidate="true" id="addInfrastructureForm">
                            <div layout-gt-sm="column">
                                <section layout="row">
                                    <md-input-container class="md-block" flex="50" >
                                        <label>{{infrastucture_type}}</label>
                                        <md-select name='infraType' ng-model="infrastructure.type" required>
                                            <md-option ng-repeat="type in infra.types" value="{{type.value}}">
                                                {{type.name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="infrastructureForm.infraType.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <div layout="column" flex="50"></div>
                                </section>
                                <md-input-container class="md-block" >
                                    <label>Name Infrastructure control connector</label>
                                    <input name='infraName' md-autofocus ng-model="infrastructure.name" required 
                                           ng-pattern="/^[a-zA-Z0-9.-]*$/"
                                           md-maxlength="40"
                                           >
                                    <div ng-messages="infrastructureForm.infraName.$error" role="alert">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
                                        <div ng-message="md-maxlength">
                                            Infrastructure name must be between 1 and 40 characters long.
                                        </div>
                                    </div>
                                </md-input-container>
                                <!-- </md-input-container> -->
                                <md-input-container class="md-block" ng-show="infrastructure.type !== 'OPENSTACK' && infrastructure.type !== 'AWS'">
                                    <label>{{infrastucture_ipaddress_fqdn}}</label>
                                    <input name='infraIpFqdn'  ng-model="infrastructure.ip" required >
                                    <div ng-messages="infrastructureForm.infraIpFqdn.$error">
                                        <div ng-message="required">This is required.</div>
                                    </div>
                                </md-input-container>
                                <section ng-show="infrastructure.type === 'OPENSTACK'">
                                    <md-input-container class="elem-width-medium">
                                        <label>IP address of infrastructure</label>
                                        <input name='infraIpFqdn'  ng-model="infrastructure.ip" required >
                                        <div ng-messages="infrastructureForm.infraIpFqdn.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="elem-width-medium">
                                        <label>Domain name of infrastructure</label>
                                        <input name='infradomain'  ng-model="infrastructure.domain" required  >
                                        <div ng-messages="infrastructureForm.infradomain.$error">
                                            <div ng-message="required">This is required.</div>
                                            <!--<div ng-message="md-maxlength">Your login must be between 1 and 40 characters long.</div>-->
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="elem-width-medium">
                                        <md-checkbox ng-model="infrastructure.https" aria-label="Enable HTTPS">
                                            Enable HTTPS
                                        </md-checkbox>
                                    </md-input-container>
                                </section>
                                <section ng-show="infrastructure.type === 'AWS'">
                                    <md-input-container class="elem-width-medium">
                                        <label>Access Key ID</label>
                                        <input name='infraAcessKeyId'  ng-model="infrastructure.accessKeyId" required >
                                        <div ng-messages="infrastructureForm.infraAcessKeyId.$error">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container class="md-block" >
                                        <label>Secret Access Key</label>
                                        <input type='{{pwdType}}' name='secretAccessKey' ng-model="infrastructure.secretAccessKey" required >
                                        <div ng-messages="infrastructureForm.secretAccessKey.$error" role="alert">
                                            <div ng-message='required'>
                                                This is required.
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-icon ng-click='togglePasswordType()' ng-show="pwdType==='password'" ng-disabled="((infrastructure.type) && (!changedData))? true: setPreExistingInfra" class="show-key" style="cursor:pointer;">visibility</md-icon>
                                    <md-icon ng-click='togglePasswordType()' ng-show="pwdType === 'text'" ng-disabled="((infrastructure.type) && (!changedData)) ? true : setPreExistingInfra" class="show-key">visibility_off</md-icon>
                                </section>
                                <md-input-container class="md-block" ng-show="infrastructure.type !== 'AWS'" >
                                    <label>{{infrastucture_login}}</label>
                                    <input name='infraLogin' ng-model="infrastructure.username" required >
                                    <div ng-messages="infrastructureForm.infraLogin.$error" role="alert">
                                        <div ng-message-exp="['required']">
                                            This is required
                                        </div>
                                    </div>
                                </md-input-container>
                                <section layout="row" ng-show="infrastructure.type !== 'AWS'">
                                    <md-input-container class="md-block" >
                                        <label>{{infrastucture_password}}</label>
                                        <input type='{{pwdType}}' name='infraPassword' ng-model="infrastructure.password" required >
                                        <div ng-messages="infrastructureForm.infraPassword.$error" role="alert">
                                            <div ng-message='required'>
                                                This is required.
                                            </div>
                                        </div>                                  
                                    </md-input-container>
                                    <md-icon ng-click='togglePasswordType()' ng-show="pwdType==='password'" ng-disabled="((infrastructure.type) && (!changedData))? true: setPreExistingInfra" class="show-key" style="cursor:pointer;">visibility</md-icon>
                                    <md-icon ng-click='togglePasswordType()' ng-show="pwdType === 'text'" ng-disabled="((infrastructure.type) && (!changedData)) ? true : setPreExistingInfra" class="show-key">visibility_off</md-icon>
                                </section>
                            </div>
                        </form>
                    </div>
                </section>
            </md-content>
            
            <!-- help panels [start] -->
   
    <helpcontainer contentid="active_help_id" excesscomponent="1.1" ></helpcontainer>

    <!-- help panels [end] -->
    
        </section>
    </md-dialog-content>
   
</md-dialog>
