<div layout="column" layout-align="start center" class="content-height-fixer backup-restore">
    <div class="admin-page-component-header">
        Backup Configuration Data<md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('admin_system_maintenance_help')" style="margin-right:0px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
    </div> 
    <form name='backupRestoreForm' class="backup-restore-form">

        <!--
        <section layout="row" layout-align="space-between stretch">
            <md-input-container class="single-col-component elem-width-large">
                <label>{{backuprestore_defdirloc}}</label>
                <input name='defdirloc' ng-model="backuprestore.defdirloc" ng-disabled=true>
            </md-input-container>
        </section>

        <section layout="row" layout-align="space-between stretch">
            <md-input-container class="single-col-component elem-width-large">
                <label>Type</label>
                <md-select name='backupdataforType' ng-model="backuprestore.type" required>
                    <md-option ng-repeat="type in backuptypes.types" value="{{type.value}}">
                        {{type.name}}
                    </md-option>
                </md-select>
                <div ng-messages="backupRestoreForm.backupdataforType.$error" role="alert">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </section>
        -->
        <section layout="row" layout-align="space-between stretch">
            <md-input-container class="single-col-component elem-width-large">
                <label>{{backuprestore_filename}}</label>
                <input
                    md-autofocus
                    md-maxlength="50"
                    name='filename'
                    ng-model="backuprestore.filename"
                    ng-pattern="/^[a-zA-Z0-9.-]*$/"
                    required>
                <div ng-messages="backupRestoreForm.filename.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 50 characters long.</div>
                    <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
                </div>
            </md-input-container>
        </section>

        <md-input-container class="md-block">
            <label>{{backuprestore_altdirloc}}</label>
            <input name='altdirloc'
                   ng-model="backuprestore.altdirloc">
        </md-input-container>

        <md-input-container class="md-block">
            <label>{{backuprestore_desc}}</label>
            <input
                md-maxlength="200"
                name='desc' 
                ng-model="backuprestore.desc" 
                ng-pattern="/^[a-zA-Z0-9.- ]*$/">
            <div ng-messages="backupRestoreForm.desc.$error">
                <div ng-message="md-maxlength">The name has to be less than 200 characters long.</div>
                <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
            </div>
        </md-input-container>
 
        <section layout="row" layout-align="space-between stretch">
            <label>&nbsp;</label>
            <md-button ng-if="is_update_maintenance" class="md-accent backup-restore-buttom md-raised modal-done-button md-button md-ink-ripple fullRowButton" 
                       ng-click = "backup()"
                       ng-disabled="!backuprestore.filename">
                Backup
            </md-button>
        </section>
        
    </form>            
 </div>