<div layout="column" layout-align="start center" class="content-height-fixer scheduler">
    <div class="admin-page-component-header">
        Automated Pruning
    </div> 
    <form name='eventsPruningForm' class="events-pruning-form">
         
        <section layout="row" layout-align="space-between stretch">         
            <md-content class="single-col-component elem-width-large">                              
                <label>{{pruning_enable}}</label>                                                    
                <md-radio-group class="radio-selection-grp" ng-model="pruning.enable" layout="row" ng-click="radioClicked()">
                    <md-radio-button value=true>Yes</md-radio-button>
                    <md-radio-button value=false>No</md-radio-button>
                </md-radio-group>                 
            </md-content>        
        </section>
        
        <div ng-if="pruning.enable && pruning.enable" class="animate-if elem-width-large">        
                                                  
            <md-content class="md-block elem-width-large">                
                <label>{{pruning_frequency}}</label>  
                <md-checkbox 
                    ng-model="pruning.frequency"                        
                    aria-label="daily">
                    Daily
                </md-checkbox>                                    

                <md-input-container class="md-block">
                    <label>{{pruning_starttime}}:&nbsp;</label>
                    <input mdc-datetime-picker="" name="starttime" date="false" time="true" type="text" id="time" short-time="true"
                        placeholder="04:05" min-date="minDate" format="HH:MM a" ng-model="pruning.time" class="md-input" required>  
                    <div ng-messages="eventsPruningForm.starttime.$error" role="alert">
                        <div ng-message-exp="['required']">
                            This is required
                        </div>
                    </div>                                  
                </md-input-container>
            </md-content>    

            <div ng-show="pruning.frequency">
                <md-input-container class="md-block">
                    <label>Maximum number of days</label>
                    <input 
                        type='number'
                        name='maxdays' 
                        ng-model='pruning.maxdays'
                        max='99'>                    
                    <div ng-messages="eventsPruningForm.maxdays.$error" role="alert">
                        <div ng-message="max">Number of days has to be 1 to 90.</div>                                  
                    </div>
                </md-input-container>
                
                <md-input-container class="md-block">
                    <label>Maximum % of Events</label>
                    <input 
                        type='number'
                        name='maxcapacity' 
                        ng-model='pruning.maxcapacity' 
                        max='99'>                              
                    <div ng-messages="eventsPruningForm.maxcapacity.$error" role="alert">
                        <div ng-message="max">Maximum % of Events has to be < 100.</div>                                 
                    </div>
                </md-input-container>
                </div>
                <section layout="row" layout-align="space-between stretch">
                    <label>&nbsp;</label>
                    <md-button ng-if="is_update_maintenance" class="md-accent events-pruning-bottom md-raised modal-done-button md-button md-ink-ripple fullRowButton" 
                               ng-click = "schedulePruning()"
                               ng-disabled = "!(pruning.frequency && (pruning.maxdays || pruning.maxcapacity))">
                        Save
                    </md-button>
                </section>
            </div>
        </div>
    </form>            
 </div>