<md-dialog aria-label="Syslog Notification Profile" ng-cloak class="fullscreen-dialog admin-page">
    
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>Add Syslog Notification Profile</h2>
            <span flex></span>
            <md-button class="md-accent md-raised modal-done-button" ng-disabled="!isFormValid()" ng-click="addSyslogForwarderProfile()">
                Add
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content style="padding:10px;">
        <section layout="row" flex flex-offset="10">
            <md-content flex layout-padding 
                        layout="column" layout-align="start"
                        class="content-height-fixer">
                <section>
                    <div class='qs-header-text-container'>{{'admin.setup.addnewsyslog.profile.heading' | translate }}
                        <md-icon class="light-bulb" ng-click="helpButtonClicked('user_help_wizard')">lightbulb_outline</md-icon>
                    </div>
                    <div class='quick-setup-form'>
                        <form name="syslogProfileAddForm" novalidate="true" class="syslog-profile-form">
                            <div class="md-dialog-content" >
                            <div layout="column">
                            <div>
                                <section layout="row" layout-align="space-between none" class="admin-toolbar">
                                    <md-content>
                                        <label>{{'admin.setup.enable.syslog.notification' | translate}}</label>
                                        <md-radio-group class="radio-selection-grp" ng-model="syslogprofile.enable" layout="row" ng-click="radioClicked()">
                                            <md-radio-button value=1>Yes</md-radio-button>
                                            <md-radio-button value=0>No</md-radio-button>
                                        </md-radio-group>
                                    </md-content>
                                </section>
                            </div>

                            <div ng-if="syslogprofile.enable == 1">
                                <!--section Tenant -->
                                <!-- Hide Tenant selection for MVP
                                <div>
                                    <section layout="column" class="select-tenant" ng-show="!tenantSelected">
                                        <label>Tenant </label>
                                        <md-button class="md-primarymd-hue-3 select-tenant-button"  ng-click="callpopupTenats($event)">
                                            <span>Select</span>
                                        </md-button>
                                    </section>
                                    <section layout="column" class="select-tenant" ng-show="tenantSelected">
                                        <label>Tenant </label>
                                        <span class="selected-tenant-name" > {{selectedTenantObj.name}} <md-icon class="material-icons"><span  ng-click="callpopupTenats($event)">edit</span></md-icon></span>
                                    </section>
                                </div>
                                -->

                                <!--section Syslog Profile Name -->
                                <div>
                                    <!-- span class="new-policy-heading">2.Notification Profile Name</span-->
                                    <md-input-container class="md-block elem-width-medium">
                                        <label>Notification Profile Name</label>
                                        <input autofocus md-maxlength="100" name='ProfileName' id="profilename" ng-model="syslogprofile.profilename" ng-pattern="/^[a-zA-Z0-9.-]*$/" required>
                                        <div ng-messages="syslogProfileAddForm.ProfileName.$error">
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="md-maxlength">The name has to be less than or equal to 100 characters long.</div>
                                        <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <!--section Syslog Server Profile Name -->
                                <div>
                                    <section layout="row" layout-align="space-between none" class="md-block elem-width-medium">
                                        <md-input-container class="md-block elem-width-medium">
                                            <!-- md-input-container class="md-block" flex="50"-->
                                            <label>Target Server Profile</label>
                                            <md-select name='serverProfileName' ng-model="syslogprofile.serverProfileId" required>
                                        <md-option ng-repeat="profile in syslogServerProfiles" value="{{profile.serverProfileId}}:{{profile.serverProfileName}}">
                                            {{profile.serverProfileName}}
                                        </md-option>
                                            </md-select>
                                            <div ng-messages="syslogProfileAddForm.serverProfileName.$error" role="alert">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>
                                        <!--
                                        <md-icon class="material-icons"><md-tooltip>New</md-tooltip><span  ng-click="callpopupAddServerProfile($event)">add_box</span></md-icon>&nbsp;
                                        <md-icon class="material-icons"><md-tooltip>Edit</md-tooltip><span  ng-click="callpopupAddServerProfile($event)">edit</span></md-icon>&nbsp;
                                        <md-icon class="material-icons"><md-tooltip>Delete</md-tooltip><span  ng-click="callpopupTenats($event)">delete</span></md-icon>
                                         -->
                                    </section>
                                </div>

                                <!--section facility -->
                                <div>
                                    <md-input-container class="md-block elem-width-medium">
                                        <!-- md-input-container class="md-block" flex="50"-->
                                        <label>Facility</label>
                                        <md-select name='facility' ng-model="syslogprofile.facility" required>
                                            <md-option ng-repeat="facility in facilityList.facilities" value="{{facility.id}}">
                                                {{facility.name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="syslogProfileAddForm.facility.$error" role="alert">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <!--section Severity Mapping -->
                                <div>
                                    <section layout-align="space-between none">
                                        <label>Severity Mappings</label>
                                    </section>
                                    <!--section layout="column" layout-align="space-between none"-->
                                    <section layout="row" layout-align="space-between center" class="elem-width-medium">
                                        <md-input-container>
                                            <!-- md-input-container class="md-block" flex="50"-->
                                            <label>Low to </label>
                                            <md-select name='severityLevelLow' ng-model="syslogprofile.severityLevelLow" required>
                                                <md-option ng-repeat="severity in severityLevels.severities" value="{{severity.id}}">
                                                    {{severity.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        &nbsp;
                                        &nbsp;
                                        <md-input-container>
                                            <!-- md-input-container class="md-block" flex="50"-->
                                            <label>Medium to </label>
                                            <md-select name='severityLevelMedium' ng-model="syslogprofile.severityLevelMedium" required>
                                                <md-option ng-repeat="severity in severityLevels.severities" value="{{severity.id}}">
                                                    {{severity.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        &nbsp;
                                        <md-input-container>
                                            <!-- md-input-container class="md-block" flex="50"-->
                                            <label>High to </label>
                                            <md-select name='severityLevelHigh' ng-model="syslogprofile.severityLevelHigh" required>
                                                <md-option ng-repeat="severity in severityLevels.severities" value="{{severity.id}}">
                                                    {{severity.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <md-input-container>
                                            <!-- md-input-container class="md-block" flex="50"-->
                                            <label>Critical to </label>
                                            <md-select name='severityLevelCritical' ng-model="syslogprofile.severityLevelCritical" required>
                                                <md-option ng-repeat="severity in severityLevels.severities" value="{{severity.id}}">
                                                    {{severity.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <div ng-messages="syslogProfileAddForm.severityLevelInfoLow.$error" role="alert">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </section>
                                </div>

                                <!--section Logtype selection -->
                                <!--
                                <div>
                                    <section layout="row" layout-align="space-between none" class="md-block elem-width-medium">
                                    <md-input-container class="md-block elem-width-medium">
                                        <label>Notify For Log Types</label>
                                        <md-select name='logType' ng-model="syslogprofile.logtype" required>
                                            <md-option ng-repeat="logtype in logtypeList.logtypes" value="{{logtype.id}}">
                                                {{logtype.name}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="syslogProfileAddForm.logType.$error" role="alert">
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                    </section>
                                </div>
                                -->

                                <!--section message preference -->
                                <div>
                                    <!--section class="msg-info-header" layout="row" layout-align="space-between stretch"-->
                                    <section layout="row" layout-align="space-between none" class="md-block elem-width-large">
                                        <md-input-container class="single-col-component elem-width-xlarge">
                                            <label>Message Preference</label>
                                            <textarea md-maxlength="1000"
                                                rows="8"
                                                cols="200"
                                                name="message"
                                                id="Message"
                                                ng-model="syslogprofile.messagepref"
                                                messageappender
                                                required>
                                                </textarea>
                                            <!--input md-maxlength="100" name='message' id="Message" ng-model="messagepref" messageappender required-->
                                            <div ng-messages="syslogProfileAddForm.name.$error">
                                                <div ng-message="required">This is required.</div>
                                                <div ng-message="md-maxlength">The name has to be less than or equal to 1000 characters long.</div>
                                                <!--div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div-->
                                            </div></br>
                                            <div layout="column" messageTokensCtr>
                                                <div layout="row" ng-repeat="tokens in syslogMsgTokens" ng-switch on="$index % 6">
                                                    <div ng-switch-when="0">
                                                        <span ng-show="syslogMsgTokens[$index]"><a id={{$index}} href ng-click="customMessageBuilder(syslogMsgTokens[$index].tokenkey)">{{syslogMsgTokens[$index].value}}</a>&nbsp;</span>
                                                    </div>
                                                    <div ng-switch-when="0">
                                                        <span ng-show="syslogMsgTokens[$index+1]"><a id={{$index+1}} href ng-click="customMessageBuilder(syslogMsgTokens[$index+1].tokenkey)">{{syslogMsgTokens[$index+1].value}}</a>&nbsp;</span>
                                                    </div>
                                                    <div ng-switch-when="0">

                                                        <span ng-show="syslogMsgTokens[$index+2]"><a id={{$index+2}} href ng-click="customMessageBuilder(syslogMsgTokens[$index+2].tokenkey)">{{syslogMsgTokens[$index+2].value}}</a>&nbsp;</span>
                                                    </div>
                                                    <div ng-switch-when="0">
                                                        <span ng-show="syslogMsgTokens[$index+3]"><a id={{$index+3}} href ng-click="customMessageBuilder(syslogMsgTokens[$index+3].tokenkey)">{{syslogMsgTokens[$index+3].value}}</a>&nbsp;</span>
                                                    </div>
                                                    <div ng-switch-when="0">
                                                        <span ng-show="syslogMsgTokens[$index+4]"><a id={{$index+4}} href ng-click="customMessageBuilder(syslogMsgTokens[$index+4].tokenkey)">{{syslogMsgTokens[$index+4].value}}</a>&nbsp;</span>
                                                    </div>
                                                    <div ng-switch-when="0">
                                                        <span ng-show="syslogMsgTokens[$index+5]"><a id={{$index+5}} href ng-click="customMessageBuilder(syslogMsgTokens[$index+5].tokenkey)">{{syslogMsgTokens[$index+5].value}}</a>&nbsp;</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-input-container>
                                    </section>
                                </div>
                            </div>
                            <!--section message attributes -->
                            </div>
                            </div>
                        </form>
                    </div>
                </section>
            </md-content>            
            <!-- help panels [start] -->   
            <helpcontainer contentid="active_help_id" excesscomponent="1.1" ></helpcontainer>
            <!-- help panels [end] -->    
        </section>
    </md-dialog-content>

</md-dialog>