<md-dialog aria-label="add recipient dialog" class="add-recipient-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancelAddRecipientDialog()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>Add Recipient Email Address</h2>
            <span flex></span>
            <!--
            <md-button class="md-accent md-raised modal-done-button" ng-disabled="poolForm.$invalid" ng-click = "done()">
                Add
            </md-button>
            -->
        </div>
    </md-toolbar>

    <md-dialog-content style="padding:0px;">
        <section class="elem-width-large" layout="row" style="margin: 0 auto;">    
            <form name='recipientForm' class="recipient-form">    
                
                <div class="md-dialog-content" >
                    <div layout="column">

                        <div>
                            <md-input-container class="md-block elem-width-medium">
                                <label>Name</label>
                                <input md-maxlength="100" name='name' id="name" ng-model="recipient.name" ng-pattern="/^[a-zA-Z0-9.-]*$/" required>
                                <div ng-messages="recipientForm.name.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="md-maxlength">The name has to be less than or equal to 100 characters long.</div>
                                    <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div>                            
                            <md-input-container class="md-block elem-width-medium">
                                <label>Recipient Email Address</label>
                                <input autofocus md-maxlength="100" name='recipientemail' id="emailid" ng-model="recipient.emailaddress" ng-pattern="/^[a-zA-Z0-9.-_@]*$/" required>
                                <div ng-messages="recipientForm.recipientemail.$error">
                                    <div ng-message="required">This is required.</div>                                    
                                    <div ng-message="md-maxlength">The name has to be less than or equal to 100 characters long.</div>
                                    <div ng-message="pattern">Only alphanumeric, ".", "-", "_", "@" are allowed.</div>                                    
                                </div>
                            </md-input-container>
                        </div>

                    </div>
                </div>
           
                <!--md-dialog-actions layout="row" layout-align="space-around"-->
                <md-dialog-actions layout="row" layout-align="end end">
                    <span flex></span>
                    <md-button class="md-accent md-raised deployment-button" style="color: #FFFFFF;" ng-click="cancelAddRecipientDialog()">
                        Cancel
                    </md-button>
                    <!--md-button class="md-accent md-raised deployment-button" ng-click="tenantdone()" style="color: #FFFFFF;" ng-disabled="!tenantSelected"-->
                    <md-button class="md-accent md-raised deployment-button" 
                        style="color: #FFFFFF;" 
                        ng-disabled = "!(recipient.name && recipient.emailaddress)"
                        ng-click="addRecipientEmail()">
                        Save
                    </md-button>
                </md-dialog-actions>
            </form>
        </section> 
    </md-dialog-content>

</md-dialog>