<!-- div layout="column" layout-align="start stretch" class="content-height-fixer syslog-table-page  admin-page" style="height: 725px;"-->

<div ui-view class="admin-page" layout='row' layout-align="start stretch" style="height: 725px;">
    <div class="left-panel content-height-fixer" flex layout="column" layout-align="space-between none">

    <md-toolbar layout="row" layout-align="space-between none" class="admin-toolbar">
        <div>
             {{ 'admin.setup.syslog.table.heading' | translate}} 
        </div>
        <div class="control-tray" layout="row">
            <!--
            <md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="">
                <md-tooltip md-direction="bottom">
                    Search
                </md-tooltip>
                <md-icon>search</md-icon>
            </md-button>
            
            <md-button ng-disabled="promiseCompleted" class="md-primary md-hue-3 addNewSyslogProfile" aria-label="add" ng-click='callpopupToAddNewSyslogForwarder()'>  
                <md-icon>add_circle_outline</md-icon> Add
            </md-button>
            -->
            <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="refresh" ng-click="clearSyslogProfilesListFromSession()">
                <md-tooltip md-direction="bottom">
                    Refresh Data
                </md-tooltip>
                <md-icon>cached</md-icon>
            </md-button>
            <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="add" ng-click='callpopupToAddNewSyslogForwarder()'>
                <md-tooltip md-direction="bottom">
                    Add New
                </md-tooltip>
                <md-icon>add_circle_outline</md-icon>
            </md-button>            
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-row-select ng-model="selected" md-progress="promise">
            <thead md-head>
                <tr md-row>
                    <th md-column></th>                   
                    <th md-column><span>{{'admin.setup.syslog.table.syslog.profilename' | translate}}</span></th>
                    <th md-column><span>{{'admin.setup.syslog.table.server.profilename' | translate}}</span></th>
                    <th md-column><span>{{'admin.setup.syslog.table.facility' | translate}}</span></th>
                    <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{'admin.setup.syslog.table.severity' | translate}}</span></th>
                    <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{'admin.setup.syslog.table.message.pref' | translate}}</span></th>
                </tr>
            </thead>

            <tbody md-body ng-show="syslogProfilesAvailable">
                <tr md-row md-auto-select md-select="syslogprofile" md-select-id="profilename" ng-repeat="syslogprofile in syslogProfiles | limitTo: query.limit: (query.page - 1) * query.limit" 
                                            ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <td md-cell style="width:100px" class="button-cluster" ng-class="{show : hover}">
                        <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="info" ng-click="updateAdornmentPanel($event,syslogprofile)">
                            <md-tooltip md-direction="bottom">
                                Information
                            </md-tooltip>
                            <md-icon class="icon-18">info_outline</md-icon>
                        </md-button>                    
                        <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="delete" ng-click='deleteSyslogProfile(syslogprofile)'>
                            <md-tooltip md-direction="bottom">
                                Delete Profile
                            </md-tooltip>
                            <md-icon>delete</md-icon>
                        </md-button>
                    </td>

                    <td md-cell style="width:100px"><span>{{syslogprofile.profilename}}</span></td>
                    <td md-cell style="width:100px"><span>{{syslogprofile.serverProfileName}}</span></td>
                    <td md-cell style="width:150px"><span>{{syslogprofile.facilityName}}</span></td>
                    <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}" style="width:200px"><span>{{syslogprofile.severityLevels}}</span></td>
                    <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}" style="width:300px"><span>{{syslogprofile.messagepref}}</span></td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <div flex></div>
	
    <md-content layout="column" layout-align="end end" class="admin-footer">    
        <section class="download-file" ></section>        
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{(syslogProfiles.length)? syslogProfiles.length : 0 }}" md-page-select>
        </md-table-pagination>
    </md-content>
	</div>
    <div class="adornment-panel" flex="35" ng-show="isAdornmentPanelOpen">
        <md-toolbar layout='row' class="md-primary md-hue-3">
            <md-button class="md-icon-button md-primary md-hue-2" aria-label="close" ng-click="toggleAdornmentPanel()">
                <md-icon>close</md-icon>
            </md-button>
            <span>Information</span>
        </md-toolbar>
        <section>
            <md-subheader class="sub-header">
                Details
                <md-icon ng-show="!editMiscState" class="edit" ng-click="editMiscUserData()">edit</md-icon> 
            </md-subheader>

            <md-content class="content" layout="column" ng-hide="editMiscState">
                <span class="section-header">Syslog Profile Name</span>
                <span class="section-text">{{adornmentData.profilename}}</span>
                <span class="section-header">Syslog Server</span>
                <span class="section-text">{{adornmentData.serverProfileName}}</span>
                <span class="section-header">Facility</span>
                <span class="section-text">{{adornmentData.facilityName}}</span>
                <span class="section-header">Severity Mapping</span>
                <span class="section-text">{{adornmentData.severityLevels}}</span>          
                <span class="section-header">Message Preference</span>
                <span class="section-text">{{adornmentData.messagepref}}</span>          
            </md-content>
        </section>
        <div flex></div>
    </div>
	
</div>