<div class="error-popup">	
    <md-dialog-content>
		<div class="md-dialog-content">
			<div layout="row" layout-align="space-between center" style="margin-bottom: 20px;">
				<div class="titleText" style="color:#ff4949">
					<md-icon style="color:#ff4949">warning</md-icon>
					Internal Error
				</div>
				<div class="titleText">Code 500</div>
			</div>
			<div layout="row" layout-align="start center" class="error-description" style="margin-bottom:24px;">
				An internal error has occurred that prevents ShieldX from completing operation.
			</div>
			<div layout="row" layout-align="start center" class="error-description" style="margin-bottom:74px;">
				<div>
					{{msgData.msgStart}} <a class="bold-desc">{{msgData.msgLink}}</a> {{msgData.msgEnd}}
				</div>
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" layout-align="end end">
		<md-button ng-click="hide();" style="color:#4a90e2;padding: 0;margin: 0;">CLOSE</md-button>
	</md-dialog-actions>
</div>