<div class="group-popup">	
    <md-dialog-content>
		<div class="md-dialog-content">
			<div layout="row" layout-align="start start" style="margin-bottom: 20px;">
				<div class="titleText">Import Groups</div>
			</div>
			<div layout="row" layout-align="space-between center" style="height:48px;" class="info-text">
				<div>
					Groups not assigned to a data plane
				</div>
				<div>
					<md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchBar($event)">
                        <md-tooltip md-delay="250" md-direction="bottom">
                            Search
                        </md-tooltip>
                        <md-icon>search</md-icon>
                    </md-button>
				</div>
			</div>
			<md-table-container >
				<table md-table md-row-select multiple ng-model="selected">
					<thead md-head>
						<tr md-row>
							<th md-column>Name</th>
							<th md-column>Criteria</th>
							<th md-column>Created By</th>
							<th md-column>Last Updated</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr class="searchbar" ng-show="isSearchBarOpen">
	                        <td></td>
	                        <td><search datalist='groupdata' showicon='false'  searchconfig='{listname:"groupdata", searchkeylocale: "!", key: "name"}' ></search></td>
	                        <td></td>
	                        <td></td>
                    	</tr>
						<tr md-row md-select="group" md-select-id="value" md-auto-select ng-repeat="group in groupdata" class="group-list">
							<td md-cell>{{group.name}}</td>
							<td md-cell>
								<div layout="column" layout-align="end start">
									<div ng-repeat="equalto in group.rulesCriteria.equal"><md-icon>share</md-icon><md-icon>drag_handle</md-icon>{{equalto}}</div>
									<div ng-repeat="begin in group.rulesCriteria.begins"><md-icon>share</md-icon>--<!-- <md-icon>drag_handle</md-icon> -->{{begin}}</div>
									<div ng-repeat="contain in group.rulesCriteria.contains"><md-icon>share</md-icon><md-icon>center_focus_strong</md-icon>{{contain}}</div>
								</div>
							</td>
							<td md-cell>John Doe</td>
							<td md-cell>12/12/16</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="cancelDialog()" style="color:#4a90e2;">Cancel</md-button>
		<md-button class="md-raised md-accent" ng-click="applyDialog()"  style="color:#fff;">Apply</md-button>
	</md-dialog-actions>
</div>