<!--SCREEN FOR ADDING DEPLOY SPEC-->
<md-dialog aria-label="Add Deployment Specification"   ng-cloak class="fullscreen-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>{{'wizardinfrastucture.heading.create_deployment_spec'| translate}}</h2>
            <span flex></span>
            <md-button class="md-accent md-raised modal-done-button" ng-disabled="formInProgress" ng-click = "startedAddDeploySpec()">
                Add
            </md-button>
        </div>
    </md-toolbar>
    <section layout="row" flex flex-offset="10">
        <!--<section class="elem-width-large" layout="column" style="margin: 0 auto;">-->
        <md-content flex layout-padding 
                    layout="column" layout-align="center start">
            <form name='deploymentForm' novalidate="true" id="adddeploymentForm" style="overflow-y:auto;">
                <div class="md-dialog-content" ng-show="showMainAddDeployForm">
                    <div class='qs-header-text-container' style="margin-top: 8px;">
                        {{'wizardinfrastucture.heading.create_deployment_spec'| translate}}.
                        <md-icon class="light-bulb" ng-click="helpButtonClicked('deploy_spec_title_help_wizard')" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                    </div>
                    <div layout="column">
                        <md-input-container class="md-block">
                            <label>Name this deployment specification</label>
                            <input
                                md-autofocus
                                md-maxlength="40"
                                name='deploymentName' 
                                ng-model="deployment.name" 
                                ng-pattern="/^[a-zA-Z0-9.-]*$/"
                                required>
                            <div ng-messages="deploymentForm.deploymentName.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                                <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>

                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Infrastructure Connector</label>
                            <md-select name='infrastructure' ng-model="deployment.infrastructure" required>
                                <md-option ng-repeat="cloud in clouds" value="{{cloud.id}}">
                                    {{cloud.name}}
                                </md-option>
                            </md-select>
                            <div class="errors" ng-messages="deploymentForm.infrastructure.$error" >
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <section ng-show="cloudType === 'AWS'">
                            <div class="ip-address-screen-element ip-address-screen-backpane-network">
                                Designate Region
                            </div>
                            <!--<div class="ip-address-screen-element deploy-screen-tenant" >Tenants </div>-->
                            <md-button ng-show="!deployment.selectedRegion.name" class="md-accent md-raised sel-management-button" ng-click = "callpopupregions(regions, deployment.selectedRegion)">
                                <md-icon>add_circle_outline</md-icon> Designate Region
                            </md-button>
                            <div class='listHosts' layout="row" ng-show="deployment.selectedRegion.name">
                                <div class="store-content">{{deployment.selectedRegion.name}}</div>

                                <md-button class="md-accent md-hue-3" ng-click='callpopupregions(regions, deployment.selectedRegion)'>
                                    <md-icon class="edit-button-icon">edit</md-icon>{{ 'wizard.ippool.edit' | translate }}
                                </md-button>
                            </div>
                            <md-divider style="margin: 32px 0 0 0"></md-divider>

                            <div class="ip-address-screen-element ip-address-screen-backpane-network">
                                Designate VPC
                            </div>
                            <!--<div class="ip-address-screen-element deploy-screen-tenant" >Tenants </div>-->
                            <md-button ng-show="!deployment.selectedTenants.name" class="md-accent md-raised sel-management-button" ng-click = "callpopuptenants(tenants, deployment.selectedTenants)">
                                <md-icon>add_circle_outline</md-icon> Designate VPC
                            </md-button>
                            <div class='listHosts' layout="row" ng-show="deployment.selectedTenants.name">
                                <div class="store-content">{{deployment.selectedTenants.name}}</div>

                                <md-button class="md-accent md-hue-3" ng-click='callpopuptenants(tenants, deployment.selectedTenants)'>
                                    <md-icon class="edit-button-icon">edit</md-icon>{{ 'wizard.ippool.edit' | translate }}
                                </md-button>
                            </div>
                            <md-divider style="margin: 32px 0 0 0"></md-divider>

                        </section>

                        <md-input-container class="md-block" ng-show="cloudType === 'OPENSTACK'">
                            <label>Region</label>
                            <input 
                                name='deploymentRegion' 
                                id="deploymentRegion"
                                md-maxlength="40"
                                ng-model="deployment.region" required>
                            <!--ng-pattern="/^[a-zA-Z0-9.-\s]*$/"-->

                            <div ng-messages="deploymentForm.deploymentRegion.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                            </div>
                        </md-input-container>
                        <section  ng-show="cloudType === 'OPENSTACK'">
                            <div class="ip-address-screen-element ip-address-screen-backpane-network">
                                Designate which Tenants ShieldX can use for this Deployment Specification.
                            </div>
                            <!--<div class="ip-address-screen-element deploy-screen-tenant" >Tenants </div>-->
                            <md-button ng-show="!deployment.selectedTenants.name" class="md-accent md-raised sel-management-button" ng-click = "callpopuptenants(tenants, deployment.selectedTenants)">
                                <md-icon>add_circle_outline</md-icon> Designate Tenant
                            </md-button>
                            <div class='listHosts' layout="row" ng-show="deployment.selectedTenants.name">
                                <div class="store-content">{{deployment.selectedTenants.name}}</div> 

                                <md-button class="md-accent md-hue-3" ng-click='callpopuptenants(tenants, deployment.selectedTenants)'>
                                    <md-icon class="edit-button-icon">edit</md-icon>{{ 'wizard.ippool.edit' | translate }}
                                </md-button>
                            </div>
                            <!--<md-input-container class="md-block" ng-show="cloudType === 'OPENSTACK'">
                                <label>Tenants</label>
                                <md-select name='deploymentTenants' ng-model="deployment.tenant" required>
                                    <md-option ng-repeat="tenant in tenants" value="{{tenant.id}}">
                                        {{tenant.name}}
                                    </md-option>
                                </md-select>
                                <div class="errors" ng-messages="deploymentForm.deploymentTenants.$error" >
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>-->
                            <md-divider style="margin: 32px 0 0 0"></md-divider>
                        </section>

                        <section>
                            <div class="ip-address-screen-element ip-address-screen-management-network">
                                {{ 'wizard.ippool.management_network' | translate }} 
                                <!--<md-icon ng-show="ManagementFormDone" style="margin: -4px 0 0 24px; color: #13ce66;">check_circle</md-icon>-->
                            </div>
                            <section ng-show="ManagementFormDone"><!-- Section to show Managment Network Data -->
                                <div layout='row' class='networkData'>
                                    <div layout="column">
                                        <div class='label-subsection'>Management Network</div>
                                        <div class='value-subsection'>{{deployment.managementNetworkSelectedName}}</div>
                                    </div>
                                    <div layout="column" class='ipaddressingcolumn'>
                                        <div class='label-subsection'>IP Addressing</div>
                                        <div class='value-subsection'>{{deployment.managementIPPoolName}}</div>
                                    </div>
                                </div>
                            </section>
                            <md-button ng-show="!ManagementFormDone" ng-disabled='!enableRestButtons' class="md-accent md-raised sel-management-button" ng-click='showManagmentNetworkDialogForm()' id="adminDSMNButton"> <md-icon>add_circle_outline</md-icon> {{ 'wizard.ippool.select_management_network.lower' | translate }}</md-button>
                            <div ng-show="ManagementFormDone" style='cursor:pointer; color: rgb(74,144,226); padding: 22px 0px 0px 0px; font-size:14px;' ng-click='showManagmentNetworkDialogForm()'>
                                <md-icon style='color: rgb(74,144,226)' class="edit-button-icon" >edit</md-icon>EDIT
                            </div>
                        </section> 

                        <md-divider style="margin: 32px 0 0 0"></md-divider>

                        <section>
                            <div class="ip-address-screen-element ip-address-screen-backpane-network">
                                {{ 'wizard.ippool.backpane_network' | translate }}
                                <!--<md-icon ng-show="BackplaneFormDone" style="margin: -4px 0 0 24px; color: #13ce66;">check_circle</md-icon>-->
                            </div>
                            <section ng-show="BackplaneFormDone"><!-- Section to show Managment Network Data -->
                                <div layout='row' class='networkData'>
                                    <div layout="column">
                                        <div class='label-subsection'>Backplane Network</div>
                                        <div class='value-subsection'>{{deployment.backplaneNetworkSelectedName}}</div>
                                    </div>
                                    <div layout="column" class='ipaddressingcolumn'>
                                        <div class='label-subsection'>IP Addressing</div>
                                        <div class='value-subsection'>{{deployment.backplaneIPPoolName}}</div>
                                    </div>
                                </div>
                            </section>
                            <md-button ng-show="!BackplaneFormDone" ng-disabled='!enableRestButtons' class="md-accent md-raised sel-management-button" ng-click='showBackplaneNetworkDialogForm()' id="adminDSBNButton"> <md-icon>add_circle_outline</md-icon> Add Backplane Network </md-button>
                            <div ng-show="BackplaneFormDone" style='cursor:pointer; color: rgb(74,144,226); padding: 22px 0px 0px 0px; font-size:14px; ' ng-click='showBackplaneNetworkDialogForm()'>
                                <md-icon  style='color: rgb(74,144,226)' class="edit-button-icon" >edit</md-icon>EDIT
                            </div>
                        </section> 

                        <md-divider style="margin: 32px 0 0 0"></md-divider>

                        <section ng-show="cloudType !== 'AWS'">
                            <div class="ip-address-screen-element ip-address-screen-backpane-network">
                                Designate Hosts ShieldX can use.
                            </div>
                            <md-button ng-show="deployment.numberOfHosts <= 0" ng-disabled='!enableRestButtons'class="md-accent md-raised sel-management-button" 
                                       ng-click = "callpopuphost(hosts, deployment.selectedHostObjects)" id="adminDSButton">
                                <md-icon>add_circle_outline</md-icon> Designate Hosts
                            </md-button>
                            <div ng-show="deployment.numberOfHosts > 0">
                                <span class="numberHosts">
                                    Hosts ({{deployment.numberOfHosts}})
                                </span>
                                <md-button class="md-accent md-hue-3"  ng-click = "callpopuphost(hosts, deployment.selectedHostObjects)">                              
                                    <md-icon class="edit-button-icon" >edit</md-icon>EDIT 
                                </md-button>
                            </div>
                            <div style="line-height: 1.71;">
                                <div ng-repeat="sel_host in deployment.hostNames">
                                    {{sel_host}}
                                </div>
                            </div>

                        </section>   

                        <md-divider style="margin: 32px 0 0 0"></md-divider>

                        <div ng-show="cloudType !== 'AWS'" class="ip-address-screen-element ip-address-screen-backpane-network">
                            ShieldX will by default store its data in local storage.
                        </div>
                        <section ng-show="cloudType !== 'AWS'" layout="row" class="ip-address-screen-element" style="margin-bottom: 32px;">
                            <div class='listHosts' layout="row">
                                <div class="store-content">{{deployment.storageName}}</div>

                                <md-button ng-hide="cloudType === 'OPENSTACK'" class="md-accent md-hue-3" ng-disabled='!enableRestButtons' ng-click='callpopupstorage(storages, deployment.selectedStorage)'>
                                    <md-icon class="edit-button-icon" >edit</md-icon>{{ 'wizard.ippool.edit' | translate }}
                                </md-button>
                            </div>
                        </section>


                    </div>
                </div>
                <div class="md-dialog-content" ng-show="showMgmtNetworkForm">
                    <div layout-align="column">
                        <section>
                            <div class="ip-address-screen-element ip-address-screen-management-network">
                                {{ 'wizard.ippool.management_network' | translate }}
                            </div>
                            <section layout="row" class="ip-address-screen-element" style="margin-bottom: 32px;">
                                <div flex ng-if="!deployment.managementNetwork">
                                    <md-button class="md-accent md-raised sel-management-button" ng-click='showNetworkDialog("Management", networks)' id="adminDSMNWindowButton"> <md-icon>add_circle_outline</md-icon> {{ 'wizard.ippool.select_management_network.lower' | translate }}</md-button>
                                </div>
                                <div flex ng-if="deployment.managementNetwork"> {{deployment.managementNetworkSelectedName}}
                                    <md-button class="ip-addressing-cross-button md-accent md-hue-3 orange-border" ng-click='showNetworkDialog("Management", networks, deployment.managementNetworkSelected)' >
                                        <md-icon class="edit-button-icon">edit</md-icon>{{ 'wizard.ippool.edit' | translate }}
                                    </md-button>
                                </div>                                                       
                            </section>
                            <md-divider class="elem-width-large"></md-divider>
                            <div ng-show="cloudType !== 'OPENSTACK'">
                                <div class="ip-address-screen-element ip-address-screen-specify-ip-addressin">
                                    <h4>{{ 'wizard.ippool.specify_ip_addressing_for_management_network' | translate }}</h4></div>
                                <md-content class="elem-width-large">
                                    <md-radio-group class="radio-selection-grp" ng-model="deployment.mgmtselectedData" layout="row" ng-click="radioClicked()">
                                        <md-radio-button value="existing" id="adminDSMNWindowEP">{{ 'wizard.ippool.existing' | translate }}</md-radio-button>
                                        <md-radio-button value="dhcp" id="adminDSMNWindowDHCP">{{ 'wizard.ippool.dhcp' | translate }}</md-radio-button>

                                    </md-radio-group>
                                    <section class="ip-pool-tabed-content ip-address-screen-element">
                                        <div ng-if="deployment.mgmtselectedData == 'existing'" class="animate-if elem-width-large">
                                            <section layout="column">
                                                <div layout="row" layout-align="start center" class="existing-ip-row-header">
                                                    <div flex="50">{{ 'wizard.ippool.existingippoolname' | translate }}</div>
                                                </div>
                                                <md-divider></md-divider>
                                                <div layout="column" class="section-existing-ip-pools">
                                                    <md-radio-group ng-model="deployment.managementIPPoolData">
                                                        <md-radio-button value='{{ipPool}}' class="md-accent existing-ip-row" ng-repeat="ipPool in pools">
                                                            <div layout="row">
                                                                <div flex="50">{{ipPool.name}}</div>                                                        
                                                            </div>
                                                        </md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                                <md-divider></md-divider>
                                            </section>
                                        </div>
                                        <div ng-if="deployment.mgmtselectedData == 'dhcp'" class="animate-if" ng-value="deployment.managementIPPool=0">
                                            <div class="dhcp-content">IPs will be assigned automatically</div>
                                        </div>
                                    </section>
                                </md-content>
                            </div>
                            <div ng-show="cloudType === 'OPENSTACK'">
                                <div class="ip-address-screen-element ip-address-screen-specify-ip-addressin">
                                    <h4>{{ 'wizard.ippool.specify_ip_addressing_for_management_network.openstack' | translate }}</h4></div>
                                <md-content class="elem-width-large">
                                    <div  class="animate-if">  
                                        <div class="">{{ 'wizard.ippool.dhcp.openstack' | translate }}</div>
                                    </div>                                
                                </md-content>
                            </div>
                            <section layout="row" style="margin-top: 32px;">
                                <md-button class="md-primary md-raised" 
                                           ng-click='showMainAddDeploymentForm()' id="adminDSMNWindowCancel"> 
                                    Cancel
                                </md-button>
                                <md-button class="md-accent md-raised " 
                                           ng-click='saveManagementForm()'
                                           ng-disabled="!(((deployment.managementIPPool === 0 && deployment.mgmtselectedData !== 'existing') || (deployment.managementIPPoolData && deployment.mgmtselectedData === 'existing')) && (deployment.managementNetwork))" id="adminDSMNWindowSave"> 
                                    Save
                                </md-button>
                            </section>
                        </section>
                    </div>
                </div>
                <div class="md-dialog-content" ng-show="showBckplnNetworkForm">
                    <div layout-gt-sm="column">
                        <section>
                            <div class="ip-address-screen-element ip-address-screen-management-network">
                                Backplane Network
                            </div>
                            <section layout="row" class="ip-address-screen-element" style="margin-bottom: 32px;">
                                <div flex ng-if="!deployment.backplaneNetwork">
                                    <md-button class="md-accent md-raised sel-management-button" ng-click='showNetworkDialog("Backplane", networks, {})' id="adminDSBNWindowButton"> <md-icon>add_circle_outline</md-icon> Add Backplane Network</md-button>
                                </div>
                                <div flex ng-if="deployment.backplaneNetwork"> {{deployment.backplaneNetworkSelectedName}}
                                    <md-button class="ip-addressing-cross-button md-accent md-hue-3 orange-border" ng-click='showNetworkDialog("Backplane", networks, deployment.backplaneNetworkSelected)'>
                                        <md-icon class="edit-button-icon">edit</md-icon>{{ 'wizard.ippool.edit' | translate }}
                                    </md-button>
                                </div>                                                       
                            </section>
                            <md-divider class="elem-width-large"></md-divider>
                            <div ng-show="cloudType !== 'OPENSTACK'">
                                <div class="ip-address-screen-element ip-address-screen-specify-ip-addressin">
                                    <h4>{{ 'wizard.ippool.specify_ip_addressing_for_backplane_network' | translate }}</h4></div>
                                <md-content class="elem-width-large">
                                    <md-radio-group class="radio-selection-grp" ng-model="deployment.bkplnselectedData" layout="row" ng-click="radioClicked()">
                                        <md-radio-button value="existing" ng-hide="cloudType === 'OPENSTACK'" id="adminDSBNWindowEP">{{ 'wizard.ippool.existing' | translate }}</md-radio-button>
                                        <md-radio-button value="dhcp" id="adminDSBNWindowDHCP">{{ 'wizard.ippool.dhcp' | translate }}</md-radio-button>

                                    </md-radio-group>
                                    <section class="ip-pool-tabed-content ip-address-screen-element">
                                        <div ng-if="deployment.bkplnselectedData === 'existing'" class="animate-if elem-width-large">
                                            <section layout="column">
                                                <div layout="row" layout-align="start center" class="existing-ip-row-header">
                                                    <div flex="50">{{ 'wizard.ippool.existingippoolname' | translate }}</div>
                                                </div>
                                                <md-divider></md-divider>
                                                <div layout="column" class="section-existing-ip-pools">
                                                    <md-radio-group ng-model="deployment.backplaneIPPoolData">
                                                        <md-radio-button value="{{ipPool}}" class="md-accent existing-ip-row" ng-repeat="ipPool in pools">
                                                            <div layout="row">
                                                                <div flex="50">{{ipPool.name}}</div>                                                        
                                                            </div>
                                                        </md-radio-button>
                                                    </md-radio-group>
                                                </div>
                                                <md-divider></md-divider>
                                            </section>
                                        </div>
                                        <div ng-if="deployment.bkplnselectedData === 'dhcp'" class="animate-if" ng-value="deployment.backplaneIPPool=0">
                                            <div class="dhcp-content">IPs will be assigned automatically</div>
                                        </div>
                                    </section>
                                </md-content>
                            </div>
                            <div ng-show="cloudType === 'OPENSTACK'">
                                <div class="ip-address-screen-element ip-address-screen-specify-ip-addressin">
                                    <h4>{{ 'wizard.ippool.specify_ip_addressing_for_backplane_network.openstack' | translate }}</h4></div>
                                <md-content class="elem-width-large">
                                    <div  class="animate-if">  
                                        <div class="">{{ 'wizard.ippool.dhcp.openstack' | translate }}</div>
                                    </div>                                
                                </md-content>
                            </div>
                            <section layout="row" style="margin-top: 32px;">
                                <md-button class="md-primary md-raised " 
                                           ng-click='showMainAddDeploymentForm()' id="adminDSBNWindowCancel"> 
                                    Cancel
                                </md-button>
                                <md-button class="md-accent md-raised" 
                                           ng-click='saveBackplaneForm()'
                                           ng-disabled="!(((deployment.backplaneIPPool === 0 && deployment.bkplnselectedData !== 'existing') || (deployment.backplaneIPPoolData && deployment.bkplnselectedData === 'existing')) && (deployment.backplaneNetwork))" id="adminDSBNWindowSave"> 
                                    Save
                                </md-button>
                            </section>
                        </section>
                    </div>
                </div>

                <!--<div class="md-dialog-content" ng-show="showMicroServForm">
                    <div layout-gt-sm="column">
                        <section class="microservice" style='background-color: #eeeeee; padding:25px;  margin:10px;'>
                            <section layout="row" flex class="dep-spec-col">
                                <div> Microservices </div>
                            </section>
                            <br/>
                            <section layout="row">
                                <section layout="column" flex class="dep-spec-col">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Hosts</label>
                                        <md-select ng-model="deployment.hosts" multiple name='hosts' required>
                                            <md-option ng-repeat="host in hosts" value="{{host.id}}">
                                                {{host.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="deploymentForm.hosts.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </section>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <section layout="column" flex class="dep-spec-col">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Storages</label>
                                        <md-select ng-model="deployment.storage" name='storage' required>
                                            <md-option ng-repeat="storage in storages" value="{{storage.id}}">
                                                {{storage.name}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="deploymentForm.storage.$error" >
                                            <div ng-message="required">This is required.</div>
                                        </div>
                                    </md-input-container>
                                </section>
                            </section>

                            <br/><br/>
                        </section>
                    </div>
                </div>-->
            <section ng-if="cloudType == 'VMWARE'">
                <md-divider class="elem-width-large" style="margin: 18px 0;"></md-divider>
                <section layout="column">
                    <label class="wizard-main-heading" style="margin-bottom: 24px;display: block;">Add VLAN Pool (optional)</label>   
                    <vlanpool vlan="newVlan" selectvlan="selectedVlan"  option="selectOption"  infraid ="deployment.infrastructure" selectedoption="onOptionChanged(selectedOpt)" selectedvlan="onVlanSelected(selectedVal)"></vlanpool>
                </section>
            </section>
            </form>
        </md-content>
        <helpcontainer contentid="active_help_id" excesscomponent="1.1"></helpcontainer>

    </section>
</md-dialog>
