<div ui-view id="admin-infra-connector" class="admin-page" layout='row'>
    <div class="left-panel content-height-fixer" flex layout="column" layout-align="space-between none"  style="margin:0 24px;">
        <md-toolbar layout="row" layout-align="space-between center" class="admin-toolbar" style="padding:0;">
            <div>
                {{ 'admin.deploymentSpecification.heading' | translate}}
            </div>
            <div class="control-tray" layout="row">
                <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="refresh" ng-click="callCacheBurst()">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Refresh Data
                    </md-tooltip>
                    <md-icon>cached</md-icon>
                </md-button>
                <md-button ng-if="is_create_dspec" ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="add" ng-click="callpopupToAddDeploySpec()">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Add New
                    </md-tooltip>
                    <md-icon>add_circle_outline</md-icon>
                </md-button>
                <!-- <md-button class="md-icon-button md-primary md-hue-3 import" aria-label="import" ng-disabled="true">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Import
                    </md-tooltip>
                    <md-icon>system_update_alt</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary md-hue-3 export" aria-label="export" ng-disabled="true">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Export
                    </md-tooltip>
                    <md-icon>system_update_alt</md-icon>
                </md-button> -->
                <md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchBar($event)">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Search
                    </md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>
                <!-- <search datalist='DeploymentSpecifications' extras='{listname:"DeploymentSpecifications", searchkeylocale: "!"}'></search> -->
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select ng-model="selected" md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column></th>
                        <!-- UPDATE THIS BLOCK FOR CUSTOM COLUMN HEADERS -->
                        <th md-column><span>Infrastructure Connector</span></th>
                        <th md-column><span>Name</span></th>
                        <!--<th md-column><span>Description</span></th>-->
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Management Network </span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Management IP Pool</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Backplane Network </span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Backplane IP Pool</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Region</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Tenant</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Hosts</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Storage</span></th>
                        <!-- END -->
                    </tr>
                </thead>
                <tbody md-body>
                    <tr class="searchbar" ng-show="isSearchBarOpen">
                        <td></td>
                        <td>
                            <search datalist='DeploymentSpecifications' searchconfig='{listname:"DeploymentSpecifications", searchkeylocale: "!", key: "cloudName"}' showicon='false'></search>
                        </td>
                        <td>
                            <search datalist='DeploymentSpecifications' searchconfig='{listname:"DeploymentSpecifications", searchkeylocale: "!", key: "name"}' showicon='false'></search>
                        </td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}">
                            <search datalist='DeploymentSpecifications' searchconfig='{listname:"DeploymentSpecifications", searchkeylocale: "!.mgmtNetworkName", key: "name"}' showicon='false'></search>
                        </td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}">
                            <search datalist='DeploymentSpecifications' searchconfig='{listname:"DeploymentSpecifications", searchkeylocale: "!.mgmtIpPoolName", key: "name"}' showicon='false'></search>
                        </td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}">
                            <search datalist='DeploymentSpecifications' searchconfig='{listname:"DeploymentSpecifications", searchkeylocale: "!.backPlaneNetworkName", key: "name"}' showicon='false'></search>
                        </td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}">
                            <search datalist='DeploymentSpecifications' searchconfig='{listname:"DeploymentSpecifications", searchkeylocale: "!.backPlaneIpPoolName", key: "name"}' showicon='false'></search>
                        </td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}">
                            <search datalist='DeploymentSpecifications' searchconfig='{listname:"DeploymentSpecifications", searchkeylocale: "!", key: "region"}' showicon='false'></search>
                        </td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}">
                            <search datalist='DeploymentSpecifications' searchconfig='{listname:"DeploymentSpecifications", searchkeylocale: "!.tenantName", key: "name"}' showicon='false'></search>
                        </td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}">
                            <search datalist='DeploymentSpecifications' searchconfig='{listname:"DeploymentSpecifications", searchkeylocale: "!.hosts", key: "length"}' showicon='false'></search>
                        </td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}">
                            <search datalist='DeploymentSpecifications' searchconfig='{listname:"DeploymentSpecifications", searchkeylocale: "!.datastoreName", key: "name"}' showicon='false'></search>
                        </td>
                    </tr>
                    <tr md-row md-auto-select md-select="connection" md-select-id="name" ng-repeat="connection in DeploymentSpecifications | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-class="{highlighted : connection.active}">
                        <td md-cell class="button-cluster" ng-class="{show : hover}" style="min-width:74px;">
                            <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="info" ng-click="updateAdornmentPanel($event,connection)">
                                <md-tooltip md-delay="250" md-direction="bottom">
                                    Information
                                </md-tooltip>
                                <md-icon class="icon-18">info_outline</md-icon>
                            </md-button>
                            <md-button ng-if="is_delete_dspec"  ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="delete" ng-click="deleteDeploySpec(connection)">
                                <md-tooltip md-delay="250" md-direction="bottom">
                                    Delete Deployment Specification
                                </md-tooltip>
                                <md-icon  class="icon-18">delete</md-icon>
                            </md-button>
                        </td>
                        <!-- UPDATE THIS BLOCK FOR CUSTOM COLUMN CELLS -->
                        <td md-cell><span>{{connection.cloudName}}</span></td>
                        <td md-cell><span>{{connection.name}}</span></td>
                        <!--<td md-cell><span>{{connection.descr}}</span></td>-->
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.mgmtNetworkName.name}}</span></td>
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.mgmtIpPoolName.name}}</span></td>
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.backPlaneNetworkName.name}}</span></td>
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.backPlaneIpPoolName.name}}</span></td>
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.region}}</span></td>
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.tenantName.name}}</span></td>
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.hosts.length}}</span></td>
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.datastoreName.name}}</span></td>
                        <!-- END -->
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <div flex></div>
        <md-content layout="row" layout-align="space-between none" class="admin-footer">
            <!-- <section class="download-file">
                <md-icon class="md-18">file_download</md-icon>Download Import Template</section> -->
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{(DeploymentSpecifications.length) ? DeploymentSpecifications.length : 0}}" md-page-select>
            </md-table-pagination>
        </md-content>
    </div>
    <div class="adornment-panel" flex="25" ng-show="isAdornmentPanelOpen">
        <md-toolbar layout='row' class="md-primary md-hue-3">
            <md-button class="md-icon-button md-primary md-hue-2" aria-label="close" ng-click="toggleAdornmentPanel()">
                <md-icon>close</md-icon>
            </md-button>
            <span>Information</span>
        </md-toolbar>
        <section>
            <md-subheader class="sub-header" ng-show="(adornmentData.cloudType !== 'OPENSTACK')">Miscellaneous
                <md-icon  ng-show="!editMisc && !editMgmt && !editBckPlane && !editMcrSer && !editVlan && is_update_dspec " class="edit" ng-click="editMiscData(adornmentData)">
                    edit
                </md-icon>
                <md-button class="md-icon-button apply" aria-label="Apply" ng-click="editDeploySpec()" ng-hide="(deploymentForm.$invalid || !editMisc) " style='float:right;  margin-top: -12px;'>
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Apply
                    </md-tooltip>
                    <md-icon>done</md-icon>
                </md-button>
                <md-button class="md-icon-button " aria-label="discard" ng-show="editMisc" style='float:right; margin-top: -12px;' ng-click="discardChanges()">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Discard Changes
                    </md-tooltip>
                    <md-icon>clear</md-icon>
                </md-button>
            </md-subheader>
            <md-subheader class="sub-header" ng-show="(adornmentData.cloudType === 'OPENSTACK')">Miscellaneous
                <md-icon  ng-show="!editMisc && !editMgmt && !editBckPlane && !editMcrSer && !editVlan && is_update_dspec" class="edit" ng-click="editMiscData(adornmentData)">
                    edit
                </md-icon>
                <md-button class="md-icon-button apply" aria-label="Apply" ng-click="editDeploySpec('Misc')" ng-hide="(deploymentFormOpenStack.$invalid || !editMisc)" style='float:right;  margin-top: -12px;'>
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Apply
                    </md-tooltip>
                    <md-icon>done</md-icon>
                </md-button>
                <md-button class="md-icon-button " aria-label="discard" ng-show="editMisc" style='float:right; margin-top: -12px;' ng-click="discardChanges()">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Discard Changes
                    </md-tooltip>
                    <md-icon>clear</md-icon>
                </md-button>
            </md-subheader>
            <md-content class="content" layout="column" ng-show="!editMisc">
                <span class="section-header">Name</span>
                <span class="section-text">{{adornmentData.name}}</span>
            </md-content>
            <!--<md-content class="content" layout="column" ng-show="adornmentData.cloudType === 'OPENSTACK' && !editMisc"> 
                <span class="section-header">Region</span>
                <span class="section-text">{{adornmentData.region}}</span>
            </md-content>
            <md-content class="content" layout="column" ng-show="adornmentData.cloudType === 'OPENSTACK' && !editMisc"> 
                <span class="section-header">Tenants</span>
                <span class="section-text">{{adornmentData.tenantName.name}}</span>
            </md-content>-->
            <md-content class="content" layout="column" ng-show="editMisc">
                <form name='deploymentForm' novalidate="true">
                    <md-input-container>
                        <label>Deployment Specification Name</label>
                        <input md-maxlength="40" name='deploymentName' ng-model="deployment.name" ng-pattern="/^[a-zA-Z0-9.-\s]*$/" required>
                        <div ng-messages="deploymentForm.deploymentName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                            <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>
                        </div>
                    </md-input-container>
                </form>
            </md-content>
            <!--<md-content class="content" layout="column" ng-show="adornmentData.cloudType === 'OPENSTACK' && editMisc">
                <form name='deploymentFormOpenStack' novalidate="true">
                    <md-input-container>
                        <label>Deployment Specification Name</label>
                        <input 
                            md-maxlength="40"
                            name='deploymentName' 
                            ng-model="deployment.name" 
                            ng-pattern="/^[a-zA-Z0-9.-\s]*$/"
                            required>
                        <div ng-messages="deploymentForm.deploymentName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                            <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>

                        </div>
                    </md-input-container>
                    <!--<md-input-container class="md-block" ng-show="adornmentData.cloudType === 'OPENSTACK' && editMisc">
                        <label>Region</label>
                        <input 
                            name='deploymentRegion' 
                            id="deploymentRegion"
                            md-maxlength ="40"
                            ng-model="deployment.region" 
                            required>

                        <div ng-messages="deploymentForm.deploymentRegion.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The region has to be less than 40 characters long.</div>
                        </div>
                    </md-input-container>
                    <section ng-show="adornmentData.cloudType === 'OPENSTACK' && editMisc">
                        <span class="section-header">Tenants
                            <md-icon style="float:right" class="md-accent md-hue-3 edit-button-icon" ng-click='callpopuptenants(tenants, deployment.tenantId, adornmentData.tenantName.name)' >edit</md-icon> 
                        </span>
                        <span class="section-text">{{adornmentData.tenantName.name}}</span>
                    </section>-->
            <!--<md-input-container class="md-block" ng-show="adornmentData.cloudType === 'OPENSTACK' && editMisc">
                        <label>Tenants</label>
                        <md-select name='deploymentTenants' ng-model="deployment.tenant" required>
                            <md-option ng-repeat="tenant in tenants" value="{{tenant.id}}">
                                {{tenant.name}}
                            </md-option>
                        </md-select>
                        <div class="errors" ng-messages="deploymentForm.deploymentTenants.$error" >
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>-->
            <!-- </form>
            </md-content> -->
        </section>
        <section>
            <md-subheader class="sub-header">
                <span>Management</span>
                <md-icon  ng-show="!editMisc && !editMgmt && !editBckPlane && !editMcrSer && !editVlan && is_update_dspec" class="edit" ng-click="editManagementData(adornmentData)">edit</md-icon>
                <!-- <a ng-show="editMgmt" style='float:right;' ng-click="editDeploySpec()"> Apply </a> -->
                <md-button class="md-icon-button apply" aria-label="Apply" ng-click="editDeploySpec('Management')" ng-show="editMgmt" style='float:right;  margin-top: -12px;'>
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Apply
                    </md-tooltip>
                    <md-icon>done</md-icon>
                </md-button>
                <md-button class="md-icon-button " aria-label="Discard" ng-show="editMgmt" style='float:right; margin-top: -12px;' ng-click="discardChanges('Management')">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Discard Changes
                    </md-tooltip>
                    <md-icon>clear</md-icon>
                </md-button>
            </md-subheader>
            <md-content class="content" layout="column" ng-show="!editMgmt">
                <span class="section-header">Network</span>
                <span class="section-text">{{adornmentData.mgmtNetworkName.name}}</span>
                <span class="section-header">IP Pool</span>

                <a ui-sref="home.ipPoolId({poolId: adornmentData.mgmtIpPoolName.id})" ng-show="adornmentData.mgmtIpPoolName.id" class="link-to">
                    <div layout="row" layout-align="space-between none">
                        <span> {{adornmentData.mgmtIpPoolName.name}} </span>
                        <md-icon>keyboard_arrow_right</md-icon>
                    </div>
                </a>
                <div layout="row" layout-align="space-between none" ng-hide="adornmentData.mgmtIpPoolName.id">
                    <span> {{adornmentData.mgmtIpPoolName.name}} </span>
                </div>
            </md-content>
            <md-content class="content" layout="column" ng-show="editMgmt">
                <span class="section-header">Network 
                    <md-icon style="float:right" class="md-accent md-hue-3 edit-button-icon" ng-click='showNetworkDialog("Management", networks, deployment.managementNetwork, adornmentData.mgmtNetworkName.name)'>edit</md-icon>
                </span>
                <span class="section-text">{{adornmentData.mgmtNetworkName.name}}</span>
                <!--<md-input-container >
                    <label>Network</label>
                    <md-select ng-model="deployment.managementNetwork" aria-label='Management Network'>
                        <md-option ng-repeat="network in networks" value="{{network.id}}">
                            {{network.name}}
                        </md-option>
                    </md-select>
                </md-input-container>-->
                <md-input-container ng-show="adornmentData.cloudType !== 'OPENSTACK'">
                    <label>IP Pool</label>
                    <md-select ng-model="deployment.managementIPPool" aria-label='Management IP Pool'>
                        <md-option ng-repeat="pool in pools" value="{{pool.id}}">
                            {{pool.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div ng-show="adornmentData.cloudType === 'OPENSTACK'">
                    <span class="section-header">IP Pool</span>
                    <div layout="row" layout-align="space-between none" ng-hide="adornmentData.mgmtIpPoolName.id">
                        <span> {{adornmentData.mgmtIpPoolName.name}} </span>
                    </div>
                </div>
            </md-content>
        </section>
        <section>
            <md-subheader class="sub-header">Backplane
                <md-icon  ng-show="!editMisc && !editMgmt && !editBckPlane && !editMcrSer && !editVlan && is_update_dspec" class="edit" ng-click="editBackPlaneData(adornmentData)">edit</md-icon>
                <!-- <a ng-show="editBckPlane" style='float:right;' ng-click="editDeploySpec()"> Apply </a> -->
                <md-button class="md-icon-button apply" aria-label="Apply" ng-click="editDeploySpec('Backplane')" ng-show="editBckPlane" style='float:right;  margin-top: -12px;'>
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Apply
                    </md-tooltip>
                    <md-icon>done</md-icon>
                </md-button>
                <md-button class="md-icon-button " aria-label="Discard" ng-show="editBckPlane" style='float:right; margin-top: -12px;' ng-click="discardChanges('Backplane')">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Discard Changes
                    </md-tooltip>
                    <md-icon>clear</md-icon>
                </md-button>
            </md-subheader>
            <md-content class="content" layout="column" ng-show="!editBckPlane">
                <span class="section-header">Network</span>
                <span class="section-text">{{adornmentData.backPlaneNetworkName.name}}</span>
                <span class="section-header">IP Pool</span>

                <a ui-sref="home.ipPoolId({poolId: adornmentData.backPlaneIpPoolName.id})" ng-show="adornmentData.backPlaneIpPoolName.id" class="link-to">
                    <div layout="row" layout-align="space-between none">
                        <span> {{adornmentData.backPlaneIpPoolName.name}} </span>
                        <md-icon>keyboard_arrow_right</md-icon>
                    </div>
                </a>
                <div ng-hide="adornmentData.backPlaneIpPoolName.id" layout="row" layout-align="space-between none">
                    <span> {{adornmentData.backPlaneIpPoolName.name}} </span>
                </div>
            </md-content>
            <md-content class="content" layout="column" ng-show="editBckPlane">
                <span class="section-header">Network 
                        <md-icon style="float:right" class="md-accent md-hue-3 edit-button-icon" ng-click='showNetworkDialog("Backplane", networks, deployment.backplaneNetwork, adornmentData.backPlaneNetworkName.name)' >edit</md-icon> 
                </span>
                <span class="section-text">{{adornmentData.backPlaneNetworkName.name}}</span>
                <!--<md-input-container class="md-block" flex-gt-sm>
                    <label>Network</label>
                    <md-select ng-model="deployment.backplaneNetwork" aria-label='Backplane Network'>
                        <md-option ng-repeat="network in networks" value="{{network.id}}">
                            {{network.name}}
                        </md-option>
                    </md-select>
                </md-input-container>-->
                <md-input-container class="md-block" flex-gt-sm ng-show="adornmentData.cloudType !== 'OPENSTACK'">
                    <label>IP Pool</label>
                    <md-select ng-model="deployment.backplaneIPPool" aria-label='Backplane IP Pool'>
                        <md-option ng-repeat="pool in pools track by $index" value="{{pool.id}}">
                            {{pool.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div ng-show="adornmentData.cloudType === 'OPENSTACK'">
                    <span class="section-header">IP Pool</span>
                    <div ng-hide="adornmentData.backPlaneIpPoolName.id" layout="row" layout-align="space-between none">
                        <span> {{adornmentData.backPlaneIpPoolName.name}} </span>
                    </div>
                </div>
            </md-content>
        </section>
        <section>
            <md-subheader class="sub-header">Microservices
                <md-icon  ng-show="!editMisc && !editMgmt && !editBckPlane && !editMcrSer && !editVlan && is_update_dspec" class="edit" ng-click="editMicroServiceData(adornmentData)">edit</md-icon>
                <!-- <a ng-show="editMcrSer" style='float:right;' ng-click="editDeploySpec()"> Apply </a> -->
                <md-button class="md-icon-button apply" aria-label="Apply" ng-click="editDeploySpec('StorageHost')" ng-show="adornmentData.cloudType === 'OPENSTACK' && editMcrSer && (deploymentFormRegion.$valid) && (adornmentData.hostsWithName.length > 0)" style='float:right;  margin-top: -12px;'>
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Apply
                    </md-tooltip>
                    <md-icon>done</md-icon>
                </md-button>
                <md-button class="md-icon-button apply" aria-label="Apply" ng-click="editDeploySpec('StorageHost')" ng-show="adornmentData.cloudType !== 'OPENSTACK' && editMcrSer && (adornmentData.hostsWithName.length > 0)" style='float:right;  margin-top: -12px;'>
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Apply
                    </md-tooltip>
                    <md-icon>done</md-icon>
                </md-button>
                <md-button class="md-icon-button " aria-label="Discard" ng-show="editMcrSer" style='float:right; margin-top: -12px;' ng-click="discardChanges('StorageHost')">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Discard Changes
                    </md-tooltip>
                    <md-icon>clear</md-icon>
                </md-button>
            </md-subheader>
            <md-content class="content" layout="column" ng-show="!editMcrSer">
                <section ng-show="adornmentData.cloudType === 'OPENSTACK' && !editMcrSer">
                    <span class="section-header">Region</span>
                    <span class="section-text">{{adornmentData.region}}</span>
                    <!--</md-content>
                <md-content class="content" layout="column" ng-show="adornmentData.cloudType === 'OPENSTACK' && !editMcrSer"> -->
                    <span class="section-header">Tenants</span>
                    <span class="section-text">{{adornmentData.tenantName.name}}</span>
                </section>
                <!--</md-content>
            <md-content class="content" layout="column" ng-show="!editMcrSer">-->
                <span class="section-header">Hosts</span>
                <span class="section-text" ng-repeat="host in adornmentData.hostsWithName">{{host.name}}</span>
                <span class="section-header">Storage Location</span>
                <span class="section-text">{{adornmentData.datastoreName.name}}</span>
            </md-content>
            <md-content class="content" layout="column" ng-show="editMcrSer">
                <form name="deploymentFormRegion">
                    <md-input-container class="md-block" ng-show="adornmentData.cloudType === 'OPENSTACK' && editMcrSer">
                        <label>Region</label>
                        <input name='deploymentRegion' id="deploymentRegion" md-maxlength="40" ng-model="deployment.region" required>
                        <div ng-messages="deploymentFormRegion.deploymentRegion.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The region has to be less than 40 characters long.</div>
                        </div>
                    </md-input-container>
                </form>
                <section ng-show="adornmentData.cloudType === 'OPENSTACK' && editMcrSer">
                    <span class="section-header">Tenants
                        <md-icon style="float:right" class="md-accent md-hue-3 edit-button-icon" ng-click='callpopuptenants(tenants, deployment.tenantId, adornmentData.tenantName.name)' >edit</md-icon> 
                    </span>
                    <span class="section-text">{{adornmentData.tenantName.name}}</span>
                </section>
                <!--<md-input-container class="md-block" flex-gt-sm>
                    <label>Hosts</label>
                    <md-select ng-model="deployment.hosts" multiple aria-label='Hosts'>
                        <md-option ng-repeat="host in hosts" value="{{host.id}}">
                            {{host.name}}
                        </md-option>
                    </md-select>
                </md-input-container>-->
                <span class="section-header">Hosts
                <md-icon style="float:right" class="md-accent md-hue-3 edit-button-icon"  
                         ng-click = "callpopuphost(hosts, deployment.hosts, adornmentData.hostsWithName)" >edit</md-icon> 
                </span>
                <span class="section-text" ng-repeat="host in adornmentData.hostsWithName">{{host.name}}</span>
                <!--<md-input-container class="md-block" flex-gt-sm>
                    <label>Storages</label>
                    <md-select ng-model="deployment.storage" aria-label='Storages'>
                        <md-option ng-repeat="storage in storages" value="{{storage.id}}">
                            {{storage.name}}
                        </md-option>
                    </md-select>
                </md-input-container>-->
                <span class="section-header">Storage Location
                    <md-icon style="float:right" ng-show="adornmentData.cloudType !== 'OPENSTACK'" class="md-accent md-hue-3 edit-button-icon" ng-click='callpopupstorage(storages, deployment.storage, adornmentData.datastoreName.name)' >edit</md-icon> 
                </span>
                <span class="section-text">{{adornmentData.datastoreName.name}}</span>
            </md-content>
        </section>
        <section ng-if="vlandata != null">
            <md-subheader class="sub-header">Vlans
                <md-icon  ng-show="!editMisc && !editMgmt && !editBckPlane && !editMcrSer && !editVlan && is_update_dspec" class="edit" ng-click="editVlanServiceData(adornmentData)">
                    edit
                </md-icon>
                <md-button class="md-icon-button apply" aria-label="Apply" ng-click="vlanpoolDataUpdate(vlandata)" ng-hide="(vlanpoolForm.$invalid || !editVlan || invalidrangeformdata ) " style='float:right;  margin-top: -12px;'>
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Apply
                    </md-tooltip>
                    <md-icon>done</md-icon>
                </md-button>
                <md-button class="md-icon-button " aria-label="discard" ng-show="editVlan" style='float:right; margin-top: -12px;' ng-click="discardChanges('vlan')">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Discard Changes
                    </md-tooltip>
                    <md-icon>clear</md-icon>
                </md-button>
            </md-subheader>
            <md-content class="content" layout="column" ng-show="!editVlan">
                <!-- <a ng-href="/#/vlanPools/{{vlandata.id}}" class="link-to"> -->
                <!--  <a class="link-to"> -->
                <div layout="row" layout-align="space-between none">
                    <span> {{vlandata.name}} </span>
                </div>
                <!--    </a> -->
            </md-content>
            <md-content ng-show="editVlan" class="content" layout="column">
                <!-- <section ng-show = "editPool" class="vlanranges"> -->
                <form name="vlanpoolForm">
                        <md-input-container>
                            <label>VLAN Pool Name</label>
                            <input md-maxlength="40" name='poolName' ng-model="vlandata.name" required>
                            <div ng-messages="vlanpoolForm.poolName.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                            </div>
                        </md-input-container>
                        <span class="section-header">Ranges ({{vlandata.ranges.length}})</span>
                       
                </form>
                 <vlanranges ranges="vlandata.ranges" added="onRangeAdded(ranges)" deleted="onRangeDeleted(ranges)" ></vlanranges>
            </md-content>
        </section>
    </div>
</div>
