<!--SCREEN FOR ADDING DEPLOY SPEC-->
<md-dialog aria-label="Add Deployment Specification"  ng-cloak class="fullscreen-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>{{'wizardinfrastucture.heading.create_deployment_spec'| translate}}</h2>
            <span flex></span>
            <md-button class="md-accent md-raised modal-done-button" ng-click = "editDeploySpec()">
                Done
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name='deploymentForm' novalidate="true">
            <div class="md-dialog-content">
                <div layout-gt-sm="column">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{"wizardinfrastucture.placeholder.name"| translate}}</label>
                        <input 
                            md-maxlength="40"
                            name='deploymentName' 
                            ng-model="deployment.name" 
                            ng-pattern="/^[a-zA-Z0-9.-\s]*$/"
                            required>
                        <div ng-messages="deploymentForm.deploymentName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                            <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>

                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Infrastructure Connector</label>
                        <md-select ng-model="deployment.infrastructure" ng-disabled="true">
                            <md-option ng-repeat="cloud in clouds" value="{{cloud.id}}">
                                {{cloud.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <br/><br/>
                    <section class="microservice" style='background-color: #eeeeee; padding:25px;  margin:10px;'>
                        <section layout="row" flex class="dep-spec-col">
                            <div> Microservices </div>
                        </section>
                        <br/>
                        <section layout="row">
                            <section layout="column" flex class="dep-spec-col">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Storages</label>
                                    <md-select ng-model="deployment.storage">
                                        <md-option ng-repeat="storage in storages" value="{{storage.id}}">
                                            {{storage.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </section>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <section layout="column" flex class="dep-spec-col">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Hosts</label>
                                    <md-select ng-model="deployment.hosts" multiple>
                                        <md-option ng-repeat="host in hosts" value="{{host.id}}">
                                            {{host.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </section>                    
                        </section>

                        <br/><br/>
                    </section>

                    <section class="microservice" style='background-color: #eeeeee; padding:25px;  margin:10px;'>
                        <section layout="row" flex class="dep-spec-col">
                            <div> Management </div>
                        </section>
                        <br/>
                        <section layout="row">
                            <section layout="column" flex class="dep-spec-col">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Network</label>
                                    <md-select ng-model="deployment.managementNetwork">
                                        <md-option ng-repeat="network in networks" value="{{network.id}}">
                                            {{network.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </section>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <section layout="column" flex class="dep-spec-col">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>IP Pool</label>
                                    <md-select ng-model="deployment.managementIPPool">
                                        <md-option ng-repeat="pool in pools" value="{{pool.id}}">
                                            {{pool.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </section>                    
                        </section>

                        <br/><br/>
                    </section>

                    <section class="microservice" style='background-color: #eeeeee; padding:25px; margin:10px;'>
                        <section layout="row" flex class="dep-spec-col">
                            <div> Backplane </div>
                        </section>
                        <br/>
                        <section layout="row">
                            <section layout="column" flex class="dep-spec-col">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Network</label>
                                    <md-select ng-model="deployment.backplaneNetwork">
                                        <md-option ng-repeat="network in networks" value="{{network.id}}">
                                            {{network.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </section>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <section layout="column" flex class="dep-spec-col">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>IP Pool</label>
                                    <md-select ng-model="deployment.backplaneIPPool">
                                        <md-option ng-repeat="pool in pools" value="{{pool.id}}">
                                            {{pool.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </section>                    
                        </section>

                        <br/><br/>
                    </section>
                </div>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
