<md-dialog aria-label="List dialog" class="ip-host-dialog">
    <md-dialog-content>

        <div layout="column">
            <div layout="row" class="dialog-header">
                <h3>Designate Tenants</h3>
            </div>
            <div flex></div>
            <div class="search-container-box" layout="row" layout-align="space-between center">
                <div id="ip-config-dialog-network-count"><div class='fullCheck' >
                    {{tenants.length}} Tenants(s)
                </div>
		</div>
                <!-- <md-input-container id="ip-config-dialog-search-input">
                    <input ng-model="networkName" type="text">                     
                </md-input-container> 
                <i class="material-icons dialog-search-icon">search</i>  -->
                <div class="search-div">
                    <search datalist='tenants' searchconfig='{listname:"tenants", searchkeylocale: "!", key: "name"}' showicon='true'></search>
                </div>
                
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" class="ip-config-dialog-content">
        	<div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular ng-hide="!tenants_activated" class="md-accent" md-diameter="40"></md-progress-circular>
                </div>
                <md-radio-group ng-model="selectedTenantsValue">
                    <md-radio-button value="{{item.id}}" ng-repeat="item in tenants">{{item.name}}</md-radio-button>
                </md-radio-group>
        </div>
        <md-divider></md-divider>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-around">
            <span flex></span>
            <md-button class="md-accent md-hue-3 deployment-button" ng-click="cancelDialogue()">
                Cancel
            </md-button>
            <md-button class="md-accent md-raised deployment-button" ng-click="done()" style="color: #FFFFFF;">
                SELECT
            </md-button>
        </md-dialog-actions>
</md-dialog>