<section layout="row">
    <md-input-container class="md-block">
        <label>{{ 'wizard.ippool.range_start' | translate }}</label>
        <input required name="rangeStart" md-maxlength="20" ng-model="ipPoolData.newIPData.startRange" ng-pattern="/^[0-9.]*$/" />
        <div ng-messages="projectForm.rangeStart.$error" role="alert">
            <div ng-message-exp="required"> This is required. </div>
            <div ng-message-exp="max-length"> The start range has to be less than 20 characters long.. </div>
            <div ng-message="pattern">Only numbers and "." are allowed.</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block">
        <label>{{ 'wizard.ippool.range_end' | translate }}</label>
        <input required name="rangeEnd" md-maxlength="20" ng-model="ipPoolData.newIPData.endRange" ng-pattern="/^[0-9.]*$/" />
        <div ng-messages="projectForm.rangeEnd.$error" role="alert">
            <div ng-message-exp="['required']"> This is required. </div>
            <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
            <div ng-message="pattern">Only numbers and "." are allowed.</div>
        </div>
    </md-input-container> or
    <md-input-container class="md-block">
        <label>{{ 'wizard.ippool.cidr' | translate }}</label>
        <input required name="rangeEnd" md-maxlength="20" ng-model="ipPoolData.newIPData.cidr" ng-pattern="/^[0-9.]*$/" />
        <div ng-messages="projectForm.rangeEnd.$error" role="alert">
            <div ng-message-exp="['required']"> This is required. </div>
            <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
            <div ng-message="pattern">Only numbers and "." are allowed.</div>
        </div>
    </md-input-container>
</section>