<div layout="column">
    <div style="margin:24px;" ng-show="showDeleteTotalRuleButton">
        <span style="font-weight: bold;">{{groupInfo.name}}</span>
        <md-icon style="float:right;font-size: 18px; cursor:pointer;min-width: 18px;height: 18px; width: 18px; min-height: 18px; opacity:0.6;" ng-click="onDeleteTotalRule($event,ruleDesc)">delete</md-icon>
     </div>
    <form name="outerMainForm" novalidate="true" style="padding-left:35px;">
        <ng-form name="infrastructureForm">
        <section layout="row">
            <div style="top:15px; position: relative; left: -8px;width: 19px; font-size:14px;color: #6d6e71;">
                IF<br/>
                <md-icon style="margin-left: -3px; margin-top: 8px;opacity:0.6;font-size: 18px; cursor:pointer;" ng-click="onDeleteDescClicked(0)"
                         ng-show="ruleDesc.length > 1">delete</md-icon>
            </div>
            <md-input-container class="md-block" style="width: 280px; margin: 0px;">
                
                <label><span style="font-size: 16px;">&nbsp;</span></label>
                
                <md-select placeholder="Select" ng-change="updateCriteria(ruleDesc[0])" ng-model="ruleDesc[0].ruleAttribute" md-container-class="policy-control" style="margin:0px; width: 280px;min-height: 43px;" aria-label="policy-control" required name="ruleAttribute" ng-disabled="editstate">
                    <md-option ng-repeat="ra in ruleAttributes" ng-value="ra.id">
                        <div>
                            <md-icon ng-if="ra.icon" style="font-size: 18px; height: 18px; width: 18px; min-height: 18px; min-width: 18px; margin-right: 16px;">{{ra.icon}}</md-icon>
                            <md-icon ng-if="!ra.icon" style="font-size: 18px; height: 18px; width: 18px; min-height: 18px; min-width: 18px; margin-right: 16px;" md-svg-src="{{ra.svgpath}}"></md-icon>
                            <span style="color: #6d6e71; font-size: 16px;"></span><span>{{ra.name}}</span></div>
                    </md-option>
                </md-select>
            </md-input-container>
        </section>
        <md-input-container class="md-block" style="width: 280px; padding-left:20px;">
            <label><span style="font-size: 16px;">&nbsp;</span></label>
             
            <md-select placeholder="Select" ng-model="ruleDesc[0].matchingCritaria" md-container-class="policy-control" style="margin:0px;width: 280px;min-height: 43px;" aria-label="policy-control" required  name="matchingCritaria" >
            <!-- ng-selected="{{sc.id == 1}}" -->
                <md-option ng-repeat="sc in matchCritaria" ng-value="sc.id"  ng-disabled="ruleDesc[0].ruleAttribute == 1 && sc.id != 1">
                    <div>
                        <!-- <md-icon style="font-size: 16px; margin-top:10px;">{{sc.img}}</md-icon> -->
                        <md-icon style="font-size: 18px; height: 18px; width: 18px; min-height: 18px; min-width: 18px; margin-right: 16px;" md-svg-src="{{sc.img}}"></md-icon>
                        <span style="color: #6d6e71; font-size: 16px; "></span><span>{{sc.name}}</span>
                    </div>
                </md-option>
            </md-select>
             
        </md-input-container>
        <md-input-container class="md-block rule-name-in-orc" style="width: 280px;padding-left:20px;" ng-if="ruleDesc[0].ruleAttribute != 1">
            <label style="font-size: 16px;  padding-left:20px; font-weight: normal; font-style: normal;  font-stretch: normal; display:none; line-height: 1; color: #6d6e71;">&nbsp;</label>
            <input  style="width: 280px; font-size:16px;" placeholder="Name" name='infraIpFqdn' ng-pattern="/^[a-zA-Z0-9 _-]*$/" ng-model="ruleDesc[0].networkSpec" required>
            <div ng-messages="infrastructureForm.infraIpFqdn.$error" role="alert" >
                <div ng-message-exp="['required']">This is required. </div>
                <div ng-message="pattern"  class="error-style" > Not a valid format</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block rule-name-in-orc" style="width: 280px;padding-left:20px;" ng-if="ruleDesc[0].ruleAttribute == 1">
            <label style="font-size: 16px;  padding-left:20px; font-weight: normal; font-style: normal;  font-stretch: normal;  line-height: 1; color: #6d6e71;">&nbsp;</label> 
            <input  style="width: 280px;font-size:16px;" placeholder="CIDR" ng-model="ruleDesc[0].networkSpec" cidrvalidation name="cidr" md-maxlength="20" ng-pattern="/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$/" required/>
            <div ng-messages="infrastructureForm.cidr.$error" role="alert" >
                <div ng-message="invalidcidr">Invalid CIDR format</div>
                <div ng-message-exp="['required']">This is required. </div>
                <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
                <div ng-message="pattern"  class="error-style" > Not a valid CIDR  format</div>
            </div>
        </md-input-container>
        </ng-form>
    <!-- </form> -->
    <section ng-repeat="(key, rule) in ruleDesc" ng-if="key >= 1">
     <!-- <section > -->
        <!--<div style="position: relative;" ng-click="onDeleteDescClicked(key)">-->
<!--             <div style="position:absolute; right: 15px; top: -6px; cursor:pointer"><md-icon style="font-size: 16px; margin-left:10px;">delete</md-icon></div>--><!-- 
             <md-divider class="dashed-divder"> </md-divider> -->
            <div style="width:115%;text-align:center;position: relative;left: -25px;">
                <span style="width: 3%;display:inline;float:left;"><hr style="border:0; border-top: dashed 1px rgba(109, 110, 113, 0.4);"></span>
                <span style="color: #6d6e71;font-size:14px;display:inline;padding: 0 5px;float:left;">OR</span>
                <span style="width: 83%;display:inline;float:left;"><hr style="border:0; border-top: dashed 1px rgba(109, 110, 113, 0.4);"></span>
            </div>
        <!--</div>-->
        
        <!-- <form name="infrastructureForm" novalidate style="padding:24px 24px 0px 24px;"> -->
        <ng-form name="infrastructureForm" novalidate="true">
            <section layout="row" style="clear: both;">
                <div style="top:15px; color: #6d6e71;position: relative;left: -8px;width: 19px;font-size:14px;">
                    IF<br/>
                    <md-icon style="margin-left: -3px;margin-top: 8px; opacity:0.6;font-size: 18px;cursor:pointer;" 
                             ng-show="ruleDesc.length > 1"
                             ng-click="onDeleteDescClicked(key)">delete</md-icon>
                    
                </div>
                <md-input-container class="md-block" style="width: 280px; margin: 0px;">
                    
                    <label><span style="font-size: 16px;">&nbsp;</span></label>
                   
                    <md-select  placeholder="Select"  id="ruleattrib" ng-change="updateCriteria(rule)" ng-model="rule.ruleAttribute" md-container-class="policy-control" style="margin:0px; width: 280px;min-height: 43px;"  name="ruleAttribute" required >
                        <md-option ng-repeat="ra in ruleAttributes" ng-value="ra.id" ng-disabled="{{ (ruleDesc[0].ruleAttribute < 2 && ra.id != ruleDesc[0].ruleAttribute ) || (ruleDesc[0].ruleAttribute > 1 && ra.id < 2) }}">
                            <div>
                            <md-icon style="font-size: 18px; height: 18px; width: 18px; min-height: 18px; min-width: 18px; margin-right: 16px;">{{ra.icon}}</md-icon>
                            <span style="color: #6d6e71; font-size: 16px;"></span><span>{{ra.name}}</span></div>
                        </md-option>
                    </md-select>
                   
                     
                </md-input-container>
            </section>
            <md-input-container class="md-block" style="width: 280px; padding-left:20px;">
                
                <label><span style="font-size: 16px;">&nbsp;</span></label>
                
                <md-select placeholder="Select"  id="rulecritaria" ng-model="rule.matchingCritaria" md-container-class="policy-control" style="margin:0px;width: 280px;min-height: 43px;"  name="matchingCritaria" required>
                    <md-option ng-repeat="sc in matchCritaria" ng-value="sc.id" ng-disabled="rule.ruleAttribute == 1 && sc.id != 1">
                        <md-icon style="font-size: 18px; height: 18px; width: 18px; min-height: 18px; min-width: 18px; margin-right: 16px;" md-svg-src="{{sc.img}}"></md-icon>
                        <span style="color: #6d6e71; font-size: 16px; "></span><span>{{sc.name}}</span>
                    </md-option>
                </md-select>
                                
            </md-input-container>
            <md-input-container class="md-block" style="width: 280px;padding-left:20px;" ng-if="rule.ruleAttribute != 1">
                <label style="font-size: 16px;  padding-left:20px; font-weight: normal; font-style: normal;  font-stretch: normal; display:none; line-height: 1; color: #6d6e71;">&nbsp;</label>
                <input  style="width: 280px;font-size: 16px;" placeholder="Name" name='infraIpFqdn' ng-pattern="/^[a-zA-Z0-9 _-]*$/" ng-model="rule.networkSpec" required>
                <div ng-messages="infrastructureForm.infraIpFqdn.$error" role="alert" >
                    <div ng-message-exp="['required']">This is required. </div>
                    <div ng-message="pattern"  class="error-style" > Not a valid format</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" style="width: 280px;padding-left:20px;" ng-if="rule.ruleAttribute == 1">
                <label style="font-size: 16px;  padding-left:20px; font-weight: normal; font-style: normal;  font-stretch: normal;  line-height: 1; color: #6d6e71;">&nbsp;</label>
                <input ng-hide="rule.ruleAttribute != 1" style="width: 280px;" name='cidr' required cidrvalidation name="cidr" md-maxlength="20" ng-model="rule.networkSpec" placeholder="CIDR" ng-pattern="/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$/"  />
                <div ng-messages="infrastructureForm.cidr.$error" role="alert" >
                    <div ng-message="invalidcidr">Invalid CIDR format</div>
                    <div ng-message-exp="['required']">This is required. </div>
                    <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
                    <div ng-message="pattern"  class="error-style" > Not a valid CIDR  format</div>
                </div>
            </md-input-container>
        <!-- </section> -->
        </ng-form>
    </section>
    </form>
    <div layout="row" style="padding-left: 50px;;margin-bottom:24px;">
        <md-button class="md-accent md-icon-button" ng-disabled="{{ ruleDesc[0].ruleAttribute < 0}} " ng-click='addMoreRulesClicked($event,ruleDesc[0])' style="padding: 0; min-width: 23px; min-height: 34px; width: 20px; height: 20px;">
            <md-icon style="font-size: 18px; height: 18px; width: 18px; min-height: 18px; min-width: 18px;">add_circle_outline</md-icon>
        </md-button>
        <span style="padding-top: 10px; font-size:14px; color: #4a90e2;">OR</span>
    </div>
    <md-divider class="inset-divider"> </md-divider>
    <div style="position: relative; padding-left: 56px; margin-top: 23px;  margin-bottom: 24px;" layout="column">
        <div style="position:absolute; top: 8px; left: 24px;"><md-icon style="font-size: 18px; height: 18px; width: 18px; min-height: 18px; min-width: 18px;">group_work</md-icon></div>
        <span style="margin-top: 10px;  margin-bottom: 10px; font-size: 14px; font-weight: 500; color: #6d6e71;">PLACE INTO GROUP</span>
        <div ng-show = "(groupInfo.id !== '')" layout="row">
            <div style=" padding-top: 12px; width:120px;">{{groupInfo.name}}</div>
            <div style="padding-left: 149px; word-wrap: break-word;" ng-hide="configinfo.mode === 'edit_rc' ">
               <md-icon  style="font-size: 18px;cursor:pointer;" ng-click="showGropSelectionDialog($event)">edit</md-icon>
            </div>
        </div>
        <div ng-show = "(groupInfo.id === '')" layout="column">
            <md-button class="md-raised" ng-click="showGropSelectionDialog($event)" style=" font-weight: bold;font-weight: bold; background:transparent; color: #4a90e2; margin-left:0; border-color: #4a90e2; border: solid; border-width: thin; width: 77px; height: 28px; "> SELECT </md-button>
        </div>
    </div>
    <md-divider class="inset-divider"> </md-divider>
    <div ng-show="configinfo.showSps" style="position: relative; padding-left: 56px; margin-top: 23px;  margin-bottom: 24px;" layout="column">
      <div style="position:absolute; top: 8px; left: 24px;"><md-icon style="font-size: 18px; height: 18px; width: 18px; min-height: 18px; min-width: 18px;">security</md-icon></div>
       <span style="margin-top: 10px;  margin-bottom: 10px; color: #6d6e71;font-size: 14px;font-weight: 500;">ASSIGN SECURITY POLICY SET</span>
       <div ng-show = "(aspInfo.id !== '')" layout="row">
            <div style="font-weight: bold; width:120px; padding-top: 10px;"><!-- {{aspInfo.name}} -->
                <div layout="row" class="sps-policy-none-btn" ng-show="aspInfo.name === 'None' ">
                    <button style="margin-left:0;color: #fff;" class="none-name md-accent md-raised md-button md-ink-ripple md-button" type="button" aria-label="3">None</button>
                    <div class="bulb-icon" ng-click="helpButtonClicked('virtualchassis_not_insrted_wizard')">
                        <img src="images/Bulp.svg" alt="group" style="cursor:pointer;height: 18px; width: 18px;">
                    </div>
                </div>
                <span ng-show="aspInfo.name !== 'None'"> {{aspInfo.name}} </span>
            </div> 
            <div style="padding-left: 149px; word-wrap: break-word; " layout="row">
            <md-icon style="margin-right: 8px" ng-show="aspInfo.name !== 'None'" ng-click="cancelSPSSelectionDialog($event)">clear</md-icon>
               <md-icon style="font-size: 18px;cursor:pointer;"  ng-click="showSPSSelectionDialog($event,aspInfo.id)">edit</md-icon>
            </div>
        </div>
      <!--  <div ng-show = "(aspInfo.id === '')" layout="column">
            <md-button class="md-raised" ng-click="showSPSSelectionDialog($event)" style="font-weight: bold;font-weight: bold; color: #4a90e2;
      border-color: #4a90e2;   border: solid;  border-width: thin;width: 77px; height: 28px;"> SELECT </md-button>
         </div> -->
    </div>
    <div  ng-show = "configinfo.inlineMode">
        <md-divider class="inset-divider"> </md-divider>
        <div style="position: relative; padding-left: 56px; margin-top: 23px;  margin-bottom: 24px;" layout="column">
            <div style="position:absolute; top: 8px; left: 24px;">
                <md-icon style="font-size: 18px; height: 18px; width: 18px; min-height: 18px; min-width: 18px;">gps_fixed</md-icon>
            </div>
            <span style="margin-top: 10px;  margin-bottom: 10px; font-size: 14px; font-weight: 500; color: #6d6e71;">INLINE CONFIGURATION</span>
            <div layout="row">
                <md-checkbox 
                    name='inlineResourceGroup' 
                    ng-model="inline" 
                    ng-change="updateInline()" 
                    aria-label="Inline">
                    YES
                </md-checkbox>
            </div>
        </div>
    </div>
    <div>
        <md-divider class="inset-divider"> </md-divider>
        <div style="position: relative; padding-left: 56px; margin-top: 23px;  margin-bottom: 24px;" layout="column">
            <div style="position:absolute; top: 8px; left: 24px;">
                <md-icon style="font-size: 18px; height: 18px; width: 18px; min-height: 18px; min-width: 18px;">gps_fixed</md-icon>
            </div>
            <span style="margin-top: 10px;  margin-bottom: 10px; font-size: 14px; font-weight: 500; color: #6d6e71;">TRUNK MODE</span>
            <div layout="row">
                <md-checkbox 
                    name='trunkMode' 
                    ng-model="trunkMode" 
                    ng-change="toggleTrunk()"
                    ng-disabled = "inline"
                    aria-label="Trunk Mode">
                    YES
                </md-checkbox>
            </div>
        </div>
    </div>
    <!-- <md-input-container>
        <div>
            <md-checkbox 
                name='inlineResourceGroup' 
                ng-if="inlineModeAvailable"
                ng-model="rg.inline"  
                aria-label="Inline" 
                style="color: #6d6e71;">
                Inline
            </md-checkbox>
        </div>
    </md-input-container> -->
</div>
