<div layout="column">
    <quicksetupheader values='headerValues'></quicksetupheader>
    <section layout="row" flex-offset="10" id="quick-setup-ip-pool">
        <md-content flex layout-padding class="ip-pool-main-content content-height-fixer">
            <div class="qs-header-text-container">
                {{ 'wizard.ippool.main_header.backplane' | translate}} <md-icon class="icon-18 light-bulb" ng-click="helpButtonClicked('backplane_netw_help_wizard')" md-svg-src="images/Bulp.svg">lightbulb</md-icon>                
            </div>
            <div class="quick-setup-ipaddressing-content">
                <div layout="column" layout-align="space-around stretch">
                    <section>
                        <div class="ip-address-screen-element ip-address-screen-backpane-network">
                            {{ 'wizard.ippool.backpane_network' | translate }}
                        </div>
                        <section layout="row" class="ip-address-screen-element" style="margin-bottom: 32px;">
                            <div flex ng-if="ipPoolData.networkSelected.id == -1">
                                <md-button style="height: 48px; line-height: 1;" class="md-accent md-raised sel-management-button" ng-click='showBackPaneNetworkDialog($event)'> <md-icon class="icon-18">add_circle_outline</md-icon> {{ 'wizard.ippool.select_backpane_network.upper' | translate }}</md-button>
                            </div>
                            <div flex ng-if="ipPoolData.networkSelected.id != -1"> {{ipPoolData.networkSelected.name}}
                                <md-button class="ip-addressing-cross-button md-accent md-hue-3 orange-border" ng-click='showBackPaneNetworkDialog($event)'>
                                    <md-icon class="edit-button-icon">edit</md-icon>{{ 'wizard.ippool.edit' | translate }}
                                </md-button>
                            <div>                                    
                        </section>
                        <md-divider class="elem-width-large"></md-divider>
                        <div ng-show="cloudType !== 'OPENSTACK'">
                        <div class="ip-address-screen-element ip-address-screen-specify-ip-addressin">
                            <h4>{{ 'wizard.ippool.specify_ip_addressing_for_backplane_network' | translate }}</h4></div>
                        <md-content ng-controller="backPlaneIPAddressPanelCtr">
                            <div class="ip-address-management-network" layout="row">
                            <md-radio-group md-no-ink ng-model="selectedData" class="radio-selection-grp" layout="row" ng-click="radioClicked()">
                                <md-radio-button value="existing" ng-hide="cloudType === 'OPENSTACK'">{{ 'wizard.ippool.existing' | translate }}</md-radio-button>
                                <md-radio-button value="dhcp">{{ 'wizard.ippool.dhcp' | translate }}</md-radio-button>
                                <md-radio-button value="new" ng-hide="cloudType === 'OPENSTACK'" ng-click="setFocusOnElem('#IPPoolName')">{{ 'wizard.ippool.new' | translate }}</md-radio-button>  
                            </md-radio-group>
                            <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('ip_pools_help_wizard')" md-svg-src="images/Bulp.svg">lightbulb</md-icon> 
                            </div>
                            <section class="ip-pool-tabed-content ip-address-screen-element">
                                <div ng-if="selectedData == 'new'" class="animate-if">
                                    <section layout="column" ng-controller="backPlaneNewPageCtr">
                                        
                                            <form name="projectForm">
                                                <md-input-container class="md-block elem-width-medium">
                                                    <label>{{ 'wizard.ippool.name' | translate }}</label>
                                                    <input id="IPPoolName" autofocus md-maxlength="16" required name="name" ng-model="ipPoolData.newIPData.name" ng-pattern="/^[a-zA-Z0-9.-]*$/" />
                                                    <div ng-messages="projectForm.name.$error">
                                                        <div ng-message="required">This is required.</div>
                                                        <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>
                                                    </div>
                                                </md-input-container>

                                                <section layout="row" layout-align="space-between center" class="elem-width-medium">
                                                    <md-input-container class="md-block elem-width-small">
                                                        <label>{{ 'wizard.ippool.gateway' | translate }}</label>
                                                        <input required name="gateway" ng-model="ipPoolData.newIPData.gateway" md-maxlength="16" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" />
                                                        <div ng-messages="projectForm.gateway.$error" multiple>
                                                            <div ng-message="required"> This is required. </div>
                                                            <div ng-message="pattern" class="error-style">Not a valid IP format</div>
                                                        </div>
                                                    </md-input-container>
                                                    <md-input-container class="md-block elem-width-small">
                                                        <label>{{ 'wizard.ippool.mask' | translate }}</label>
                                                        <input required name="mask" ng-model="ipPoolData.newIPData.mask" netmaskvalidation />
                                                        <div ng-messages="projectForm.mask.$error" multiple>
                                                            <div ng-message="invalidnetmask" class="error-style" > Value of Netmask should be between 1-32 </div>
                                                        </div>
                                                    </md-input-container>
                                                </section>

                                                <!-- Ip Pool Range Start-->
                                                <section layout="column" ng-controller="backPlaneIPRangeCtr">
                                                    <section layout="row" layout-align="space-between center" class="elem-width-large">
                                                        <section layout="row" layout-align="space-between center" class="elem-width-medium">
                                                            <md-input-container class="md-block  elem-width-small">
                                                                <label>{{ 'wizard.ippool.range_start' | translate }}</label>
                                                                <input name="rangeStart" md-maxlength="20" ng-model="ipRangeRows[0].rangeStartValue" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-keydown="startIpRangeKeyDown($event,ipRangeRows[0])" ng-change="startIpRangeKeyDown($event,ipRangeRows[0])" ng-disabled="!ipRangeRows[0].rangeStartEnableState" />
                                                                <div ng-messages="projectForm.rangeStart.$error" role="alert">
                                                                    <div ng-message-exp="required"> This is required. </div>
                                                                    <div ng-message-exp="max-length"> The start range has to be less than 20 characters long.. </div>
                                                                    <div ng-message="pattern">Not a valid IP format</div>
                                                                </div>
                                                            </md-input-container>
                                                            <md-input-container class="md-block  elem-width-small">
                                                                <label>{{ 'wizard.ippool.range_end' | translate }}</label>
                                                                <input name="rangeEnd" md-maxlength="20" ng-model="ipRangeRows[0].rangeEndtValue" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-keydown="endIPRangeKeyDown($event,ipRangeRows[0])" ng-disabled="!ipRangeRows[0].rangeEndEnableState" ng-change="endIPRangeKeyDown($event,ipRangeRows[0])" />
                                                                <div ng-messages="projectForm.rangeEnd.$error" role="alert">
                                                                    <div ng-message-exp="['required']"> This is required. </div>
                                                                    <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
                                                                    <div ng-message="pattern">Not a valid IP format</div>
                                                                </div>
                                                            </md-input-container>
                                                        </section>
                                                        <section layout="row" layout-align="start center">
                                                            <div class="ip-pool-range-or-style"> or </div>
                                                            <md-input-container class="md-block  elem-width-small">
                                                                <label>{{ 'wizard.ippool.cidr' | translate }}</label>
                                                                <input cidrvalidation name="cidr" md-maxlength="20" ng-model="ipRangeRows[0].cidrValue" ng-pattern="/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$/" ng-keydown="cidrIPRangeKeyDown($event,ipRangeRows[0])" ng-change="cidrIPRangeKeyDown($event,ipRangeRows[0])" ng-disabled="!ipRangeRows[0].rangeCIDREnableState" />
                                                                <div ng-messages="projectForm.cidr.$error" role="alert">
                                                                    <div ng-message="invalidcidr">Invalid CIDR format</div>
                                                                    <div ng-message-exp="['required']"> This is required. </div>
                                                                    <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
                                                                    <div ng-message="pattern">Not a valid CIDR format</div>
                                                                </div>
                                                            </md-input-container>
                                                        </section>
                                                    </section>
                                                    <section ng-repeat="(key, iprange)  in ipRangeRows">
                                                        <section layout="row" ng-if="key > 0">
                                                            <section layout="row" layout-align="space-between center" class="elem-width-large">
                                                                <section layout="row" layout-align="space-between center" class="elem-width-medium">
                                                                    <md-input-container class="md-block elem-width-small">
                                                                        <label>{{ 'wizard.ippool.range_start' | translate }}</label>
                                                                        <input name="rangeStart{{key}}" md-maxlength="20" ng-model="iprange.rangeStartValue" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-disabled="!iprange.rangeEndEnableState" ng-change="startIpRangeKeyDown($event,iprange)" ng-keydown="startIpRangeKeyDown($event,iprange)" />
                                                                        <div ng-messages="createRangeStartMessage(projectForm, key)" role="alert">
                                                                            <div ng-message-exp="required"> This is required. </div>
                                                                            <div ng-message-exp="max-length"> The start range has to be less than 20 characters long.. </div>
                                                                            <div ng-message="pattern">Not a valid IP format</div>
                                                                        </div>
                                                                    </md-input-container>
                                                                    <md-input-container class="md-block elem-width-small">
                                                                        <label>{{ 'wizard.ippool.range_end' | translate }}</label>
                                                                        <input name="rangeEnd{{key}}" md-maxlength="20" ng-model="iprange.rangeEndtValue" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" ng-disabled="!iprange.rangeEndEnableState" ng-keydown="endIPRangeKeyDown($event,iprange)" ng-change="endIPRangeKeyDown($event,iprange)" />
                                                                        <div ng-messages="createRangeEndtMessage(projectForm, key)"  role="alert">
                                                                            <div ng-message-exp="['required']"> This is required. </div>
                                                                            <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
                                                                            <div ng-message="pattern">Not a valid IP format</div>
                                                                        </div>
                                                                    </md-input-container>
                                                                </section>
                                                                <section layout="row" layout-align="start center">
                                                                    <div class="ip-pool-range-or-style"> or </div>
                                                                    <md-input-container class="md-block elem-width-small">
                                                                        <label>{{ 'wizard.ippool.cidr' | translate }}</label>
                                                                        <input cidrvalidation name="cidr{{key}}" md-maxlength="20" ng-model="iprange.cidrValue" ng-pattern="/^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$/" ng-disabled="!iprange.rangeCIDREnableState" ng-keydown="cidrIPRangeKeyDown($event,iprange)" ng-change="cidrIPRangeKeyDown($event,iprange)" />
                                                                        <div ng-messages="createCIDRMessage(projectForm, key)" role="alert">
                                                                            <div ng-message="invalidcidr">Invalid CIDR format</div>
                                                                            <div ng-message-exp="['required']"> This is required. </div>
                                                                            <div ng-message-exp="max-length"> The end range has to be less than 20 characters long.</div>
                                                                            <div ng-message="pattern">Not a valid CIDR format</div>
                                                                        </div>
                                                                    </md-input-container>
                                                                </section>
                                                            </section>
                                                            <md-button class="md-icon-button md-primary md-hue-3" ng-click="deleteIPPool($event,iprange,key)" aria-label="delete" style="margin: auto 5px;">
                                                                <md-tooltip md-delay="250" md-direction="bottom"> Delete IP Pool Row </md-tooltip>
                                                                <md-icon style="font-size: 16px;">delete</md-icon>
                                                            </md-button>
                                                        </section>
                                                    </section>
                                                    <section>
                                                        <md-button class="md-accent md-hue-3" aria-label="add" ng-click="addNewIPRangeRow($event)" flex="20" style="text-transform: none;">
                                                            <md-icon style="font-size: 16px; height: 14px; width: 14px; min-height: 14px; max-height: 14px; margin-top: -4px;">add_circle_outline</md-icon>  Add another range or CIDR 
                                                        </md-button>
                                                        <div flex="80"></div>
                                                    </section>
                                                    <a id="bottom"></a>
                                                </section>
                                                <!-- Ip Pool Range End -->
                                                
                                            </form>                                       
                                    </section>
                                </div>
                                <div ng-if="selectedData == 'existing'" class="animate-if elem-width-large">
                                    <section layout="column" ng-controller="backPlaneExistingPageCtr">
                                        <md-progress-circular ng-hide="existingIPFetched" class="md-accent" md-diameter="40" style= "margin: auto;"></md-progress-circular>
                                        <div layout="row" layout-align="start center" class="existing-ip-row-header">
                                            <div flex="50">{{ 'wizard.ippool.existingippoolname' | translate }}</div>
                                        </div>
                                        <md-divider></md-divider>
                                        <div layout="column" class="section-existing-ip-pools">
                                            <md-radio-group ng-model="ipPoolData.existingIP">
                                                <md-radio-button value="{{ipPool.id}}" class="md-accent existing-ip-row" ng-repeat="ipPool in ipPools">
                                                    <div layout="row">
                                                        <div flex="50">{{ipPool.name}}</div>                            
                                                    </div>
                                                </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                        <md-divider></md-divider>
                                    </section>
                                </div>
                                <div ng-if="selectedData == 'dhcp'" class="animate-if">
                                    <div class="dhcp-content">IPs will be assigned automatically</div>
                                </div>
                            </section>
                        </md-content>
                        </div>
                        <div ng-show="cloudType === 'OPENSTACK'">
                        <div class="ip-address-screen-element ip-address-screen-specify-ip-addressin">
                            <h4>{{ 'wizard.ippool.specify_ip_addressing_for_backplane_network.openstack' | translate }}</h4></div>
                        <md-content ng-controller="managmentIPAddressPanelCtr">
                            <div  class="animate-if">  
                                <div class="">{{ 'wizard.ippool.dhcp.openstack' | translate }}</div>
                            </div>
                        </md-content>
                        </div>
                        
                    </section>
                    </div>
                    </div>
        </md-content>
       
    <!-- help panels [start] -->
   
     <helpcontainer contentid="active_help_id"  ></helpcontainer>
   
    <!-- help panels [end] -->

    </section>
    </div>