<div ui-view id="admin-infra-connector" class="admin-page" layout='row' layout-align="start stretch">
    <div class="left-panel content-height-fixer" flex layout="column" layout-align="space-between none"  style="margin:0 24px;">
        <md-toolbar layout="row" layout-align="space-between center" class="admin-toolbar" style="padding:0;">
            <div>
                VLAN Pools
            </div>
            <div class="control-tray" layout="row">
                <md-button ng-if="is_create_vlanPool" ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="add" ng-click="addVlanPool(infrastructres)" id="vlanAddNew">
                        <md-tooltip md-delay="250" md-direction="bottom">
                                Add New
                        </md-tooltip>
                        <md-icon>add_circle_outline</md-icon>
                </md-button>
                <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="refresh" ng-click="callCacheBurst()">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Refresh Data
                    </md-tooltip>
                    <md-icon>cached</md-icon>
                </md-button>
              <!--   <md-button class="md-icon-button md-primary md-hue-3 import" aria-label="import"  ng-disabled="true">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Import
                    </md-tooltip>
                    <md-icon>system_update_alt</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary md-hue-3 export" aria-label="export"  ng-disabled="true">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Export
                    </md-tooltip>
                    <md-icon>system_update_alt</md-icon>
                </md-button> -->
                <md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchBar($event)">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Search
                    </md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>
            </div>

        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select ng-model="selected"   md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column></th>
                        <th md-column><span>Infrastructure Connectors</span></th>
                        <th md-column><span>Name</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Ranges</span></th>
                    </tr>
                </thead>
                <tbody md-body> <!-- ng-show='vlanPoolData.length > 0' -->
                    <tr class="searchbar" ng-show="isSearchBarOpen">
                        <td></td>
                        <td><search datalist='vlanPoolData' searchconfig='{listname:"vlanPoolData", searchkeylocale: "!", key: "cloudName"}' showicon='false'></search></td>
                        <td><search datalist='vlanPoolData' searchconfig='{listname:"vlanPoolData", searchkeylocale: "!", key: "name"}' showicon='false'></search></td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}"><search datalist='vlanPoolData' searchconfig='{listname:"vlanPoolData", searchkeylocale: "!.rangeList", key: "length"}' showicon='false'></search></td>
                    </tr>
                    <tr md-row md-auto-select md-select="connection" md-select-id="name" ng-repeat="connection in vlanPoolData| limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-class="{highlighted : connection.active}">

                        <td md-cell class="button-cluster" ng-class="{show : hover}">
                            <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="info" ng-click="updateAdornmentPanel($event, connection)">
                                <md-tooltip md-delay="250" md-direction="bottom">
                                    Information
                                </md-tooltip>
                                <md-icon class="icon-18">info_outline</md-icon>
                            </md-button>
                            <md-button ng-if="is_delete_vlanPool" ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="delete" ng-click='deleteVlanPool(connection)'>
                                <md-tooltip md-delay="250" md-direction="bottom">
                                    Delete Pool
                                </md-tooltip>
                                <md-icon>delete</md-icon>
                            </md-button>
                        </td>
                        <td md-cell><span>{{connection.cloudName}}</span></td>
                        <td md-cell><span>{{connection.name}}</span></td>
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.rangeList.length}}</span></td>
                    </tr>
                </tbody>
                <!--<tbody md-body ng-show='vlanPoolData.length <= 0'>
                    <tr md-row md-auto-select >
                        <td colspan="100%" md-cell class="add-a-new-infra-msg">
                            No pools available.
                        </td>
                    </tr>
                </tbody>-->
            </table>
        </md-table-container>
        <div flex></div>
        <md-content layout="row" layout-align="space-between none" class="admin-footer">
            <!-- <section class="download-file" ><md-icon class="md-18">file_download</md-icon>Download Import Template</section> -->
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{(vlanPoolData.length) ? vlanPoolData.length : 0 }}" md-page-select>
            </md-table-pagination>
        </md-content>
    </div>
    <div class="adornment-panel" flex="25" ng-show="isAdornmentPanelOpen">
        <md-toolbar layout='row' class="md-primary md-hue-3">
            <md-button class="md-icon-button md-primary md-hue-2" aria-label="close" ng-click="toggleAdornmentPanel()">
                <md-icon>close</md-icon>
            </md-button>
            <span>Information</span>
        </md-toolbar>
        <md-subheader class="sub-header" id="detailsnRanges">Detail & Ranges <!--Miscellaneous-->
             <md-icon 
                ng-show = "!editPool && is_update_vlanPool"
                class="edit" 
                ng-click="updatePool(adornmentData)" id="editDetailsIcon" >
                edit
            </md-icon>
            <md-button class="md-icon-button apply" aria-label="Apply" ng-show="editPool && poolForm.$valid && adornmentData.rangeList.length > 0" ng-click="editPoolData(adornmentData)" style='float:right;  margin-top: -12px;' id="applyDetails">
                <md-tooltip md-delay="250" md-direction="bottom">
                    Apply
                </md-tooltip>
                <md-icon>done</md-icon>
            </md-button>
            <md-button class="md-icon-button " aria-label="discard" ng-show="editPool" style='float:right; margin-top: -12px;' ng-click="discardChanges()">
                <md-tooltip md-delay="250" md-direction="bottom" id="discardDetails">
                    Discard Changes
                </md-tooltip>
                <md-icon>clear</md-icon>
            </md-button>
        </md-subheader>
        <section ng-show = "!editPool">
            <md-content class="content" layout="column">
                <span class="section-header">VLAN Pool Name</span>
                <span class="section-text">{{adornmentData.name}} <span style="font-weight: bold; color: #13ce66;float:right"> {{adornmentData.networksWithName.length}} </span></span>
                <span class="section-header">Ranges ({{adornmentData.rangeList.length}})</span>
                <!--<span class="section-text">{{adornmentData.ranges}}</span>-->
                <md-content layout="column">
                    <md-content layout="row" class="section-header" style="font-size:13px; line-height: 1.23; color: #6d6e71; margin-bottom: 8px;">
                        <span class="headerLabelCol1" style="width:60px; margin-right: 154px">Start</span>
                        <span class="headerLabelCol1">End</span>
                    </md-content>
                    
                    <md-content layout="column" ng-repeat="vrange in adornmentData.rangeList" class="rangevalues">
                         <md-content layout="row" style="margin-bottom:33px;"> 
                            <span class="headerLabelCol1" style="width:60px; margin-right: 125px">{{vrange.start}}</span>
                            <span class="headerLabelCol1">{{vrange.end}}</span>
                         </md-content>
                    </md-content>
                    
                </md-content>
            </md-content>
        </section>

        <section ng-show = "editPool" class="vlanranges">
            <form name="poolForm">
                <md-content class="content" layout="column">  
                    <md-input-container>
                        <label>VLAN Pool Name</label>
                        <input 
                            md-maxlength="40"
                            name='poolName' 
                            ng-model="adornmentData.name"
                            id="vlanPoolName"
                            required >
                        <div ng-messages="poolForm.poolName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                        </div>
                    </md-input-container>
                    <span class="section-header">Ranges ({{adornmentData.rangeList.length}})</span>
                    <!--<span class="section-text">{{adornmentData.ranges}}</span>-->
                    <section style='max-height: {{rangeheight}}; overflow: auto;'>
                        <md-content layout="row" class="section-header" style="font-size:13px; line-height: 1.23; color: #6d6e71; margin-bottom: 8px;">
                            <span class="headerLabelCol1" style="width:60px; margin-right: 90px; padding-left:5px;">Start</span>
                            <span class="headerLabelCol1">End</span>
                        </md-content>
                        <div style='margin-top: 12px;' ng-repeat="(key, range) in adornmentData.rangeList" layour='column'>
                            <md-content layout="row"> 
                                <md-input-container style="width:105px;">
                                    <!--<label>Start</label>-->
                                    <input
                                        rangevalidation
                                        ng-pattern="/^[0-9]*$/"
                                        name='startrange{{key}}' 
                                        ng-model="range.start"
                                        required
                                        rangetype="start"
                                        id="vlanRangeStart{{key}}"
                                        rangecomp="{{range.end}}"
                                        >
                                    <div class="errors" ng-messages="createRangeStartMessage(poolForm, key)" >
                                     <div ng-message="invalidrange"> Invalid range. start range should be less than end range and value should be between 0 to 4094
                                       </div>
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="pattern">Only integers are allowed.</div>
                                    </div>
                                </md-input-container>
                                &nbsp; &nbsp;
                                <md-input-container style="width:105px;">
                                    <!--<label>End</label>-->
                                    <input
                                        rangevalidation 
                                        ng-pattern="/^[0-9]*$/"
                                        name='endrange{{key}}' 
                                        min = '{{range.start + 1 }}'
                                        ng-model="range.end"
                                        required
                                        rangetype="end"
                                        id="vlanRangeEnd{{key}}"
                                        rangecomp="{{range.start}}"
                                        >
                                    
                                    <div class="errors" ng-messages="createRangeEndMessage(poolForm, key)"  role="alert">
                                     <div ng-message="invalidrange"> Invalid range. start range should be less than end range and value should be between 0 to 4094
                                       </div>
                                        <div ng-message="required">This is required.</div>
                                        <div ng-message="min">The value should be greater than start value.</div>
                                        <div ng-message="pattern">Only integers are allowed.</div>
                                    </div>
                                </md-input-container>
                                &nbsp;&nbsp;
                                <md-button ng-hide="adornmentData.rangeList.length === 1" 
                                           class="md-primary md-hue-3 deletebtn"
                                           aria-label="Delete range list" 
                                           ng-click="deleterange(range, adornmentData)">
                                    <md-tooltip md-delay="250" md-direction="bottom">
                                        Delete range
                                    </md-tooltip>
                                    <md-icon style="font-size:18px;">delete</md-icon>
                                </md-button>
                            </md-content> 

                        </div>
                        <div layout="row">
                            <!--<md-button class="md-icon-button md-primary md-hue-3" aria-label="Add new range list" ng-click="addnewranges(adornmentData)">
                                <md-tooltip md-delay="250" md-direction="bottom">
                                    Add new range
                                </md-tooltip>
                                <md-icon>add_circle_outline</md-icon>
                                <span class="ng-scope"> Add new range </span> 
                            </md-button>-->
                            <button class="md-accent md-button flex-60" type="button" aria-label="add" ng-click="addnewranges(adornmentData)" flex="40" style="text-transform: none;">
                                <md-icon>
                                    add_circle_outline
                                </md-icon>
                                <span class="ng-scope"> Add Another Range </span>                            
                            </button>
                        </div>
                    </section>

                </md-content>
            </form>
        </section>
        
        <div flex></div>
        <md-subheader class="sub-header">Used by Deployment Specs   
        </md-subheader>
        <section>
            <md-content class="content" layout="column">
                <div ng-repeat="spec in adornmentData.deploy_spec_data" class="list">
                    <a ui-sref="home.deploymentSpecificationById({deploySpecId: spec.id})" class="link-to">
                        <div layout="row" layout-align="space-between none">
                            <span> {{spec.name}} </span>
                            <md-icon>keyboard_arrow_right</md-icon>
                        </div>
                    </a>
                </div>
            </md-content>
        </section>
    </div>
</div>