<section layout="column" style="height: 100%; width:100%;" >
    <div layout="row" layout-align="space-between center" style="min-height:64px" ng-hide="attributeDetailsView">
        <div layout="row" style="padding-left:24px;" layout-align="start center">
        <div ng-show="OrchestrationRulesText !== 'Orchestration Rules' ">
          <md-icon style="font-size: 17px;" md-svg-src="images/Bulp.svg">clear</md-icon>
        </div>
        <div style="font-family: Roboto; font-size: 20px; font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: #000000;">{{OrchestrationRulesText}}
<!--  <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin>keyboard_arrow_down</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="onOrchestrationRulesSelected()">
            Orchestration Rules
        </md-menu-item>
        <md-menu-item>
          <md-button disabled="disabled" ng-click="onWorkAttributesSelected()">
            Workload Attributes
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="onGuideSelected()">
              Guide
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>-->
        </div>
        </div>
        <!--<md-button class="md-icon-button md-primary md-hue-3" aria-label="help"><md-icon>help_outline</md-icon></md-button>-->
        <div ng-show="!isViewStateInitialScreenNoResourceGroup()">
            <md-button class="md-icon-button md-primary md-hue-3" ng-show="!editableMode && isGroupExits()" ng-click="editResourceGroup()">
                <md-icon style="font-size: 20px;">edit</md-icon>
            </md-button>
            <md-button ng-show="editableMode" class="md-accent" ng-click="applyResourceGroupChanges()" style="font-weight: bold;">Done</md-button>
        </div>
        <div ng-show="OrchestrationRulesText !== 'Orchestration Rules' ">
          <md-icon style="font-size: 17px;cursor:pointer;"  ng-click="returnToPreviousState()">clear</md-icon>
        </div>
          
    </div>
    <div layout="row" style="min-height: 52px;" layout-align="space-around center" ng-hide="attributeDetailsView || OrchestrationRulesText !== 'Orchestration Rules' ">
        <div layout="column" layout-align="space-around center"
             ng-click='setSandboxState(false)'
             ng-class='!sandboxMode ? "current-state-border" : "non-current-state-border"'
             style="height:100%; width:50%; outline:0;">
            <div class="state-header"
                 ng-class='!sandboxMode ? "current-state" : "non-current-state"'
                 style="padding-top:8px;">ACTIVE</div>
            <div class="state-sub-header non-current-state"style="padding-bottom:9px;">Default</div>
        </div>
        <div layout="column" layout-align="space-around center"
             ng-click='setSandboxState(true)'
             ng-class='sandboxMode ? "current-state-border" : "non-current-state-border"'
             style="height:100%; width:50%; outline:0;">
            <div class="state-header"
              style="padding-top:8px;"
              ng-class='sandboxMode ? "current-state" : "non-current-state"'>SANDBOX</div>
            <div style="padding-bottom: 9px;" ng-show="ruleChanged" class="state-sub-header non-current-state">Changes to Commit
                <md-icon style="font-size: 16px; min-height:16px;min-width:16px;height:16px;width:16px; cursor: pointer; color: rgba(0, 0, 0, .7);" ng-click="restorePreviousState()">restore</md-icon>  
            </div>
            <div ng-show="!ruleChanged"
              style="padding-bottom:9px;"
              class="state-sub-header non-current-state">Nothing to Commit</div>
        </div>
    </div>
    
    <md-content style="height:100%;"
                ng-class='sandboxMode ? "sandboxMode" : ""'>
        <section ng-controller="manageOrchestrationRuleCtr" style="height:100%; overflow-y: auto;overflow-x:hidden;">
            <div style="height:100%;" ng-show="isStateInitialNewRule()" layout="column" layout-align="space-between center">
                <div layout="column" layout-align="start center" ng-show="initEntityCount && sandboxMode && !notmixedtype"
                     style="padding:24px;width:100%">
                    <div style="margin-bottom:16px;"><img src="images/Bulp.svg" alt="group"></div>
                    <div style="text-align: center; margin-bottom:32px; font-size: 16px; font-weight: bold; line-height: 1.5; color: #000000;">
                        {{entityInitScreenMessage}}
                    </div>
                    <div style="text-align: center; color: rgba(0,0,0,.4);margin-bottom:32px;">
                        Create a rule based on this selection
                    </div>
                    <div>
                        <md-button ng-hide="configinfo.mode === 'edit_rc' " class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" ng-click="showCreateNewRule()" style="font-weight: bold;max-height: 36px;padding: 10px 16px !important;line-height: 0; margin-bottom:32px;"> CREATE RULE
                        </md-button>
                    </div>
                    <div style="text-align: center; color: rgba(0,0,0,.4);margin-bottom:24px;">
                        Or select more objects
                    </div>
                </div>
                <div layout="column" layout-align="start center" ng-show="initEntityCount && sandboxMode && notmixedtype"
                     style="padding:24px; border-bottom: 1px solid rgba(109, 110, 113, 0.2); width:100%">
                    <div style="margin-bottom:16px;"><img src="images/Bulp.svg" alt="group"></div>
                    <div style="text-align: center; margin-bottom:32px; font-size: 16px; font-weight: bold; line-height: 1.5; color: #000000;">
                        {{entityInitScreenMessage}}
                    </div>
                    <div style="text-align: center; margin-bottom:10px; font-size: 14px; font-weight: 500; line-height: 1.5; color: rgba(0,0,0,.4);">
                        It seems you might want to create a rule based on a network and additional workloads.
                    </div>
                    <div style="text-align: center; margin-bottom:10px; font-size: 14px; font-weight: 500; line-height: 1.5; color: rgba(0,0,0,.4);">
                        This version of ShieldX supports grouping objects of same type only
                    </div>
                    <div style="text-align: center; margin-bottom:10px; font-size: 14px; font-weight: 500; line-height: 1.5; color: rgba(0,0,0,.4);">
                        To select all the workloads in a network, use the dropdown menu on the network name, or click below.
                    </div>
                    <div>
                        <md-button ng-hide="configinfo.mode === 'edit_rc' " class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" ng-click="showCreateNewRuleMergeWorkload()" style="font-weight: bold;max-height: 36px;padding: 10px 16px !important;line-height: 0; margin-bottom:10px;"> CREATE RULE
                        </md-button>
                    </div>
                    <div style="text-align: center; color: rgba(0,0,0,.4);margin-bottom:24px;">
                        Or select more objects.
                    </div>
                </div>
                <!-- <div></div> -->
<!--                <div layout="column" 
                     layout-align="center start" style="margin-top:25px; width: 100%; border-bottom:1px solid rgba(109, 110, 113, 0.2); padding-bottom:24px;">
                    <div layout="row" layout-align="start center" style="margin-left:20px">
                        <div style="padding-right:20px" layout="column" layout-align="center center">
                            <div class="arrowup" >&nbsp;</div>
                            <div>--</div>
                            <div class="arrowdown">&nbsp;</div>
                        </div>
                        <div layout="column" layout-align="start start">
                            <div layout="row" layout-align="start center">
                                <div><img src="images/group.png"/></div>
                                <div style="padding-left:18px; font-size: 16px; font-weight: bold; line-height: 1.25;">
                                    Secured by ShieldX (Default)
                                </div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <div>
                                    <md-icon style="font-size: 16px; margin-top:10px;">share</md-icon>
                                </div>
                                <div style="padding-left:18px">
                                    <md-icon style="font-size: 16px; margin-top:10px;">drag_handle</md-icon>
                                </div>
                                <div>
                                    <span style="font-size: 16px;" class="active-link">???</span>
                                </div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <div>
                                    <img src="images/sps.png"/>
                                </div>
                                <div class='active-link' style="padding-left:18px">
                                    SPS-Default
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:95%">
                        <md-button class="md-accent md-raised md-button md-ink-ripple wl-count" 
                                   style="font-weight: bold; height: 32px; border-radius: 32px; margin-left: 35px;
                                   background-color: #ffc030; color: #fff;">
                            <md-icon md-svg-src="images/ic_layers_white.svg"></md-icon>
                            987654
                        </md-button>
                        <div ng-show="sandboxMode ? true : false" class="rule-state">
                            <md-switch ng-disabled="sandboxMode ? false : true" aria-label="Disabled switch">
                            </md-switch>
                        </div>
                    </div>
                </div>-->
                <div id="help-instruction" 
                     layout="column" layout-align="space-between center" ng-show="initEntityCount === 0 || !sandboxMode"
                     style="padding:24px;padding-bottom:0px;height:100%;color:#6d6e71;text-align: left;">
                     <div layout="column" layout-align="space-between start">
                        <div style="margin-bottom:16px;text-align: center;width: 100%;">
                            <img src="images/Bulp.svg" alt="group">
                        </div>
                        <div style="margin-bottom:32px;">
                            Secure the <span class="active-link">workloads</span> connected to your networks by grouping them according to similar security needs
                        </div>
                        <div style="margin-bottom:32px;">
                            Create <span class="active-link">groups</span> by creating <span class="active-link">orchestration rules</span>.
                        </div>
                        <div style="margin-bottom:32px;">
                            ‘Create New Rule’ will guide you in defining rules to dynamically group and secure workloads in data plane VC-TEST-001.
                        </div>
                        <div class="active-link" style="margin-bottom:24px;">
                            LEARN MORE
                        </div>
                    </div>
                    <!-- <div style="margin-bottom:32px;">
                        <md-icon style="font-size: 32px;">arrow_downward</md-icon>
                    </div> -->
                    <!-- <div> -->
                        <!-- <md-button ng-hide="configinfo.mode === 'edit_rc' " class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" ng-click="onCreateNewRuleClicked()" style="font-weight: bold;height: 42px;">CREATE NEW RULE</md-button> -->
                        <div class="rule-button-set" style="margin-bottom:15px;width: 100%;" layout="row">
                          <div layout="column" layout-align="end center">
                            <md-button ng-hide="configinfo.mode === 'edit_rc' " class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" ng-click="onCreateNewRuleClicked()" style="box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);font-weight: bold;max-height: 36px;padding: 5px 60px !important;line-height: 0;"> CREATE NEW RULE
                            </md-button>
                          </div>
                          <div layout="column" layout-align="end center">
                           <!--  <md-button class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" style="max-height: 36px;line-height: 0;padding: 5px 11px !important;min-width: 0px;margin-right: -10px;" ng-click="showgroupPopup($event)" >
                              <md-icon style="color:#ffffff;">group_work</md-icon>
                            </md-button>
                            <span class="badge bg-info-red" style="position:relative;bottom:18px;right:5px;">{{groupData.length}}</span> -->
                            <md-menu class="external-internal" style="padding:0;">
                                <div aria-label="Sample Menu" class="md-accent  tomato-button group-work-btn" ng-click="$mdOpenMenu($event)">
                                <md-icon md-menu-origin class="icon-18 material-icons">group_work
                                    <md-tooltip md-direction="top">
                                        Sample Rules
                                    </md-tooltip>
                                </md-icon>
                             </div>
                             <md-menu-content width="5">
                                <md-menu-item role="menuitem">
                                   <div class="sample-rules" layout="row" class="ng-scope layout-row">
                                        <p flex="" class="ng-binding flex">
                                            Sample Rules
                                        </p>
                                      </div> 
                                </md-menu-item>
                                <md-menu-item ng-model="itemClicked" ng-repeat="(key, item)  in ['Add rule to group all external traffic', 'Add rule to group all internal traffic']">
                                   <md-button ng-click="clickToCreateextOrIntRule(key)">
                                      <div layout="row">
                                         <p flex>{{item}}</p>
                                      </div>
                                   </md-button>
                                </md-menu-item>
                             </md-menu-content>
                            </md-menu>
                          </div>
                        </div>
                    <!-- </div> -->
                </div>
                <div layout="column" layout-align="end center" ng-show="(initEntityCount !== 0 || rulesArray.length) && sandboxMode" style="padding:24px;">
                    <md-button ng-hide="configinfo.mode === 'edit_rc' " ng-click="onCreateNewRuleClicked()" class="md-accent md-raised begin-setup-button md-button md-ink-ripple" style="font-weight: bold;max-height: 36px;padding: 10px 16px !important;line-height: 0;     background-color: #fff ;  color: #4a90e2 !important; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);"> CREATE NEW RULE
                    </md-button>
                </div>
            </div>
            <section id="create-new-rule" ng-show="isStateCreateNewRule()" style="width:100%;">
                <div layout="column">
                    <div style="font-family: Roboto; font-size: 16px; font-weight: 600; font-style: normal;  font-stretch: normal;
  color: #000000; padding-left:24px; padding-top:24px; padding-bottom:24px;">New Rule</div>
                    <orchestrationrule editstate="isStateEditRules()" configinfo="configinfo" orcloudid="seccloudid" ortenantid="sectenantid" rule="newSoRule" broadcastevent="broadcastRightSOREvents(event,args)" style="margin-bottom: 62px;"> </orchestrationrule>
                    <section layout="row" class="orc-rule-cancel-save-buttons"  style="padding: 8px;justify-content: space-between;bottom: 62px; position:fixed;width:342px; background:#fffdf1;z-index:70;border-top: solid 1px rgba(0,0,0,0.12);">
                        <md-button class=" tomato-button begin-setup-button md-button md-ink-ripple" ng-click="onCancelClicked()" style="font-family: Roboto; font-size: 14px; font-weight: 600; font-style: normal; height: 36px; border-radius: 2px; line-height:1; font-stretch: normal; letter-spacing: 0.5px; text-align: justify; color: #4a90e2 !important; margin-right: 20px;">CANCEL</md-button>
                        <md-button class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" ng-click="onCreateRuleClicked()" ng-disabled="disableSave || invalidForm" style="font-family: Roboto; font-size: 14px; font-weight: 600; font-style: normal; height: 36px; border-radius: 2px; line-height:1; font-stretch: normal; letter-spacing: 0.5px; text-align: justify; color: #4a90e2; ">CREATE</md-button>
                    </section>
            </section>
            <section id="edit-rule" ng-show="isStateEditRules()" style="width:100%;">
                <orchestrationrule editstate="isStateEditRules()" configinfo="configinfo" rule="inmemoryRule" orcloudid="seccloudid" ortenantid="sectenantid" broadcastevent="broadcastRightSOREvents(event,args)" style="margin-bottom: 62px;"> </orchestrationrule>
                <section layout="row" style="padding-left: 112px; padding-top: 8px;padding-bottom: 8px;bottom: 62px; position:fixed;width:342px; background:#fffdf1;z-index:70;border-top: solid 1px rgba(0,0,0,0.12);">
                    <md-button class=" tomato-button begin-setup-button md-button md-ink-ripple" ng-click="onCancelEditClicked()" style="height: 36px; border-radius: 2px; line-height:1;font-family: Roboto; font-size: 14px; font-weight: 600; font-style: normal;  font-stretch: normal; letter-spacing: 0.5px; text-align: justify; color: #4a90e2 !important; margin-right: 20px;">CANCEL</md-button>
                    <md-button class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" ng-click="onSaveRuleClicked()" style="font-family: Roboto; font-size: 14px; font-weight: 600; font-style: normal;  font-stretch: normal; letter-spacing: 0.5px; text-align: justify; color: #4a90e2; height: 36px; border-radius: 2px; line-height:1;"  >SAVE</md-button>
                </section>
            </section>
            <section id="show-existing-rules" ng-show="isStateListRules()" style="width:100%; height:100%; overflow: hidden;" ng-controller="listRulesCtr" layout="column" class="rules-list-based-on-selection">
                <div class="got-it-commit-rule-fixed-header">
                    <md-button class="md-accent md-raised modal-done-button" ng-click="onCommitButtonClicked()" 
                               ng-show="sandboxMode &&  $parent.ruleChanged"
                               style="font-weight: bold;font-weight: bold; color: #4a90e2;   border-color: #4a90e2; margin: 16px;  border: solid;  border-width: thin;width: 328px;height: 36px;">{{commitButtonText}}  &nbsp;
                        <md-progress-circular  ng-show="showGroupCreationProgress"  class="md-hue-4" md-diameter="10px"></md-progress-circular> 
                    </md-button>
                </div>
                <orchestrationrulelist flex rules="rulesArray" broadcastevent="broadcastRightSOREvents(event,args)" configinfo="configinfo" class="rules-list-strips"></orchestrationrulelist>

                <div class="rule-button-set"  layout="row" layout-align="center end" ng-hide="configinfo.mode === 'edit_rc'" style="margin-bottom:15px;width: 100%;">
                  <!--<div style="float:left;">-->
                    <md-button  class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" ng-show="sandboxMode" ng-click="onCreateNewRuleClicked()" style="font-weight: bold;max-height: 36px;padding: 5px 70px !important;line-height: 0;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);"> CREATE NEW RULE
                    </md-button>
                    <md-button  class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" ng-show="!sandboxMode" ng-click="onCreateNewRuleClicked()" style="font-weight: bold;max-height: 36px;padding: 5px 20px !important;line-height: 0;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);"> CREATE NEW RULE IN SANDBOX
                    </md-button>
                  <!--</div>-->
                  <div style="float:right;">
                   <!--  <md-button class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" style="max-height: 36px;line-height: 0;padding: 5px 11px !important;min-width: 0px;margin-right: -10px;" ng-click="showgroupPopup($event)" >
                      <md-icon style="color:#ffffff;">group_work</md-icon>
                    </md-button>
                    <span class="badge bg-info-red" style="position:relative;bottom:18px;right:5px;">{{groupData.length}}</span> -->
                    <md-menu class="external-internal" ng-show="!sandboxMode" >
                         <div aria-label="Sample Menu" class="md-accent  tomato-button group-work-btn" ng-click="$mdOpenMenu($event)">
                            <md-icon md-menu-origin class="material-icons icon-18">group_work
                                <md-tooltip md-direction="top">
                                    Sample Rules
                                </md-tooltip>
                            </md-icon>
                         </div>
                         <md-menu-content width="5">
                            <md-menu-item role="menuitem">
                               <div class="sample-rules" layout="row" class="ng-scope layout-row">
                                    <p flex="" class="ng-binding flex">
                                        Sample Rules
                                    </p>
                                  </div> 
                            </md-menu-item>
                            <md-menu-item ng-model="itemClicked" ng-repeat="(key, item)  in ['Add rule to group all external traffic', 'Add rule to group all internal traffic']">
                               <md-button ng-click="clickToCreateextOrIntRule(key)">
                                  <div layout="row">
                                     <p flex>{{item}}</p>
                                  </div>
                               </md-button>
                            </md-menu-item>
                         </md-menu-content>
                    </md-menu>
                    <md-menu class="external-internal" ng-show="sandboxMode" >
                         <div aria-label="Sample Menu" class="md-accent  tomato-button group-work-btn" ng-click="$mdOpenMenu($event)">
                            <md-icon md-menu-origin class="icon-18 material-icons">group_work
                                <md-tooltip md-direction="top">
                                    Sample Rules
                                </md-tooltip>
                            </md-icon>
                         </div>
                         <md-menu-content width="5">
                            <md-menu-item role="menuitem">
                                <div class="sample-rules" layout="row" class="ng-scope layout-row">
                                    <p flex="" class="ng-binding flex">
                                        Sample Rules
                                    </p>
                                </div> 
                            </md-menu-item>
                            <md-menu-item ng-model="itemClicked" ng-repeat="(key, item)  in ['Add rule to group all external traffic', 'Add rule to group all internal traffic']">
                               <md-button ng-click="clickToCreateextOrIntRule(key)">
                                  <div layout="row">
                                     <p flex>{{item}}</p>
                                  </div>
                               </md-button>
                            </md-menu-item>
                         </md-menu-content>
                    </md-menu>
                  </div>
                </div>
            </section>
            <section id="guid" ng-show="isStateGuid()" style="width:100%;" ng-controller="guidCtr">
                <!-- <div layout="row" layout-align="end end"> 
                    <div><md-icon style="font-size: 17px;"  ng-click="returnToPreviousState()">clear</md-icon></div>
                </div> -->
                <div ng-include="helpContentURL" style="padding-left: 24px;padding-right: 24px;" height="{{fixHelpContentHeight()}}" class="help-content"></div>
            </section>
            <section id="workload" ng-show="isStateWorkload()" style="width:100%;" ng-controller="workLoadCtr">
            </section>
            <section id="objectattribute" ng-show="isObjectAttribute()" ng-controller="objectAttributeCtr" style="background-color: rgba(255, 249, 219, 0.4); width:100%; height:90%">
                <div style="font-size: 20px;font-weight: 500;font-size: 20px;font-weight: 500; padding: 24px; border-bottom: 1px solid rgba(109, 110, 113, .2); background-color: #fff;">
                    <md-icon ng-click="restorePreAttributeSession()">keyboard_backspace</md-icon> Object Attributes
                </div>
                <div layout="column" layout-align="space-between center">
                    <div layout="column" layout-align="start start" style="width:100%;padding: 24px;">
                        <div ng-show="attributeType === 'WORKLOAD'" 
                             class="attribute-container">
                            <div class="attribute-title">
                                Workload
                            </div>
                            <div class="attribute-value">
                                {{attributeSrceenDetails.name}} 
                                <md-icon style="font-size: 20px; color: #4990e2;" ng-click="createRuleByplay({selectedEntities: [attributeSrceenDetails], type: 'WORKLOAD'})">
                                    play_circle_filled
                                </md-icon>
                            </div>
                        </div>
                        <div class="attribute-container">
                            <div class="attribute-title">
                                Network
                            </div>
                            <div class="attribute-value">
                                {{networkData.name}}
                                <md-icon style="font-size: 20px; color: #4990e2;" ng-click="createRuleByplay({selectedEntities: [networkData], type: 'NETWORK'})">
                                    play_circle_filled
                                </md-icon>
                            </div>
                        </div>
                        <div class="attribute-container">
                            <div class="attribute-title">
                                Tenant 
                            </div>
                            <div class="attribute-value">
                                {{tenant.name}}
                            </div>
                        </div>
                        <div ng-show="attributeSrceenDetails.groupInfo" class="attribute-container">
                            <div class="attribute-title">
                                Member of Group
                            </div>
                            <div class="attribute-value">
                                {{attributeSrceenDetails.groupInfo.name}}
                            </div>
                        </div>
                        <div ng-show="attributeSrceenDetails.aspInfo" class="attribute-container">
                            <div class="attribute-title">
                                Security Policy Sets (SPS)
                            </div>
                            <div class="attribute-value">
                                {{attributeSrceenDetails.aspInfo.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div  ng-show="isObjectAttribute()" layout="column" layout-align="space-between center" style="background-color: rgba(255, 249, 219, 0.4);">
                    <md-button  class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" ng-show="sandboxMode" ng-click="onCreateNewRuleClicked()" style="font-weight: bold;max-height: 36px;padding: 5px 70px !important;line-height: 0;"> CREATE NEW RULE
                    </md-button>
                    <md-button  class="md-accent md-raised tomato-button begin-setup-button md-button md-ink-ripple" ng-show="!sandboxMode" ng-click="onCreateNewRuleClicked()" style="font-weight: bold;max-height: 36px;padding: 5px 20px !important;line-height: 0;"> CREATE NEW RULE IN SANDBOX
                    </md-button>
            </div>
        </section>
    </md-content>
    </section>
