<!--SCREEN FOR ADDING DEPLOY SPEC-->
<md-dialog aria-label="Add Deployment Specification"  ng-cloak class="fullscreen-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancelDialogue()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>Create new VLAN Pool</h2>
            <span flex></span>
            <md-button class="md-accent md-raised modal-done-button" ng-disabled="poolForm.$invalid" ng-click = "done()">
                Add
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <section layout="row" flex flex-offset="10">
            <md-content class="content-height-fixer" flex layout-padding="" layout="column" layout-align="start" >
            <section>
                <div style="width:608px;">
                    <form name='poolForm' novalidate="true">
                    <div class="md-dialog-content">
                        <div layout="column">
                            <md-input-container class="md-block">
                                <label>
                                    Name this VLAN Pool
                                </label>
                                <input
                                    md-autofocus
                                    md-maxlength="40"
                                    name='deploymentName' 
                                    ng-model="vlanPoolObject.name" 
                                    ng-pattern="/^[a-zA-Z0-9.-]*$/"
                                    required>
                                <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('admin_deploy_components_add_vlan_pool_help')" style="padding-left:10px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
                                <div ng-messages="poolForm.deploymentName.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                                    <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>

                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Infrastructure Connector</label>
                                <md-select name='infrastructure' ng-model="vlanPoolObject.cloud" required>
                                    <md-option ng-repeat="cloud in clouds" value="{{cloud}}">
                                        {{cloud.name}}
                                    </md-option>
                                </md-select>
                                <div class="errors" ng-messages="poolForm.infrastructure.$error" >
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            
                            <div style='margin-top: 12px;' ng-repeat="(key, range) in vlanPoolObject.rangeList" layour='column'>
                                <md-content layout="row"> 
                                    <md-input-container>
                                        <label>Range Start</label>
                                        <input rangevalidation
                                            ng-pattern="/^[0-9]*$/"
                                            name='startrange{{key}}' 
                                            ng-model="range.start"
                                            required
                                            rangecomp="{{range.end}}"
                                            rangetype="start"
                                            >
                                        <div class="errors" ng-messages="createRangeStartMessage(poolForm, key)" >
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="pattern">Only numbers are allowed.</div>
                                            <div ng-message="invalidrange" style="opacity: 1;  margin-top: 0px;"> Invalid range. Start range should be less than end range and value should be between 0 to 4094
                                           </div>
                                        </div>
                                    </md-input-container>
                                    &nbsp; &nbsp;
                                    <md-input-container>
                                        <label>Range End</label>
                                        <input
                                            rangevalidation 
                                            ng-pattern="/^[0-9]*$/"
                                            name='endrange{{key}}' 
                                            min = '{{range.start + 1 }}'
                                            ng-model="range.end"
                                            required
                                            rangecomp="{{range.start}}"
                                            rangetype="end"
                                            >
                                        <div class="errors" ng-messages="createRangeEndMessage(poolForm, key)" >
                                      <div ng-message="invalidrange" style="opacity: 1;  margin-top: 0px;"> Invalid range. Start range should be less than end range and value should be between 0 to 4094
                                            </div>
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="min">The value should be greater than start value.</div>
                                            <div ng-message="pattern">Only numbers are allowed.</div>
                                        </div>
                                    </md-input-container>
                                    &nbsp;&nbsp;
                                    <md-button ng-hide="vlanPoolObject.rangeList.length === 1" class="md-icon-button md-primary md-hue-3" aria-label="Delete range list" ng-click="deleterange(range, vlanPoolObject)">
                                        <md-tooltip md-delay="250" md-direction="bottom">
                                            Delete range
                                        </md-tooltip>
                                        <md-icon>delete</md-icon>
                                    </md-button>
                                </md-content> 

                            </div>
                            <div layout="row">
                                <!--<md-button class="md-icon-button md-primary md-hue-3" aria-label="Add new range list" ng-click="addnewranges(adornmentData)">
                                    <md-tooltip md-delay="250" md-direction="bottom">
                                        Add new range
                                    </md-tooltip>
                                    <md-icon>add_circle_outline</md-icon>
                                    <span class="ng-scope"> Add new range </span> 
                                </md-button>-->
                                <button class="md-accent md-button flex-30" type="button" aria-label="add" ng-click="addnewranges(vlanPoolObject)" flex="40" style="text-transform: none;">
                                    <md-icon>
                                        add_circle_outline
                                    </md-icon>
                                    <span class="ng-scope"> Add Another Range </span>                            
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </section>  
            </md-content>
        <helpcontainer contentid="active_help_id" ></helpcontainer>
        </section>
    </md-dialog-content>
</md-dialog>
