<md-dialog aria-label="Add Server Profile"  ng-cloak class="fullscreen-dialog">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>Add Syslog Server Profile</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content style="padding:10px;">
        <section class="elem-width-large" layout="row" style="margin: 0 auto;">

            <form name='serverProfileForm' class="server-profile-form">

            <div class="md-dialog-content" >
                <div layout="column">

                    <div>
                        <md-input-container class="md-block elem-width-large">
                            <label>Tenant</label>
                            <md-select name='tenant' ng-model="serverprofile.tenantId" ng-change="" required>
                                <md-option ng-repeat="tenant in tenants" value="{{tenant.id}}" >
                                    {{tenant.name + " (" + tenant.cloudName + ")"}}
                                </md-option>
                            </md-select>
                            <div ng-messages="serverProfileForm.tenant.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div>
                        <md-input-container class="md-block elem-width-large">
                            <label>Server Profile Name</label>
                            <input autofocus md-maxlength="100" name='profileName' id="profilename" ng-model="serverprofile.serverProfileName" ng-pattern="/^[a-zA-Z0-9.-]*$/" required>
                            <div ng-messages="serverProfileForm.profileName.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The name has to be less than or equal to 100 characters long.</div>
                                <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div>
                        <md-input-container class="md-block elem-width-large">
                            <label>Target Server IP or FQDN</label>
                            <input md-maxlength="100" name='targetServerIP' id="ip" ng-model="serverprofile.serverFqdnOrIp" ng-pattern="/^[a-zA-Z0-9.-]*$/" required>
                            <div ng-messages="serverProfileForm.targetServerIP.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The name has to be less than or equal to 100 characters long.</div>
                                <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div>
                        <md-input-container class="md-block elem-width-large">
                            <label>Port</label>
                            <input placeholder="514" md-maxlength="4" name='Port' id="port" ng-model="serverprofile.port" ng-pattern="/^[a-zA-Z0-9.-]*$/" required>
                            <div ng-messages="serverProfileForm.Port.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="md-maxlength">The name has to be less than or equal to 100 characters long.</div>
                                <div ng-message="pattern">Only alphanumeric, ".", "-" are allowed.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div>
                        <md-input-container class="md-block elem-width-large">
                            <label>Protocol</label>
                            <md-select name='protocol' ng-model="serverprofile.protocol" required>
                                <md-option ng-repeat="protocol in protocoltypes.protocols" value="{{protocol.value}}">
                                    {{protocol.name}}
                                </md-option>
                            </md-select>
                            <div ng-messages="serverProfileForm.protocol.$error" role="alert">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div ng-if="serverprofile.protocol == '1'">
                        <md-content class="md-block">
                            <div layout="column">
                            <md-checkbox
                                ng-model="serverprofile.usessl"
                                aria-label="ssl">
                                Use SSL
                            </md-checkbox>
                            </div>
                        </md-content>

                        <div ng-show="serverprofile.usessl">
                            <section layout="row" layout-align="space-between stretch" style="padding-bottom: 20px;">
                                <label class="uploadbutton single-col-component elem-width-large"
                                       style="position:relative; padding-bottom: 9px"
                                       >
                                    <div class="button">Browse</div>
                                    <div class='input-file-text'>{{fileInputText}}</div>
                                    <input
                                        class="input-file"
                                        type="file"
                                        file-model="serverprofile.certFile"
                                        aria-label="Syslog keys"
                                        onchange="angular.element(this).scope().fileNameChanged(this)"
                                        />
                                </label>
                            </section>

                            <!--
                            <section layout="row" layout-align="space-between stretch">
                                <label>&nbsp;</label>
                                <md-button class="md-accent upload-ssl-keys-buttom md-raised modal-done-button md-button md-ink-ripple fullRowButton"
                                           ng-click = "importSyslogServerKeys()"
                                           ng-disabled="!serverprofile.certFile">
                                    Import
                                </md-button>
                            </section>
                            -->
                        </div>
                    </div>

                    <section layout="row" layout-align="end end">
                        <label>&nbsp;</label>
                        <md-button class="md-accent smb-test-botton md-raised modal-done-button md-button md-ink-ripple fullRowButton"
                                   ng-click = "testConnection()"
                                   ng-disabled = "!(serverprofile.serverProfileName && serverprofile.serverFqdnOrIp && serverprofile.port)">
                            Test Connection
                        </md-button>
                        <md-button class="md-accent smb-config-botton md-raised modal-done-button md-button md-ink-ripple fullRowButton"
                                   ng-click = "addSyslogServerProfile()"
                                   ng-disabled = "!(serverprofile.serverProfileName && serverprofile.serverFqdnOrIp && serverprofile.port)">
                            Save
                        </md-button>
                    </section>

                    <div flex></div>

                </div>
            </div>

            <!--
            <md-dialog-actions layout="row" layout-align="end end">
                <span flex></span>
                <md-button class="md-accent md-raised deployment-button" style="color: #FFFFFF;" ng-click="cancelServerProfileDialog()">
                            Cancel
                </md-button>
                <md-button class="md-accent md-raised deployment-button" style="color: #FFFFFF;" ng-click="addSyslogServerProfile()">
                    Save
                </md-button>
            </md-dialog-actions>
            -->
            </form>
        </section>
    </md-dialog-content>

</md-dialog>
