 
<div ui-view class="admin-page" layout='row' layout-align="start stretch" style="height: 725px;">
    <div class="left-panel content-height-fixer policy-table-page" flex layout="column" layout-align="space-between none">
    <!-- <div layout="column" layout-align="start stretch" class="content-height-fixer policy-table-page  admin-page" style="height: 725px;"> -->

        <md-toolbar layout="row" layout-align="space-between none" class="admin-toolbar">
            <div>
                Syslog Server Profiles<md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('admin_system_setup_configs_help')" style="margin-right:0px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
            </div>
            <div class="control-tray" layout="row">
                <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="refresh" ng-click="clearServerProfilesFromSession()">
                    <md-tooltip md-direction="bottom">
                        Refresh Data
                    </md-tooltip>
                    <md-icon>cached</md-icon>
                </md-button>
                <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="Import" ng-click="addProfile()">
                        <md-tooltip md-direction="bottom">
                                Add Profile
                        </md-tooltip>
                        <md-icon>add_circle_outline</md-icon>
                </md-button>              
                <!--
                <md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchBar($event)">
                    <md-tooltip md-direction="bottom">
                        Search
                    </md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>               
                -->
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-row-select ng-model="selected"   md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column></th>
                        <th md-column><span>Profile Name</span></th>
                        <th md-column><span>IP or FQDN</span></th>
                        <!--th md-column><span>Type</span></th-->
                        <th md-column><span>Port</span></th>
                        <th md-column><span>Protocol</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Use SSL</span></th>
                        <!-- <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Last Updated By</span></th> -->
                    </tr>
                </thead>
                <tbody md-body ng-show="serverProfilesAvailable">
                    <tr md-row md-auto-select md-select="serverprofiles" md-select-id="name" ng-repeat="serverprofile in profiles | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                        <td md-cell class="button-cluster" ng-class="{show : hover}">
                            <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="info" ng-click="updateAdornmentPanel($event,serverprofile)">
                                <md-tooltip md-direction="bottom">
                                    Information
                                </md-tooltip>
                                <md-icon class="icon-18">info_outline</md-icon>
                            </md-button>

                            <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="refresh" ng-click='deleteSyslogServerProfile($event,serverprofile)'>
                                <md-tooltip md-direction="bottom">Delete</md-tooltip>
                                <md-icon>delete</md-icon>
                            </md-button>        
                        </td>
                        
                        <td md-cell><span>{{serverprofile.serverProfileName}}</span></td>
                        <td md-cell><span>{{serverprofile.serverFqdnOrIp}}</span></td>
                        <td md-cell><span>{{serverprofile.port}}</span></td>
                        <td md-cell><span>{{serverprofile.protocol}}</span></td>
                        <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{serverprofile.usessl}}</span></td>
                        <!-- <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{serverprofile.user}}</span></td> -->
                    </tr>                    
                </tbody>

            </table>

            <div  ng-show="!serverProfilesAvailable"  layout="row" layout-align="center center" class="no-rule-strip">
                <span>You don’t have any Syslog server profiles configured. <span class="add-rule-text" ng-click='addProfile()'>Add Profile</span></span>
            </div>

        </md-table-container>

        <div flex></div>

        <md-content layout="column" layout-align="end end" class="admin-footer">    
            <section class="download-file" ></section>        
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{(profiles.length)? profiles.length : 0 }}" md-page-select>
            </md-table-pagination>
        </md-content>

    </div>

    <div class="adornment-panel" flex="25" ng-show="isAdornmentPanelOpen">
        <md-toolbar layout='row' class="md-primary md-hue-3">
            <md-button class="md-icon-button md-primary md-hue-2" aria-label="close" ng-click="toggleAdornmentPanel()">
                <md-icon>close</md-icon>
            </md-button>
            <span>Information</span>
        </md-toolbar>
        <section>
            <md-subheader class="sub-header">
                Details

                <md-icon ng-show="!editMiscState" class="edit" ng-click="editMiscUserData()">edit</md-icon>
                <md-button class="md-icon-button apply" 
                           aria-label="edit" 
                           ng-show="editMiscState" 
                           ng-click="updateUserData()"
                           style='float:right;  margin-top: -12px;'>
                    <md-tooltip md-direction="bottom">
                        Apply
                    </md-tooltip>
                    <md-icon class="md-icon-button" 
                           ng-if="userFormValid"
                             style='float:right;'>
                        done
                    </md-icon>
                </md-button>
                <md-button class="md-icon-button" 
                           aria-label="discard" 
                           ng-show="editMiscState"
                           style='float:right; margin-top: -12px;' 
                           ng-click="discardMiscChanges()">
                    <md-tooltip md-direction="bottom">
                        Discard Changes
                    </md-tooltip>
                    <md-icon>clear</md-icon>
                </md-button> 
            </md-subheader>
            <md-content class="content" layout="column" ng-hide="editMiscState">
                <span class="section-header">Profile Name</span>
                <span class="section-text">{{adornmentData.serverProfileName}}</span>
                <span class="section-header">Server IP or FQDN</span>
                <span class="section-text">{{adornmentData.serverFqdnOrIp}}</span>
                <span class="section-header">Port</span>
                <span class="section-text">{{adornmentData.port}}</span>
                <span class="section-header">Protocol</span>
                <span class="section-text">{{adornmentData.protocol}}</span>
                <span class="section-header">Use SSL</span>
                <span class="section-text">{{adornmentData.usessl}}</span>
                <!--
                <span class="section-header">Last Updated By</span>
                <span class="section-text">{{adornmentData.user}}</span>
                -->
            </md-content>
        </section>
        <div flex></div>
    </div>

</div>


<!--/div-->