<md-dialog aria-label="List dialog" class="ip-host-dialog">
    <md-dialog-content style="overflow: hidden;">
        <div layout="column">
            <div layout="row" class="dialog-header">
                <h3>{{heading}}</h3>
            </div>
            <div flex></div>
            <div class="search-container-box" layout="row" layout-align="space-between center">
                <div id="ip-config-dialog-network-count">
                    <!-- <div class='fullCheck'>
                        {{dataList.length}} {{lenghtText}}
                    </div> -->
                    <span flex></span>
                    <md-checkbox aria-label="Select All"
                                 ng-checked="isChecked()"
                                 md-indeterminate="isIndeterminate()"
                                 ng-click="toggleAll()">
                        Select All <span ng-show='no_of_hosts'>({{items.length}})</span>
                    </md-checkbox>
                </div>
                <!-- <md-input-container id="ip-config-dialog-search-input">
                    <input ng-model="networkName" type="text">                     
                </md-input-container> 
                <i class="material-icons dialog-search-icon">search</i>  -->
                <div class="search-div">
                    <search datalist='originalAppDataList' searchconfig='{listname:"originalAppDataList", searchkeylocale: "!", key: "name"}' showicon='true'></search>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" class="ip-config-dialog-content">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular ng-hide="!list_app_activated" class="md-accent" md-diameter="40"></md-progress-circular>
            </div>
            <!-- <md-radio-group ng-model="selectedAppIdValue" ng-change="onSelectAPPIDChanged()">
               <md-radio-button  value="{{item}}" ng-repeat="item in dataList | filter: {name : name}" aria-label= "{{item}}">{{item.name}}</md-radio-button>
            </md-radio-group> -->
            <div class="demo-select-all-checkboxes"  ng-repeat="item in originalAppDataList track by $index">
              <md-checkbox ng-checked="existsAppid(item, selectedAPPIDGroupList)" ng-click="toggleAppID(item, selectedAPPIDGroupList)">
               {{ item.name }}
              </md-checkbox>
            </div>
        </div>
        <md-divider></md-divider>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-around">
     <div id="ip-config-dialog-network-count">
                    <div class='fullCheck'>
                        {{selectedAPPIDGroupList.length}} Selected
                    </div>
    </div>
        <span flex></span>
        <md-button class="md-accent md-hue-3 deployment-button" ng-click="cancellistIdDialogue()">
            Cancel
        </md-button>
        <md-button class="md-accent md-raised deployment-button" ng-click="listIdDone()" style="color: #FFFFFF;" ng-disabled="selectedAPPIDGroupList.length === 0">
            SELECT
        </md-button>
    </md-dialog-actions>
</md-dialog>
