<!-- <md-dialog aria-label="List dialog" class="ip-host-dialog">
    <md-dialog-content style="overflow: hidden;">
        <div layout="column">
            <div layout="row" class="dialog-header">
                <h3>{{popheading}}</h3>
            </div>
            <div flex></div>
            <div class="search-container-box" layout="row" layout-align="space-between center">
                <div id="ip-config-dialog-network-count">
                    <md-checkbox aria-label="Select All"
                    ng-checked="isChecked()"
                    md-indeterminate="isIndeterminate()"
                    ng-click="toggleAll()">
                    Select All <span ng-show='no_of_hosts'>({{items.length}})</span>
                    </md-checkbox>
                </div>
      
                <div class="search-div">
                    <search datalist='totalResGroup' searchconfig='{listname:"totalResGroup", searchkeylocale: "!", key: "name"}' showicon='true'></search>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" class="ip-config-dialog-content">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular ng-hide="!resPromiseComplited" class="md-accent" md-diameter="40"></md-progress-circular>
            </div>
            <div class="demo-select-all-checkboxes"  ng-repeat="item in totalResGroup track by $index">
              <md-checkbox ng-checked="exists(item, selectedGroupList)" ng-click="toggle(item, selectedGroupList)">
               {{ item.name }}
              </md-checkbox>
              <span></span>
              <span></span>
            </div>
        </div>
        <md-divider></md-divider>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-around">
        <div id="ip-config-dialog-network-count">
            <div class='fullCheck'>
                {{selectedGroupList.length}} Selected
            </div>
        </div>
        <span flex></span>
        <md-button class="md-accent md-hue-3 deployment-button" ng-click="canceResGroupDialogue()">
            Cancel
        </md-button>
        <md-button class="md-accent md-raised deployment-button" ng-click="listResGroupDone()" style="color: #FFFFFF;" ng-disabled="!radioResGroupSelected">
            SELECT
        </md-button>
    </md-dialog-actions>
</md-dialog> -->
<md-dialog aria-label="Info of File Type" class="res-group-type admin-page">
    <md-dialog-content flex layout="column">
        <!--  <div>{{aclRulesData}}</div> -->
        <md-toolbar layout="row" layout-align="space-between none" class="admin-toolbar">
            <div>
                Select Client Object Groups to Monitor
            </div>
        </md-toolbar>
        <div class="control-tray " layout="row" layout-align="space-between none">
            <div id="ip-config-dialog-network-count">
                <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
                    Select All <span ng-show='no_of_hosts'>({{items.length}})</span>
                </md-checkbox>
            </div>
            <md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchBarRes($event)">
                <md-tooltip md-delay="250" md-direction="bottom">
                    Search
                </md-tooltip>
                <md-icon>search</md-icon>
            </md-button>
        </div>
        <md-progress-linear md-mode="indeterminate" ng-hide="!resPromiseComplited">
        </md-progress-linear>
        <md-table-container>
            <table md-table md-row-select ng-model="resGroupFromPopupSeleted">
                <thead md-head>
                    <tr md-row>
                        <th md-column><span>Group</span></th>
                        <th md-column><span>Created By</span></th>
                        <th md-column><span>Last Updated</span></th>
                    </tr>
                    <tr class="searchbar" ng-show="isresSearchBarOpen">
                        <td class="search-name-padding">
                            <search datalist='totalResGroupData' searchconfig='{listname:"totalResGroupData", searchkeylocale: "!", key: "name"}' showicon='false'></search>
                        </td>
                        <td>
                            <!--  <search datalist='totalDataList' searchconfig='{listname:"totalDataList", searchkeylocale: "!", key: "tenantName"}' showicon='false'></search> -->
                        </td>
                        <td>
                            <!-- <search datalist='totalDataList' searchconfig='{listname:"totalDataList", searchkeylocale: "!", key: "tenantName"}' showicon='false'></search> -->
                        </td>
                    </tr>
                </thead>
                <!-- | limitTo: query.limit: (query.page - 1) * query.limit -->
                <tbody md-body ng-show= "totalResGroupData.length > 0">
                    <tr md-row md-auto-select md-select="item" md-select-id="name" ng-repeat="item in totalResGroupData" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                        <td md-cell>
                            <md-checkbox ng-checked="exists(item, selectedGroupList)" ng-click="toggle(item, selectedGroupList)" class="res-group-check">
                                {{ item.name }}
                            </md-checkbox>
                        </td>
                        <td md-cell><span>-</span></td>
                        <td md-cell><span>-</span></td>
                        <!-- END -->
                    </tr>
                </tbody>
            </table>
            <div style="margin:24px;" ng-show="totalResGroupData.length === 0">Create groups in <b>Administration > Quick Setup</b></div>
        </md-table-container>
        <div flex></div>
        <md-divider></md-divider>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-between end">
        <div id="ip-config-dialog-network-count">
            <div class='fullCheck'>
                {{selectedGroupList.length}} Selected
            </div>
        </div>
        <div>
            <md-button class="md-accent md-hue-3 deployment-button" ng-click="canceResGroupDialogue()">
                Cancel
            </md-button>
            <md-button class="md-accent md-raised deployment-button" ng-click="listResGroupDone()" style="color: #FFFFFF;" ng-disabled="!radioResGroupSelected">
                SELECT
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
