<div class="admin-page" layout='row' layout-align="start stretch">
    
    <div class="left-panel content-height-fixer" flex layout="column" layout-align="space-between none">
        
        <md-toolbar layout="row" layout-align="space-between none" class="admin-toolbar">
            <div>
                Backup / Restore
            </div>
            <div class="control-tray" layout="row">
                <!-- md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="add" ng-click="configureBackup()"-->
                <md-button class="md-icon-button md-primary md-hue-3" aria-label="add" ng-click="configureBackup()">
                        <md-tooltip md-delay="250" md-direction="bottom">
                                Configure New
                        </md-tooltip>
                        <md-icon>add_circle_outline</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary md-hue-3" aria-label="refresh" ng-click="callCacheBurst()">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Refresh Data
                    </md-tooltip>
                    <md-icon>cached</md-icon>
                </md-button>
                <!--   <md-button class="md-icon-button md-primary md-hue-3 import" aria-label="import"  ng-disabled="true">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Import
                    </md-tooltip>
                    <md-icon>system_update_alt</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary md-hue-3 export" aria-label="export"  ng-disabled="true">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Export
                    </md-tooltip>
                    <md-icon>system_update_alt</md-icon>
                </md-button> -->

                <md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchBar($event)">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Search
                    </md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>               
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-row-select ng-model="selected"   md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column></th>
                        <th md-column><span>Date</span></th>
                        <th md-column><span>Backup File</span></th>
                        <th md-column><span>Type</span></th>
                        <th md-column><span>Description</span></th>
                        <!-- th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Ranges</span></th> -->
                    </tr>
                </thead>
                <tbody md-body ng-show="backupConfigAvailable">
                    <!--
                    <tr class="searchbar" ng-show="isSearchBarOpen">
                        <td></td>
                        <td><search datalist='backupConfigurations' searchconfig='{listname:"backupConfigurations", searchkeylocale: "!", key: "fileName"}' showicon='false'></search></td>
                        <td><search datalist='backupConfigurations' searchconfig='{listname:"backupConfigurations", searchkeylocale: "!", key: "name"}' showicon='false'></search></td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}"><search datalist='vlanPoolData' searchconfig='{listname:"vlanPoolData", searchkeylocale: "!.rangeList", key: "length"}' showicon='false'></search></td>
                    </tr>                    
                    -->
                    <tr class="searchbar" ng-show="isSearchBarOpen">
                        <td></td>
                        <td><search datalist='backupConfigurations' searchconfig='{listname:"backupConfigurations", searchkeylocale: "!", key: "fileName"}' showicon='false'></search></td>
                        <td></td>
                        <td></td>
                    </tr>                    

                    <tr md-row md-auto-select md-select="backupconfig" md-select-id="name" ng-repeat="backupconfig in backupConfigurations | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                        <td md-cell class="button-cluster" ng-class="{show : hover}">
                            <!--
                            <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="info" ng-click="">
                                <md-tooltip md-delay="250" md-direction="bottom">
                                    Information
                                </md-tooltip>
                                <md-icon>info_outline</md-icon>
                            </md-button>
                            -->
                            <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="refresh" ng-click=''>
                                <md-tooltip md-delay="250" md-direction="bottom">Restore Backup</md-tooltip>
                                <md-icon class="icon-18">refresh</md-icon>
                            </md-button>                            
                            <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="delete" ng-click="">
                                <md-tooltip md-delay="250" md-direction="bottom">
                                    Delete Backup
                                </md-tooltip>
                                <md-icon class="icon-18">delete</md-icon>
                            </md-button>
                        </td>
                        
                        <td md-cell><span>{{backupconfig.creationTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</span></td>
                        <td md-cell><span>{{backupconfig.targetDirectory}}{{backupconfig.fileName}}</span></td>
                        <td md-cell><span>{{backupconfig.type}}</span></td>
                        <td md-cell><span>{{backupconfig.description}}</span></td>                                            
                    </tr>
                </tbody>
                <tbody md-body ng-show='backupConfigurations.length <= 0'>
                    <tr md-row md-auto-select >
                        <td colspan="100%" md-cell class="add-a-new-infra-msg">
                            No backup configurations available.
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <div flex></div>

        <md-content layout="column" layout-align="start end" class="admin-footer">
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="1" md-page-select>
            </md-table-pagination>
        </md-content>        
    </div>


</div>
