<div layout="column" layout-align="start center" class="content-height-fixer scheduler">
    <div class="admin-page-component-header">
        {{'admin.scheduler.content.download.heading' | translate}}
        <md-icon class="light-bulb icon-18" ng-click=" helpButtonClicked('admin_system_maintenance_help')" style="margin-right:0px;" md-svg-src="images/Bulp.svg">lightbulb</md-icon>
    </div> 
    <form name='contentDownloadForm' class="content-download-form">
         
        <section layout="row" layout-align="space-between none">         
            <md-content class="single-col-component elem-width-large">                              
                <label>{{'admin.scheduler.content.download.enable' | translate}}</label>                                                    
                <md-radio-group class="radio-selection-grp" ng-model="contentdownload.enable" layout="row" ng-click="radioClicked()">
                    <md-radio-button value=1>Yes</md-radio-button>
                    <md-radio-button value=0>No</md-radio-button>
                </md-radio-group>                 
            </md-content>        
        </section>
        
        <section layout="row" layout-align="space-between none">         
            <md-content class="single-col-component elem-width-large">                              
                <label>Schedule</label>                                                    
                <md-radio-group class="radio-selection-grp" ng-model="contentdownload.frequency" layout="row" ng-click="radioClicked()">
                    <!-- md-radio-button value="Frequently">Frequently</md-radio-button-->
                    <md-radio-button value="Daily">Daily</md-radio-button>
					<md-radio-button value="Weekly">Weekly</md-radio-button>
                </md-radio-group>                 
            </md-content>        
        </section>		
				
		<md-input-container class="md-block elem-width-small">
			<label>{{'admin.scheduler.starttime' | translate}}:&nbsp;</label>				
            <mdp-time-picker name="scheduletime" mdp-format="HH:mm A" ng-model="contentdownload.starttime" required>
                <div ng-messages="contentDownloadForm.scheduletime.$error">
                    <div ng-message="required">This is required</div>
                    <div ng-message="format">Invalid format</div>
                </div>
            </mdp-time-picker>
		</md-input-container>
       
        <div ng-if="contentdownload.frequency === 'Weekly'" class="animate-if elem-width-large">
            <md-input-container class="md-block elem-width-medium">
                <!-- md-input-container class="md-block" flex="50"-->
                <label>Week Days</label>
                <md-select name='weekdays' ng-model="contentdownload.dayoftheweek" required>
                    <md-option ng-repeat="weekday in daysInWeek" value="{{weekday.id}}">
                        {{weekday.day}}
                    </md-option>
                </md-select>
                <div ng-messages="contentDownloadForm.weekdays.$error" role="alert">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>

        <!-- 
        <div ng-if="contentdownload.frequency === 'Daily'" class="animate-if elem-width-large">
			<md-input-container class="md-block elem-width-small">
				<label>{{'admin.scheduler.recur' | translate}}</label>
				<input type="number" name="recurrence" ng-model="string" min="0" max="24" ng-model="contentdownload.recurfreq" class="md-input" required>
				<div ng-messages="contentDownloadForm.recurrence.$error" role="alert">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>		
		</div>
		-->

		<section layout="row" layout-align="end end">
			<label>&nbsp;</label>
			<md-button class="md-accent events-pruning-bottom md-raised modal-done-button md-button md-ink-ripple fullRowButton" 
					   ng-click = "scheduleContentDownload()"
					   ng-disabled = "!(contentdownload.frequency && contentdownload.enable)">
				Save
			</md-button>
		</section>
				
    </form>            
 </div>