<md-content>
    <md-radio-group md-no-ink ng-model="selectedOption" class="radio-selection-grp" layout="row" ng-click="radioOptionClicked()">
        <md-radio-button value="novlan">No VLAN Pool</md-radio-button>
        <md-radio-button value="existing" >Add Existing VLAN Pool</md-radio-button>
        <md-radio-button value="new" ng-click="newRadioButtonClicked()">Add New VLAN Pool</md-radio-button>  
    </md-radio-group>
    <section  ng-show="selectedOption == 'novlan'" style="margin-bottom: 46px;">
        
    </section>
    <section ng-show="selectedOption == 'existing'" style="margin-bottom:46px;">
	     <md-progress-circular ng-hide="existingVlanFetched" class="md-accent" md-diameter="40" style= "margin: auto;">
	     </md-progress-circular>
	    <div layout="row" layout-align="start center" class="existing-ip-row-header">
	        <div flex="50">{{ 'wizard.ippool.existingippoolname' | translate }}</div>
	    </div>
	    <md-divider class="elem-width-large" style="margin: 12px 0;"></md-divider>
	    <div layout="column" class="section-existing-ip-pools">
			<md-radio-group md-no-ink ng-model="selectedVlanVal" class="radio-selection-grp" ng-click="radioVlanClicked()">
			    <section ng-repeat="vlan in existingVlans">
		            <md-radio-button value="{{vlan.id}}" class="md-accent existing-ip-row" >
		                <div layout="row">
		                    <div flex="50">{{vlan.name}}</div> 
		                </div>

		            </md-radio-button>
		            <md-divider class="elem-width-large" style="margin: 2px 0;"></md-divider>
	            </section>
			</md-radio-group>
	    </div>
    </section>

    <section  ng-show="selectedOption == 'new'" style="margin-bottom: 46px;">
         <newvlan vlanval="vlan" ></vlanranges>
    </section>

    
<md-content>                            