<div layout="column" layout-align="start center" class="content-height-fixer ">

    <!-- License Info Header -->
    <div class="md-toolbar-tools">
        <h2>{{'admin.license.heading' | translate}}</h2> <span flex></span>
    </div>


    <!-- License Info Table -->
    <md-table-container>
        <table md-table md-row-select md-progress="promise">
            <thead md-head>
            <tr md-row>
                <th md-column><span>Customer ID</span></th>
                <th md-column><span>Customer Name</span></th>
                <th md-column><span>Location</span></th>
                <th md-column><span>Expected Capacity</span></th>
                <th md-column><span>Expiry Date</span></th>
                <th md-column><span>License Type</span></th>
                <th md-column><span>Current State</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row>
                <td md-cell><span>{{license.customer_id}}</span></td>
                <td md-cell><span>{{license.customer_name}}</span></td>
                <td md-cell><span>{{license.location}}</span></td>
                <td md-cell><span>{{license.expected_capacity}}</span></td>
                <td md-cell><span>{{license.expiry_date}}</span></td>
                <td md-cell><span>{{license.license_type}}</span></td>
                <td md-cell><span>{{license.current_state}}</span></td>
            <tr md-row>
            </tr>
            </tbody>
        </table>
    </md-table-container>


    <!-- Activate License Header -->
    <div class="md-toolbar-tools">
        <h2>{{'admin.license.heading.activate' | translate}}</h2> <span flex></span>
    </div>

    <!-- Activate License form -->
    <form name="activateLicense">
        <md-divider class="elem-width-large"></md-divider>

        <section layout="row" layout-align="space-between stretch">
            <md-input-container class="single-col-component elem-width-large">
                <label>License Id</label>
                <input name="name" title="license" ng-model="uuid" ng-maxlength="40" ng-pattern="/^[a-zA-Z0-9.-]*$/"
                       required>
                <div ng-messages="projectForm.name.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                    <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>
                </div>
            </md-input-container>
        </section>

        <section layout="row" layout-align="space-between stretch">
            <label>&nbsp</label>
            <md-button
                    class="md-accent md-raised qs-next"
                    ng-click="callActivateLicense()"
                    ng-disabled="activateLicense.$invalid">
                Activate
            </md-button>
        </section>
    </form>
</div>