<md-dialog aria-label="List dialog" class="ip-config-dialog">
    <div layout="column" style="min-height:103px;">
            <div layout="row" class="dialog-header" style="padding-left: 24px; padding-right: 14px; padding-top:20px">
                <div style="font-family: Roboto;font-size: 20px;font-weight: 500; font-style: normal; font-stretch: normal;color: #000000;">Select Group</div>
                <div flex></div>
                <md-button class="md-accent md-icon-button" ng-click='createNewGroupClicked($event)' style="padding: 0; min-width: 23px; min-height: 36px; width: 20px; height: 20px;">
                    <md-icon>add_circle_outline</md-icon>
                </md-button>
            </div>
            <div flex></div>
           
            <div class="search-container-box" layout="row" layout-align="space-between center" >
                <div id="ip-config-dialog-network-count">{{existingGroups.length}}  Groups</div>
                <!-- <md-input-container id="ip-config-dialog-search-input">
                    <input ng-model="networkName" type="text">                     
                </md-input-container> 
                <i class="material-icons dialog-search-icon">search</i>  -->
                <div class="search-div">
                    <search datalist='existingGroups' searchconfig='{listname:"existingGroups", searchkeylocale: "!", key: "name" ,serchboxprifix:"group"}' showicon='true'></search>
                </div>
                
            </div>
        </div>
        <md-divider></md-divider>
    <md-dialog-content style="position:relative; top:0;">
        <div layout="column" class="ip-config-dialog-content" style="overflow-y:auto;">
         <md-progress-circular ng-hide="groupsFetched" class="md-accent" md-diameter="40" style= "margin: auto;"></md-progress-circular>
            <div ng-show="createNewGroupInput" layout="row" layout-align="space-between center" style="padding: 10px 0; min-height:99px;">
              <md-input-container class="md-block" style="margin:10px 0 0 0; width: 260px;"  ng-form name="groupnameForm">
                    <label style="font-size: 16px; font-weight: normal; font-style: normal;  font-stretch: normal;  line-height: 1; color: #6d6e71;">Name</label>
                    <input style="width: 254px;" name='groupname' md-maxlength="25" ng-model="groupName" required ng-pattern="/^[a-zA-Z0-9.-]*$/">
                    <div ng-messages="groupnameForm.groupname.$error" role="alert">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                        <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>
                        <div ng-show="errorMessage.show" >{{ errorMessage.text }}</div>
                    </div>
                </md-input-container>
                <div layout="row"  layout-align="end center" style="margin: 0 0 25px 20px;">
                    <md-icon style="cursor:pointer;" ng-click="clearGroup(groupName)">close</md-icon>
                    <md-icon  style="cursor:pointer;color:#4a90e2;" ng-click="groupNameEntered(groupName)">done</md-icon>
                </div>
            </div>
            <md-radio-group ng-model="selectedGroup"    ng-change="onSelectionChanged()">
                <div layout="row" ng-mouseover="showicons=true" ng-mouseleave="showicons=false" layout-align="space-between center" ng-repeat="group in existingGroups">
                    <md-radio-button value="{{group.name}}">
                        {{group.name}}
                    </md-radio-button>
                    <div>
                        <md-icon  ng-show="showicons && !group.existing" style="font-size:18px;cursor:pointer;" ng-click="openEdit($event,group)">edit</md-icon>
                        <md-icon  ng-show="showicons && !group.existing" style="font-size:18px;cursor:pointer;" ng-click="deleteGroup($event,group)">delete</md-icon>
                    </div>
                </div>
            </md-radio-group>
        </div>
        <md-divider></md-divider>
    </md-dialog-content>
    <md-dialog-actions>
        <div layout="row">
            <md-button  ng-click="closeDialog()" class=" md-accent md-hue-3">{{ 'wizard.ippool.cancel' | translate }}</md-button>
            <md-button ng-click="closeDialogWithAnswer(selectedNetworkID)" ng-disabled="!selectEnableState" class=" md-accent md-raised" style="color: #FFFFFF;">{{ 'wizard.ippool.select' | translate }}</md-button>
        </div>
    </md-dialog-actions>
</md-dialog>