<!--SCREEN FOR ADDING DEPLOY SPEC-->
<md-dialog aria-label="Add Resource group " ng-cloak class="fullscreen-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
            <h2>{{'admin.addNewResourceGroup.title'| translate}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content style="padding:0px; width:100%; height:100%">
        <section layout="row" flex style="padding:0px; width:100%; height:100%">
            <div ui-view="addrulecontainer" style="width:100%;height:100%" ></div>
            <!-- help panels [start] -->
            <!-- <helpcontainer contentid="active_help_id" excesscomponent="1.1"></helpcontainer> -->
            <!-- help panels [end] -->
        </section>
    </md-dialog-content>
</md-dialog>
