<div ui-view id="admin-infra-connector" class="admin-page" layout='row' layout-align="start stretch">
    <div class="left-panel content-height-fixer" flex layout="column" layout-align="space-between none">
        <md-toolbar layout="row" layout-align="space-between none" class="admin-toolbar">
            <div>
                Groups
            </div>
            <div class="control-tray" layout="row">
                <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="refresh" ng-click="callCacheBurst()">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Refresh Data
                    </md-tooltip>
                    <md-icon>cached</md-icon>
                </md-button>
                <md-button ng-if="is_create_rsgroup" ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="add" ng-click='callpopupToAddNewGroup(groupData,$event)'>
                        <md-tooltip md-delay="250" md-direction="bottom">
                                Add New
                        </md-tooltip>
                        <md-icon>add_circle_outline</md-icon>
                </md-button>
                <!-- <md-button class="md-icon-button md-primary md-hue-3 import" aria-label="import"  ng-disabled="true">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Import
                    </md-tooltip>
                    <md-icon>system_update_alt</md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary md-hue-3 export" aria-label="export"  ng-disabled="true">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Export
                    </md-tooltip>
                    <md-icon>system_update_alt</md-icon>
                </md-button> -->
                <md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchBar($event)">
                        <md-tooltip md-delay="250" md-direction="bottom">
                                Search
                        </md-tooltip>
                        <md-icon>search</md-icon>
                </md-button>
                

            </div>

        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select ng-model="selected"   md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column></th>
                        <!-- UPDATE THIS BLOCK FOR CUSTOM COLUMN HEADERS -->
                        <!--<th md-column><span>Status</span></th>   //COMMENTING AS PER SUGGESTED BY MANOJ -->
                        <th md-column><span>Infrastructure Connectors</span></th>
                        <th md-column><span>Name</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Tenant</span></th>
                        <th md-column ng-class="{hidecol : isAdornmentPanelOpen}"><span>Networks</span></th>

                        <!-- END -->
                    </tr>
                </thead>
                <tbody md-body ng-show='groupData.length > 0'>
              
                    <tr class="searchbar" ng-show="isSearchBarOpen">
                        <td></td>
                        <td><search datalist='groupData' searchconfig='{listname:"groupData", searchkeylocale: "!", key: "cloudName"}' showicon='false'></search></td>
                        <td><search datalist='groupData' searchconfig='{listname:"groupData", searchkeylocale: "!", key: "name"}' showicon='false'></search></td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}"><search datalist='groupData' searchconfig='{listname:"groupData", searchkeylocale: "!.tenantName", key: "name"}' showicon='false'></search></td>
                        <td ng-class="{hidecol : isAdornmentPanelOpen}"><search datalist='groupData' searchconfig='{listname:"groupData", searchkeylocale: "!", key: "countMembers"}' showicon='false'></search></td>
                    </tr>
                    <tr md-row md-auto-select md-select="connection" md-select-id="name" ng-repeat="connection in groupData  | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-class="{highlighted : connection.active}">

                        <td md-cell class="button-cluster" ng-class="{show : hover}">
                <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="info" ng-click="updateAdornmentPanel($event, connection)">
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Information
                    </md-tooltip>
                    <md-icon class="icon-18">info_outline</md-icon>
                </md-button>
                <md-button ng-if="is_delete_rsgroup" ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="delete" ng-click='deleteGroup(connection)'>
                    <md-tooltip md-delay="250" md-direction="bottom">
                        Delete Group
                    </md-tooltip>
                    <md-icon>delete</md-icon>
                </md-button>
                </td>
                <td md-cell><span>{{connection.cloudName}}</span></td>
                <td md-cell><span>{{connection.name}}</span></td>
                <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.tenantName.name}}</span></td>
                <td md-cell ng-class="{hidecol : isAdornmentPanelOpen}"><span>{{connection.countMembers}}</span></td>
                <!-- END -->		
                </tr>
                </tbody>
                <tbody md-body ng-show='groupData.length <= 0'>
                    <tr md-row md-auto-select >
                        <td colspan="100%" md-cell class="add-a-new-infra-msg">
                            No groups available.
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <div flex></div>
        <md-content layout="row" layout-align="space-between none" class="admin-footer">
            <!-- <section class="download-file" ><md-icon class="md-18">file_download</md-icon>Download Import Template</section> -->
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{(groupData.length) ? groupData.length : 0 }}" md-page-select>
            </md-table-pagination>
        </md-content>
    </div>
    <div class="adornment-panel" flex="25" ng-show="isAdornmentPanelOpen">
        <md-toolbar layout='row' class="md-primary md-hue-3">
            <md-button class="md-icon-button md-primary md-hue-2" aria-label="close" ng-click="toggleAdornmentPanel()">
                <md-icon>close</md-icon>
            </md-button>
            <span>Information</span>
        </md-toolbar>
        <md-subheader class="sub-header">Miscellaneous
            <md-icon 
                ng-show = "!editGroup && is_update_rsgroup"
                class="edit" 
                ng-click="updateGroup(adornmentData)">
                edit
            </md-icon>
            <md-button class="md-icon-button apply" aria-label="Apply" ng-show="editGroup && groupForm.$valid && groupForm.$dirty" ng-click="editGroupData(adornmentData)" style='float:right;  margin-top: -12px;'>
                <md-tooltip md-delay="250" md-direction="bottom">
                    Apply
                </md-tooltip>
                <md-icon>done</md-icon>
            </md-button>
            <md-button class="md-icon-button " aria-label="discard" ng-show="editGroup" style='float:right; margin-top: -12px;' ng-click="discardChanges()">
                <md-tooltip md-delay="250" md-direction="bottom">
                    Discard Changes
                </md-tooltip>
                <md-icon>clear</md-icon>
            </md-button>
        </md-subheader>
        <section ng-show = "!editGroup">
            <md-content class="content" layout="column">
                <span class="section-header">Group Name</span>
                <span class="section-text">{{adornmentData.name}} <span style="font-weight: bold; color: #13ce66;float:right"> {{adornmentData.countMembers}} </span></span>
                <span class="section-header">Tenant</span>
                <span class="section-text">{{adornmentData.tenantName.name}}</span>			
                <span class="section-header">Networks</span>
                <div ng-repeat="network in adornmentData.networksWithName">
                    <a class="link-to">
                        <div layout="row" layout-align="space-between none">
                            <span>{{network.name}}</span>
                        </div>
                    </a>
                </div>
            </md-content>
        </section>

        <section ng-show = "editGroup">
            <form name="groupForm" style="margin-top: 25px;">
                <md-content class="content" layout="column">  
                    <md-input-container>
                        <label>Group Name</label>
                        <input 
                            md-maxlength="40"
                            name='groupName' 
                            ng-model="adornmentData.name"
                            ng-pattern="/^[a-zA-Z0-9.-\s]*$/"
                            required>
                        <div ng-messages="groupForm.groupName.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 40 characters long.</div>
                            <div ng-message="pattern">Only alphanumeric, ".", "-", " " are allowed.</div>
                        </div>
                    </md-input-container>
                    <span class="section-header">Tenant</span>
                    <span class="section-text">{{adornmentData.tenantName.name}}</span>
                    <span class="section-header">Networks
                        <md-icon style="float:right" class="md-accent md-hue-3 edit-button-icon" ng-click='callupdateGroupPopup($event,adornmentData)' >edit</md-icon> 
                    </span>
                    <div ng-repeat="network in adornmentData.networksWithName">
                        <a class="link-to">
                            <div layout="row" layout-align="space-between none">
                                <span>{{network.name}}</span>
                            </div>
                        </a>
                    </div>
                </md-content>
            </form>
        </section>
        <div flex></div>
    </div>
</div>