<div layout="column" layout-align="start stretch" class="admin-page">
    <div class="admin-page-policies-header">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="currentTab">
                <md-tab label="Inbound Web Server Certificates" class="policy-tabs" ui-sref="home.setuptls.tlsdecryption.inboundkeys">
                    <div ui-view="inboundwebserverkeys"></div>
                </md-tab>
                <md-tab label="Re-Signing Certificates" ui-sref="home.setuptls.tlsdecryption.outboundkeys">
                    <div ui-view="resigningcerts"></div>
                </md-tab> 
                <!--     
                <md-tab label="Trusted Root Certificates" ui-sref="home.setuptls.tlsdecryption.rootcas">
                    <div ui-view="rootcas"></div>
                </md-tab>                                                        
                -->
            </md-tabs>
        </md-content>
    </div>
</div>