<md-dialog aria-label="List dialog" class="ip-host-dialog">
    <md-dialog-content>

        <div layout="column">
            <div layout="row" class="dialog-header">
                <h3>Add Access Control Policy</h3>
            </div>
            <div flex></div>
            <div class="search-container-box" layout="row" layout-align="space-between center">
                <div id="ip-config-dialog-network-count"><div class='fullCheck' >
                        Search ({{accesscontrolpolicyList.length}})
                    </div>
                </div>
                <div class="search-div">
                    <search datalist='accesscontrolpolicyList' 
                            searchconfig='{listname:"accesscontrolpolicyList", searchkeylocale: "!", key: "name"}' showicon='true'></search>
                </div>

            </div>
        </div>
        <md-divider></md-divider>
        <div layout="column" class="ip-config-dialog-content">
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular ng-hide="aclDataRetrieved" class="md-accent" md-diameter="40"></md-progress-circular>
            </div>
            <md-radio-group ng-model="selectedPolicy">
                <md-radio-button value="{{policy.id}}" ng-repeat="policy in accesscontrolpolicyList| filter: {name : policy.name}">{{policy.name}}</md-radio-button>
            </md-radio-group>
        </div>
        <md-divider></md-divider>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="space-around">
        <span flex></span>
        <md-button class="md-accent md-hue-3 deployment-button" ng-click="cancelDialog()">
            CANCEL
        </md-button>
        <md-button class="md-accent md-raised deployment-button" ng-click="done()" style="color: #FFFFFF;">
            ADD
        </md-button>
    </md-dialog-actions>
</md-dialog>