<md-dialog aria-label="Rules dialog"  style="max-width:none;padding:14px;">
    <md-dialog-content>
        <md-content class="admin-page">
            <section layout="row" layout-align="end end">
                <md-icon ng-click="closeDialog()" style="margin:0;color:#4a90e2;cursor:pointer;">close</md-icon>
            </section>
            <section layout="row" layout-align="start center" class="action-section">
                <div layout="column" layout-align="center center" class="actionset" style="margin-top: 10px;">
                    <div style="font-size: 13px;" ng-disabled="!policyselected.length">
                        Status
                    </div>
                    <div layout="row" layout-align="center end">
                        <md-button class="md-button" ng-class="{'modal-done-button':responseSet.enabled}" ng-click="updateResponse($event,'enabled',true)" ng-disabled="!policyselected.length" style="padding: 0px  18px;">Enable</md-button> 
                        <md-button class="md-button negative" ng-class="{'modal-done-button':responseSet.enabledNot}" ng-click="updateResponse($event,'enabled',false)"  ng-disabled="!policyselected.length">Disable</md-button>
                    </div>
                </div>
                <div layout="column" layout-align="center center"  class="actionset">
                    <div ng-disabled="!policyselected.length">
                        <md-icon style="font-size: 15px;">border_color</md-icon>
                    </div>
                    <div layout="row" layout-align="center end">
                        <md-button class="md-button positive" ng-class="{'modal-done-button':responseSet.logPacket}" ng-click="updateResponse($event,'logPacket',true)" ng-disabled="!policyselected.length">Log</md-button> 
                        <md-button class="md-button negative" ng-class="{'modal-done-button':responseSet.logPacketNot}" ng-click="updateResponse($event,'logPacket',false)" ng-disabled="!policyselected.length">Don't Log</md-button>
                    </div>
                </div>
                <div layout="column" layout-align="center center" class="actionset">
                    <div ng-disabled="!policyselected.length">
                        <md-icon style="font-size: 15px;">notifications_none</md-icon>
                    </div>
                    <div layout="row" layout-align="center end">
                        <md-button class="md-button positive" ng-class="{'modal-done-button':responseSet.alert}" ng-click="updateResponse($event,'alert',true)" ng-disabled="!policyselected.length">Alert</md-button> 
                        <md-button class="md-button negative" ng-class="{'modal-done-button':responseSet.alertNot}" ng-click="updateResponse($event,'alert',false)" ng-disabled="!policyselected.length">Don't Alert</md-button>
                    </div>
                </div>
                <div layout="column" layout-align="center center" class="actionset">
                    <div ng-disabled="!policyselected.length">
                        <md-icon style="font-size: 15px;">do_not_disturb_alt</md-icon>
                    </div>
                    <div layout="row" layout-align="center end">
                        <md-button class="md-button positive" ng-class="{'modal-done-button':responseSet.block}" ng-click="updateResponse($event,'block',true)" ng-disabled="!policyselected.length">Block</md-button> 
                        <md-button class="md-button negative" ng-class="{'modal-done-button':responseSet.blockNot}" ng-click="updateResponse($event,'block',false)" ng-disabled="!policyselected.length">Don't Block</md-button>
                    </div>
                </div>
                <div layout="column" layout-align="center center" class="actionset">
                    <div ng-disabled="!policyselected.length">
                        <md-icon style="font-size: 15px;">email</md-icon>
                    </div>
                    <div layout="row" layout-align="center end">
                        <md-button class="md-button positive" ng-class="{'modal-done-button':responseSet.notifySMTP}" ng-click="updateResponse($event,'notifySMTP',true)" ng-disabled="!policyselected.length">Email</md-button> 
                        <md-button class="md-button negative" ng-class="{'modal-done-button':responseSet.notifySMTPNot}" ng-click="updateResponse($event,'notifySMTP',false)" ng-disabled="!policyselected.length">Don't Email</md-button>
                    </div>
                </div>
                <div layout="column" layout-align="center center" class="actionset">
                    <div ng-disabled="!policyselected.length">
                        <md-icon style="font-size: 15px;">import_contacts</md-icon>
                    </div>
                    <div layout="row" layout-align="center end">
                        <md-button class="md-button positive" ng-class="{'modal-done-button':responseSet.notifySysLog}" ng-click="updateResponse($event,'notifySysLog',true)" ng-disabled="!policyselected.length">Syslog</md-button> 
                        <md-button class="md-button negative" ng-class="{'modal-done-button':responseSet.notifySysLogNot}" ng-click="updateResponse($event,'notifySysLog',false)" ng-disabled="!policyselected.length">Don't Syslog</md-button>
                    </div>
                </div>
                
            </section>
            <section layout="row" layout-align="start center" class="counterRow">
                <div class="threats-seleted-gtc">
                    <div ng-show="policyselected.length" >
                        {{policyselected.length}} selected
                    </div>
                </div>
                <div><span class="reponse-action">Response Action</span></div>
                <div><span class="notify-by">Notify by</span></div>
            </section>
            <md-table-container class="showCheckbox">
                <table md-table md-row-select multiple="true" ng-model="policyselected" md-progress="promise">
                    <thead md-head data-md-order="query.order" md-on-reorder="onReorder">
                        <tr md-row class="allCheckboxrow" ng-class="{isdisabled: !is_update_policy } ">
                            <th md-column><span>Status</span></th>
                            <th md-column><span>Log Alert  Block</span></th>
                            <th md-column><span>Email</span></th>
                            <th md-column><span>Sys Log</span></th>
                            <th md-column md-order-by="name" style="width: 300px;"><span>Name</span></th>
                            <th md-column md-order-by="_numthreatID"><span>Id</span></th>
                            <th md-column md-order-by="protocolName"><span>Protocol Name</span></th>
                            <th md-column md-order-by="severity"><span>Severity</span></th>
                            <th md-column md-order-by="protectionType"><span>Protection Type</span></th>
                            <th md-column><span>Threat Reference</span></th>
                            <!-- END -->
                        </tr>
                    </thead>
                    <tbody md-body>
                        <!-- <tr class="searchbar">
                            <td></td>
                            <td style="padding: 0 0 0 24px;">
                                <md-input-container class="filterdropdownstyle">
                                    <md-select ng-model="filterset._status">
                                        <md-option ng-repeat="(index,item) in ['ALL', 'Enabled', 'Disabled'] track by $index" class="policy-table-option" ng-selected="{{ item === 'ALL' }}" value="{{item == 'ALL' ? '' : item }}">
                                        {{item}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="filterdropdownstyle">
                                    <md-select ng-model="response">
                                        <md-option ng-repeat="(index,item) in ['ALL', 'Block', 'Alert','Log Packets'] track by $index" class="policy-table-option" ng-selected="{{ item === 'ALL' }}" value="{{item == 'ALL' ? '' : item }}">
                                        {{item}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <search datalist='policythreatData' searchconfig='{listname:"policythreatData", searchkeylocale: "!", key: "name"}' showicon='false'></search>
                            </td>
                            <td>
                                <search datalist='policythreatData' searchconfig='{listname:"policythreatData", searchkeylocale: "!", key: "threatID"}' showicon='false'></search>
                            </td>
                            <td>
                                <search datalist='policythreatData' searchconfig='{listname:"policythreatData", searchkeylocale: "!", key: "protocolID"}' showicon='false'></search>
                            </td>
                            <td>
                                <md-input-container class="filterdropdownstyle">
                                    <md-select ng-model="filterset.severity">
                                        <md-option ng-repeat="(index,item) in ['ALL', 'HIGH','CRITICAL' ,'MEDIUM','MODERATE','LOW'] track by $index" class="policy-table-option" ng-selected="{{ item === 'ALL' }}" value="{{item == 'ALL' ? '' : item }}">
                                        {{item}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="filterdropdownstyle">
                                    <md-select ng-model="filterset.protectionType">
                                        <md-option ng-repeat="(index,item) in ['ALL', 'SERVER', 'CLIENT'] track by $index" class="policy-table-option" ng-selected="{{ item === 'ALL' }}" value="{{item == 'ALL' ? '' : item }}">
                                        {{item}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                            <td></td>
                        </tr> -->
                        <tr class="searchbar">
                    <td></td>
                    <td style="padding: 0 0 0 24px;">
                        <md-input-container class="filterdropdownstyle">
                            <md-select ng-model="filterset._status" multiple md-selected-text="getSelectedText(filterset._status,2)">
                                <md-option ng-repeat="(index,item) in ['Enabled', 'Disabled'] track by $index" class="policy-table-option" value="{{item}}"  ng-selected="true">
                                {{item}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td>
                        <md-input-container class="filterdropdownstyle">
                            <md-select ng-model="filterset.response" multiple md-selected-text="getSelectedText(filterset.response,6)">
                                <md-optgroup label="Enabled">
                                    <md-option ng-repeat="(index,item) in [{name:'Log', icon:'border_color'}, {name:'Alert', icon:'notifications_none'}, {name:'Block', icon:'do_not_disturb_alt'},] track by $index"  class="policy-table-option" value="{{item.name}}-true" ng-selected="true">
                                        {{item.name}}
                                        <md-icon class="icon-18" style="margin-left: 120px;float:right;color: #4a90e2;">{{item.icon}}</md-icon>
                                    </md-option>
                                </md-optgroup>
                                <md-optgroup label="Disabled">
                                    <md-option ng-repeat="(index,item) in [{name:'Log', icon:'border_color'}, {name:'Alert', icon:'notifications_none'}, {name:'Block', icon:'do_not_disturb_alt'},] track by $index"  class="policy-table-option" value="{{item.name}}-false" ng-selected="true">
                                        {{item.name}}
                                        <md-icon class="icon-18" style="float:right;opacity: 0.5;color: #4a90e2;margin-left: 120px;">{{item.icon}}</md-icon>
                                    </md-option>
                                </md-optgroup>
                                <!-- <md-option class="policy-table-option" value="">ALL</md-option>
                                <md-option class="policy-table-option" value="block">Block</md-option>
                                <md-option class="policy-table-option" value="alert">Alert</md-option>
                                <md-option class="policy-table-option" value="logPacket">Log Packets</md-option> -->
                            </md-select>
                            <!-- <md-select ng-model="selectedToppings" multiple>
                              <md-optgroup label="Meats">
                                <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
                              </md-optgroup>
                              <md-optgroup label="Veggies">
                                <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>
                              </md-optgroup>
                            </md-select> -->
                        </md-input-container>
                    </td>
                    <td>
                        <md-input-container class="filterdropdownstyle">
                            <md-select ng-model="filterset.action" multiple md-selected-text="getSelectedText(filterset.action,4)">
                                <md-optgroup label="Enabled">
                                    <md-option class="policy-table-option" ng-selected="true" value="notifySMTP-true">
                                     Email
                                     <md-icon class="icon-18" style="margin-left: 120px;float:right;color: #4a90e2;">email</md-icon>
                                    </md-option>
                                    <md-option class="policy-table-option" ng-selected="true" value="notifySysLog-true">
                                     Syslog
                                     <md-icon class="icon-18" style="margin-left: 120px;float:right;color: #4a90e2;">import_contacts</md-icon>
                                    </md-option>
                                </md-optgroup>
                                <md-optgroup label="Disabled">
                                    <md-option class="policy-table-option" ng-selected="true" value="notifySMTP-false">
                                     Email
                                     <md-icon class="icon-18" style="margin-left: 120px;float:right;opacity: 0.5;color: #4a90e2;">email</md-icon>
                                    </md-option>
                                    <md-option class="policy-table-option" ng-selected="true" value="notifySysLog-false">
                                     Syslog
                                     <md-icon class="icon-18" style="margin-left: 120px;float:right;opacity: 0.5;color: #4a90e2;">import_contacts</md-icon>
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td>
                    </td>
                    <td>
                        <search datalist='policythreatData' searchconfig='{listname:"policythreatData", searchkeylocale: "!", key: "name"}' showicon='false' ng-model="threatname"></search>
                    </td>
                    <td>
                        <search datalist='policythreatData' searchconfig='{listname:"policythreatData", searchkeylocale: "!", key: "threatID"}' showicon='false'></search>
                    </td>
                    <td>
                        <search datalist='policythreatData' searchconfig='{listname:"policythreatData", searchkeylocale: "!", key: "protocolName"}' showicon='false'></search>
                    </td>
                    <td>
                        <md-input-container class="filterdropdownstyle">
                            <md-select ng-model="filterset.severity" multiple md-selected-text="getSelectedText(filterset.severity,severitylevels.length)" >
                                <md-option ng-repeat="item in severitylevels track by $index" class=" policy-table-option" ng-selected="true" value="{{item}}">
                                    <md-icon class=" brightness material-icons active {{item}}">fiber_manual_record</md-icon>
                                    <span style="margin-right: 80px;">{{item}}</span>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td>
                        <md-input-container class="filterdropdownstyle">
                            <md-select ng-model="filterset.protectionType" multiple md-selected-text="getSelectedText(filterset.protectionType,2)">
                                <md-option ng-repeat="(index,item) in ['SERVER', 'CLIENT'] track by $index" class="policy-table-option" ng-selected="true" value="{{item }}">
                                {{item}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </td>
                    <td></td>
                </tr>
                        <tr md-row md-select="policy" md-select-id="id" ng-repeat="policy in filtered = (policythreatData | filterthreat:filterset)   | limitTo: query.limit: (query.page - 1) * query.limit " ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-class="{'blurRow' : !policy.threatResponseData.enabled, isdisabled: !is_update_policy } ">
                            <!-- <td md-cell class="button-cluster" ng-class="{show : hover}">
                                <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="delete" ng-click='deleteMalwarePolicy(policy)'>
                                    <md-tooltip md-delay="250" md-direction="bottom">
                                        Delete Connection
                                    </md-tooltip>
                                    <md-icon>delete</md-icon>
                                </md-button>
                                <md-button ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="refresh" ng-click='callpopupDuplicatePolicy(policy)'>
                                    <md-tooltip md-delay="250" md-direction="bottom">content copy
                                    </md-tooltip>
                                    <md-icon>content_copy</md-icon>
                                </md-button>
                            </td> -->
                            <!-- ng-click='goToPolicy(policy.id,"malware")' -->
                            <td md-cell><span layout="row"> <md-icon class="dp16 status" ng-class="{'enable-green active' : policy.threatResponseData.enabled} ">{{(policy.threatResponseData.enabled) ? "check_circle" : "radio_button_unchecked" }}</md-icon>{{(policy.threatResponseData.enabled) ? "Enabled" : "Disabled" }}</span></td>
                            <td md-cell >
                                <span class="responseSet" layout="row" layout-align="space-between center">
                                    <md-icon class="dp16" ng-class="{'active':policy.threatResponseData.logPacket}">
                                        border_color
                                        <md-tooltip md-delay="250" md-direction="bottom">
                                            Log Packet
                                        </md-tooltip>
                                    </md-icon>
                                    <md-icon class="dp16" ng-class="{'active':policy.threatResponseData.alert}">
                                        notifications_none
                                        <md-tooltip md-delay="250" md-direction="bottom">
                                            Alert
                                        </md-tooltip>
                                    </md-icon>
                                    <md-icon class="dp16" ng-class="{'active':policy.threatResponseData.block}">
                                        do_not_disturb_alt
                                        <md-tooltip md-delay="250" md-direction="bottom">
                                            Block
                                        </md-tooltip>
                                    </md-icon>
                                </span>
                            </td>
                            <td md-cell >
                                <span class="responseSet" layout="row" layout-align="center center">
                                    <md-icon class="dp16" ng-class="{'active':policy.threatResponseData.notifySMTP}">
                                        email
                                        <md-tooltip md-delay="250" md-direction="bottom">
                                            Email
                                        </md-tooltip>
                                    </md-icon>
                                </span>
                            </td>
                            <td md-cell >
                                <span class="responseSet" layout="row" layout-align="center center">
                                    <md-icon class="dp16" ng-class="{'active':policy.threatResponseData.notifySysLog}">
                                        import_contacts
                                        <md-tooltip md-delay="250" md-direction="bottom">
                                            Syslog
                                        </md-tooltip>
                                    </md-icon>
                                </span>
                            </td>
                            <td md-cell ><span>{{policy.name}}</span></td>
                            <td md-cell ><span>{{policy.threatID}}</span></td>
                            <td md-cell ><span>{{policy.protocolName}}</span></td>
                            <td md-cell >
                                <span class="{{policy.severity}}">
                                    <md-icon class="brightness active">fiber_manual_record</md-icon>
                                    {{policy.severity}}
                                <!-- <md-select placeholder="Select">
                                    <md-option ng-repeat="(index,item) in ['HIGH', 'MEDIUM', 'LOW', 'CLEAN'] track by $index"  ng-selected="item == policy.severity" class="policy-table-option" ng-value="item" >
                                    <span><md-icon class="brightness" ng-class="item">brightness_1</md-icon>{{item}}</span>
                                    </md-option>
                                </md-select> -->
                                </span>
                            </td>
                            <td md-cell ><span>{{policy.protectionType}}</span></td>
                            <td md-cell ng-click="openThreatPopup($event,policy.name,policy.threatReferences)"><span class="referenceText">View({{policy.threatReferences.length}})</span></td>
                            <!-- END -->
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <!-- <div class="noOfPolicyLength">{{policythreatData.length}} Policies</div> -->
            <!-- </md-content> -->
            <div flex></div>
            <md-content layout="row" layout-align="space-between end" class="admin-footer">
                <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{filtered.length}}" md-page-select>
                </md-table-pagination>
                <div layout="row" layout-align="start end">
                    <md-button class="tomato-button md-button md-ink-ripple" style="color: #4a90e2 !important;"  ng-if="is_update_policy" ng-click="clearEdits()" >reset</md-button>
                    <md-button class="md-raised modal-done-button" ng-if="is_update_policy" ng-click="updateEdits()" ng-disabled="!policyselected.length">save</md-button>
                </div>
            </md-content>
        </md-content>
    </md-dialog-content>
</md-dialog>
<style type="text/css">
.counterRow{
    height: 56px;
}
    .height80{
        height: 80px;
    }
    .text-center {
    text-align: center;
}
.topbanner {
    border: solid 1px rgba(109, 110, 113, 0.2);
    margin-bottom: 24px;
}
.counterHead{
        margin: 0px 0px 5px;
    }
.headDescription{
    margin: 0px;
    color: #6d6e71;
    font-size: 13px;
}
.height64{
    height: 64px;
}
.counterHead{
    font-size: 24px;
}
.admin-page md-table-container.showCheckbox .md-checkbox-column,.admin-page md-table-container.showCheckbox .md-checkbox-cell {
    display: table-cell;
}
.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}
.filterbar div{
    margin-left: 25px;
    color: #6d6e71;
    font-size: 14px;
}
.enable-green{
    color:#13ce66;
}
.dp16{
    width: 16px;
    height: 16px;
    font-size:  16px;
    min-height: 16px;
    min-width: 16px;
}
.showCheckbox th {
    text-transform: uppercase;
}
.brightness.material-icons {
        margin-top: 4px;
}
md-icon.brightness.material-icons.High ,
md-icon.brightness.material-icons.HIGH ,
.High md-icon.brightness.material-icons ,
.HIGH md-icon.brightness.material-icons {
  color: #ff4949; }

md-icon.brightness.material-icons.Medium ,
md-icon.brightness.material-icons.MEDIUM ,
.MEDIUM md-icon.brightness.material-icons,
.Medium md-icon.brightness.material-icons{
  color: #ffc030; }

md-icon.brightness.material-icons.Low ,
md-icon.brightness.material-icons.LOW ,
.Low md-icon.brightness.material-icons,
.LOW md-icon.brightness.material-icons{
  color: #13ce66; }
.filterdropdownstyle {
    margin: 0;
}
.filterdropdownstyle md-select ._md-select-value{
        border: none;
}
.filterdropdownstyle ._md-select-value > span:not(._md-select-icon) {
    font-size: 14px;
    margin-bottom: 0px;
}
.filterdropdownstyle ._md-select-value ._md-select-icon{
    font-size: 14px;
    color: #6d6e71;
}
.blurRow{
    opacity: 0.5;
}
.action-section .actionset div:first-child[disabled] {
    opacity: 0.38;
}
.admin-page md-table-container.showCheckbox  span md-icon{
 opacity: 0.5;   
}
.admin-page md-table-container.showCheckbox  span md-icon.active{
 opacity: 1;   
}
.responseSet md-icon{
    color: #4a90e2;
}
.referenceText{
 color: #4a90e2;
 cursor: pointer;   
}
.threat-dialog{
    width: 768px;
}
.status{
        margin: 0 7px 5px 0;
}
.action-section button,.action-section button:hover{
    margin:8px 0px;
    border-radius: 0px;
    border: solid 1px rgba(109, 110, 113, 0.2);
    font-size: 14px;
    min-width: 0px;
    margin-bottom: 16px;
    text-transform: capitalize;
    color: #6d6e71;
}
.action-section .actionset{
    margin-right: 24px;
}
.action-section button.positive {
    padding: 0px 34px;
}
.action-section button.negative {
    padding: 0px 16px;
}
md-checkbox.md-checked ._md-icon:after{
    border-color: #fff;
}
._md-checkbox-enabled.md-default-theme[selected] ._md-icon, ._md-checkbox-enabled[selected] ._md-icon {
    background-color: #4a90e2;
}
._md-checkbox-enabled.md-default-theme[selected] ._md-icon:after, ._md-checkbox-enabled[selected] ._md-icon:after{
    border-color: #fff;
}
</style>