<div layout="column" layout-align="start stretch" class="content-height-fixer policy-details-page   admin-page" >
    <div class="admin-page-policies-header policy-table-page">
         <md-toolbar layout="row" layout-align="space-between none" class="admin-toolbar">
            <div style="line-height: 2;">
                Threat Prevention Policies
            </div>
            <div class="control-tray" layout="row">
            <md-button class="md-icon-button md-primary md-hue-3" aria-label="search" ng-click="toggleSearchBar($event)">
                <md-tooltip md-delay="250" md-direction="bottom">
                    Search
                </md-tooltip>
                <md-icon style="margin-top: 5px;">search</md-icon>
            </md-button>
            <md-button ng-if="is_create_policy" ng-disabled="promiseCompleted" class="md-primary md-hue-3 addNewTypePolicy" aria-label="add" ui-sref="home.policy.addthreatdetection">
                <!--     <md-tooltip md-delay="250" md-direction="bottom">
                                        Add New
                                    </md-tooltip> -->
                <md-icon class="icon-18">add_circle_outline</md-icon> Add
            </md-button>
        </div>
        </md-toolbar>
        <md-table-container>
            <table md-table md-row-select ng-model="selected"   md-progress="promise">
                <thead md-head>
                    <tr md-row>
                        <th md-column><span class="policy-name" style="margin-left: 124px;">Name</span></th>
                        <th md-column><span>Tenant</span></th>
                        <!--<th md-column><span>Assigment Count (Groups)</span></th>
                         <th md-column><span>Created By</span></th> -->                 
                        <th md-column><span>Last Updated</span></th>

                        <!-- END -->
                    </tr>
                </thead>
                <tbody md-body>
              
                    <tr class="searchbar" ng-show="isSearchBarOpen">
                        <td class="search-name-padding"><search datalist='intialThreatData' searchconfig='{listname:"intialThreatData", searchkeylocale: "!", key: "name"}' showicon='false'></search></td>
                    </tr>
                    <tr md-row md-auto-select md-select="singleThreat" md-select-id="name" ng-repeat="singleThreat in intialThreatData  | limitTo: query.limit: (query.page - 1) * query.limit" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-class="{highlighted : singleThreat.active}">

                        <td md-cell class="policy-name-header" style="cursor:pointer;" >
                        <!-- <span>{{singleThreat.name}}</span> -->
                            <md-button ng-class="{show : hover}" ng-show="is_delete_policy" ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="delete" ng-click='deletePolicy(singleThreat,$event)'>
                                <md-tooltip md-delay="0" md-direction="bottom">
                                    Delete
                                </md-tooltip>
                                <md-icon class="icon-18">delete</md-icon>
                            </md-button>
                            <md-button ng-class="{show : hover}" ng-show="is_create_policy" ng-disabled="promiseCompleted" class="md-icon-button md-primary md-hue-3" aria-label="duplicate" ng-click='duplicateThreat(singleThreat,$event)'>
                                <md-tooltip md-delay="0" md-direction="bottom">
                                    Duplicate
                                </md-tooltip>
                                <md-icon class="icon-18">content_copy</md-icon>
                            </md-button>
                            <span ui-sref="home.policy.threatdetectiondetail({policyId: singleThreat.id,tenantData:singleThreat.tenantData})">
                         <div ng-show="singleThreat.newPolicy === true" style="display: inline;"><span class="new-policy-added">new</span><span>{{singleThreat.name}}</span></div>
                        <div ng-show="singleThreat.newPolicy !== true" style="display: inline;"><span class="policy-name">{{singleThreat.name}}</span><span ng-show="singleThreat.duplicatedPolicy === true" style="color: #4a90e2;margin-left:10px;">  Click to edit name & settings</span>
                        </div>
                        </span>
                        </td>
                        <td md-cell><span>{{singleThreat.tenantData.name}}</span></td>
                          <!--<td md-cell><span ng-click="openGroups($event,singleThreat.name)" style="cursor:pointer;color:#4a90e2;">6</span></td>
                       <td md-cell><span>James Lee</span></td> -->
                        <td md-cell><span>{{singleThreat.lastModified | date:'MM/dd/yyyy'}}</span></td>
                    <!-- END -->        
                    </tr>
                </tbody>
                <tbody md-body ng-show='intialThreatData.length <= 0'>
                    <tr md-row md-auto-select >
                        <td colspan="100%" md-cell class="add-a-new-infra-msg">
                            No Threats available.
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </md-table-container>
    </div>
    <div flex></div>
    
    <div class="policy-page-footer">
        <md-content  layout="row" layout-align="space-between center" class="admin-footer">
            <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{(intialThreatData.length) ? intialThreatData.length : 0 }}" md-page-select>
            </md-table-pagination>
        </md-content>
    </div>
</div>
